@{
    ViewBag.Title = "Ihram";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }
        ul.a {
    list-style-type: square;
}
      </style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>What is Ihram and rulings on Ihram?</h4>
        @*<h5>1. Introduction</h5>*@
        <p>
            The literal meaning of ihram is “prohibiting.” Ihram is a sacred state which a Muslim enters in to perform hajj or ‘umrah. Pilgrims must enter into state of Ihram before crossing the Miqat. Hajj and ‘umrah rites begin by entering into the state of Ihram. It is recommended that one should perform the cleansing rituals before wearing the prescribed Ihram attire.
        </p>
        <p>
            <a style="text-decoration:underline">General guidelines about the Ihram</a>  
        </p>
        <p>
            <ul class="a">
                Male pilgrims wear just two sheets of unsown white cloth, one wrapped round the waist and the other covering the top of the body.
</p>
        <p>
            •	Women are free to wear what they please. Their clothing can be of any colour but it must conform to the Islamic code of dress.  
        </p>
        <p>
            •	Wearing the Ihram clothes does not mean one is in the state of Ihram.
        </p>
        <p>
            •	The state of Ihram [i.e. ritual consecration] begins when one utters the Niyah (make intention) for Hajj or ‘umrah. This is normally pronounced before entering a specific area called the miqat.  
        </p>
        <p>
            •	Ihram clothes must not be very thin as it may easily expose one’s body shapes especially if one sweats during the hot weather. 
        </p>
        <p>
            •	Menstruating or post-natal bleeding women must also enter into the state of Ihram before crossing the miqat. 
        </p>
        <p>
            •	Entering into state of Ihram is a high spiritual moment.
        </p>

        <p>
            <a style="text-decoration:underline">How to adopt Ihram?</a>
        </p>
        <p>
            •	Trim finger and toe nails if needed
        </p>
        <p>
            •	Shave under arm hairs if needed
        </p>
        <p>
            •	Shave pubic hairs if needed
        </p>
        <p>
            •	Men trim the moustache but not the beard (leave the beard as it is)
        </p>
        <p>
            •	It is sunnah to have a full body wash (perform ghusl)
        </p>
        <p>
            •	Men may use halal perfume on the head and the beard but not  on the Ihram clothes
        </p>
        <p>
            •	Women are strictly forbidden to apply perfume while in the state of Ihram or in the presence of men who are not their Mahram
        </p>
        <p>
            •	Recite niyah (make intention) out loud
        </p>
        <p>
            •	It is preferred that niyah is done after a salah. The Prophet (BPUH) did his niyah after performing salatul-Dhuhr.
        </p>
        <p>
            •	There is no such thing called salatul-Ihram as some books highlight this.    
        </p>
        <p>
            <a style="text-decoration:underline">How to wear Ihram attire?</a> 
        </p>
        <p>
            •	As mentioned earlier that men wear two pieces of seamless white cloth (such as towels), one fixed round the waist and the other thrown over covering both shoulders. 
        </p>
        <p>
            •	These can be secured with pins or a belt. 
        </p>
        <p>
            •	Men’s footwear should be simple and must not cover the ankles
        </p>
        <p>
            •	During ‘umrah and Welcome tawaf men’s right shoulder must be open. However, at all other times both shoulders must be covered. 
        </p>
        <p>
            •	Many men continue to walk with their right shoulders exposed even after completing Tawaf. It is certainly not right or has no basis in sunnah.
        </p>
        <p>
            •	Women are allowed to wear any normal clothes as long as the attire conforms to Islamic dress code; however, many prefer to wear a plain, ankle-length, long sleeved garment. 
        </p>
        <p>•	According to a hadith narrated Abdullah bin ‘Umar that a woman in the state of ihram should not cover her face and hands (Sahih Bukhari, 64; Chapter no: 29, Book of Penalty of Hunting while on Pilgrimage). </p>
        <p>
            •	The jurists agree that a woman’s ihram attire has to cover her head and hair and that she should let her head covering hang a little in front of her face so that she is veiled from the view of men, in accordance with what is related from Umm Aisha (radi Allahu 'anha), who said, “The riders would pass by us while we were with the Prophet (PBUH) and in the ritual state of Ihram. When one of them would ride next to us, we would take our Jilbaab and cover (coming down with the cloth from our heads) our face. When the rider would pass, we would uncover once again.” Abu Dawud:1833 & Ibn Majah: 2935 
        </p>
        <p>
            •	Conversely, there is no need to use baseball type hat to avoid scarf touching one’s face as evident during hajj & ‘umrah used by some women. There is no basis of this in sunnah. 
        </p>
        <p>
            •	Pilgrims can wear Ihram’s clothes at home and do niyah before crossing the miqat. 
        <p>
            •	The moment one utters niyah, at that point he/she enters into the state of Ihram, and from then on all 
        </p>
        <p>
            •	A pilgrim in the state of Ihram is called Muhrim.      
        </p>
        <p id="Prohibitions">
            <a style="text-decoration:underline">Prohibitions while in the state of Ihram.</a>
        </p>
        <p>
            •	Men must not wear any stitched clothing. There is no restriction for women.
        </p>
        <p>
            •	Men must not wear any underwear. 
        </p>
        <p>
            •   Must not trim his/her nails. 
        </p>
        <p>
            •	Must not cut his/her hair.
        </p>
        <p>
            •	Men to keep head and face uncovered at all times.
        </p>
        <p>
            •	Must not apply perfume, wear perfume clothes, nor use any perfumed products such as shampoo, soap, tissue etc.  
        </p>
        <p>
            •	Men must not wear shoes or socks. Sandals are allowed. There is no restriction for women.
        </p>
        <p>
            •	Must neither marry, give anyone else in marriage, nor propose marriage. 
        </p>
        <p>
            •	Must neither marry, give anyone else in marriage, nor propose marriage. 
        </p>
        <p>
            •	Must not hunt or participate in any kind of hunting (fishing is allowed).
        </p>
        <p>
            •	Must not get involved in idle talk or disputes such as fighting, arguing or quarrelling. 
        </p>
        <p>
            •	Must not get involved in harming oneself – some scholar say smoking falls under this category. Therefore, smoking is not allowed while in the state of Ihram. 
        </p>
        <p>
            <a style="text-decoration:underline">Permissible actions while in the state Ihram.</a>
        </p>
        <p>
            •	Wearing a wristwatch, eyeglasses, money belt, rings, sunglasses, hearing or speech aid
        </p>
        <p>
            •	Cleansing oneself including having a shower or bath with unscented soap; to wash and gently scratch one’s head and body,
        </p>
        <p>
            •	Changing Ihram’s garments to wear another Ihram set,
        </p>
        <p>
            •	Having a shelter over one’s head, whether in a car, under an umbrella, on in a tent or building
        </p>
        <p>
            •	Men are allowed to cover their feet (but not their head) while sleeping with their Ihram’s clothes or a blanket. 
        </p>
               
        </div>
    </div>
