@model HMS.ViewModels.Search

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/shared/_CompareHajj.Layout.cshtml";
}
<div class="searchresult">
    <div class="span2">
        <a href="http://www.utilitywarehouse.org.uk/C48555"><img border="0" height="600" src="http://www.utilitywarehouse.co.uk/banners/skyscraper.gif" width="120" /></a>
    </div>
<div id="searchResult" class="span8">
    @Model.SearchResultInfo
</div>
    <div class="span2">
        <a href="http://www.utilitywarehouse.org.uk/C48555"><img border="0" height="600" src="http://www.utilitywarehouse.co.uk/banners/skyscraper.gif" width="120" /></a>
    </div>
</div>