@{
    ViewBag.Title = "DeleteEvent";
    Layout = "~/Views/shared/_CompareHajj.Layout.Admin.cshtml";
}

<h2>Status</h2>
<div class="row-fluid">
    <h2>
        @TempData["status"].ToString();
    </h2>
</div>
