@{
    ViewBag.Title = "Introduction to Madinah";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}





<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        margin: 0 10px 1rem;
        background: #C7C7C7;
        height: 800px;
    }


    .hero-banner {
        margin-bottom: 1rem;
    }

        .hero-banner img {
            display: block;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #888888;
            font-size: 0.8rem;
            font-weight: 500;
        }

    /*.inline-ads {
        clear: left;
        margin: 5px 15px 10px 0;
    }*/

    .sidebar-ads {
        padding-top: 10px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-list {
        padding: 0 15px;
        padding-top: 5vh;
    }

        .post-list h4 {
            color: #252525;
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.3rem 0 0.5rem;
            border-bottom: 1px solid #aeaeac;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #aeaeac;
                box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }
    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li>Introduction to Madinah</li>
</ul>
<h2>Introduction to Madinah</h2>

<section class="page-container">
    <div class="main-content">
        <div class="hero-banner">

            @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@

            <img src="../content/images/map_of_madinah.jpg" att="Map of Madinah" />



            <span>Map of Madinah. [This map is not to scale. It has been used for a representation purpose only.]</span>
        </div>
        
        <p>Madinah does not need any lengthy introduction. It is one of the most beloved places on earth especially in the heart of every Muslim. Madinah is the city of our Prophet (pbuh) which gave him shelter when he was persecuted by Quraish from his own home. The people of Madinah embraced his preaching and supported his religion, and defended him with their lives, wealth and sons.  The  Prophet (pbuh) prayed for Madinah:</p>
        <p>
            "O Allah! Make Al-Madinah beloved, as we love Makkah - or more." (Al-Bukhari, 1889; Al-Muslim, 1376)
        </p>
        <p>Geographically, Madinah is situated in the Hejaz (a region in the west of present-day Saudi Arabia).  It is about 278 miles (350 km) north of Makkah and 120 miles (190 km) from the Red Sea coast. It is situated in the most fertile part of all the Hejaz territory, the streams of the vicinity tending to converge in this locality. An immense plain extends to the south; in every direction the view is surrounded by hills and mountains. According various ahadith,  the city of Madinah was also referred to as Yathrib and Tabah by the Prophet (pbuh) (Al-Bukhari, 1872; Muslim, 1396). </p>
        @*<div class="pull-left inline-ads">
                <img src="http://via.placeholder.com/200x250" alt="Alternate Text" />
            </div>*@
        <p>The status and sacredness of Madinah is well documented in the Quran and Hadith. Medina is mentioned several times as being sacred in the Quran, for example ayah; 9:101, 9:129, 59:9, and ayah 63:7.</p>
        <p>Narrated Anas: The Prophet said, "Madinah is a sanctuary from that place to that. Its trees should not be cut and no heresy should be innovated nor any sin should be committed in it, and whoever innovates in it an heresy or commits sins (bad deeds), then he will incur the curse of Allah, the angels, and all the people." (Al-Bukhari, Hadith No. 409, Vol 9)</p>
        <p>Regarding the virtue of Al-Madinah, Anas also says: "It is the home of migration and the Sunnah and it encompasses the martyrs and the Allah the Almighty, the All Powerful chose it for His Prophet (pbuh) and place his grave therein and in it is a Garden from the Gardens of Paradise and it is the pulpit of Allah's Messenger (pbuh). (Al-Bukhari, 1888; Al- Muslim, 1390 & 1391)   </p>
        <br />

    </div>
    <aside>
        <div class="post-list">
            <h4>More about Madinah</h4>


            <ul>
                <li>
                    <a href="../Information/VisitingProphetMosque">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/Content/images/Prophets_mosque_Thumbnail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="Prophet’s Mosque (Al-Masjid an-Nabawi )" />

                        <span style="color: #004d66"><strong> Visiting the Prophet’s Mosque </strong>- It is highly commendable. </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/PrayingatRiadulJannah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Riadul_jannah_Thumbs_nail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong>  Praying at Riad ul-Jannah -  </strong> a very special area located close to the front of the mosque.   </span>

                    </a>




                </li>
                <li>
                    <a href="../Information/VisitingProphetGrave">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@
                        <img src="~/content/images/Prophets_grave_Thumbnail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Visiting the Prophet’s Grave</strong>•	When visiting the grave the clarity of your intention is very important.  </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/NotableSitesAroundMadinah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Historic_sites_of_Madinah_thumb.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong> Historic sites around Madinah - </strong>Madinah is full of Islamic history.  </span>

                    </a>




                </li>
            </ul>

        </div>
    </aside>
</section>

