@{
    ViewBag.Title = "Praying at Riad ul-Jannah ";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        margin: 0 10px 1rem;
        background: #C7C7C7;
        height: 800px;
    }


    .hero-banner {
        margin-bottom: 1rem;
    }

        .hero-banner img {
            display: block;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #888888;
            font-size: 0.8rem;
            font-weight: 500;
        }

    /*.inline-ads {
        clear: left;
        margin: 5px 15px 10px 0;
    }*/

    .sidebar-ads {
        padding-top: 10px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-list {
        padding: 0 15px;
        padding-top: 5vh;
    }

        .post-list h4 {
            color: #252525;
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.3rem 0 0.5rem;
            border-bottom: 1px solid #aeaeac;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #aeaeac;
                box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }


    .arabicCSS p {
        font-size: 25px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }


    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li><a href="../Information/IntroductiontoMadinah">Introduction to Madinah</a></li>
    <li>Praying at Riad ul-Jannah</li>
</ul>
<h2>Praying at Riad ul-Jannah </h2>

<section class="page-container">
    <div class="main-content">
        <div class="hero-banner">

            @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@

            <img src="~/content/images/Riadul_jannah.jpg" alt="Carpet of Riadul Jannah" />



            <span>Carpet coloure of Riad ul-Jannah. Once you are in, you will notice the difference of coloure. </span>
        </div>

        <p>There is a very special area located close to the front of the mosque is called Riad ul-Jannah (Gardens of Paradise). It extends from the Prophet's grave (Rawdah) to his pulpit (minbar). The area marked by white pillars and different coloured carpets.  </p>
        <p>Abu Hurairah (May Allah be pleased with them) narrated that the Prophet (pbuh) said:</p>
        <p style="font-size:25px; text-align: right;">
            عَنْ أَبِي هُرَيْرَةَ ـ رضى الله عنه ـ عَنِ النَّبِيِّ صلى الله عليه وسلم قَالَ ‏"‏ مَا بَيْنَ بَيْتِي وَمِنْبَرِي رَوْضَةٌ مِنْ رِيَاضِ الْجَنَّةِ، وَمِنْبَرِي عَلَى حَوْضِي ‏"‏‏.‏

        </p>
        <p>"What lies between my house and the my pulpit is a Garden from among the Gardens of Paradise and pulpit is over my pool." (Al-Bukhari 1888; Muslim 1391)</p>
        <p>It is clear from the above hadith the status and importance of Riad ul-Jannah is veri high. Especially, during hajj season, entrance into the area is not always possible, as the space can only accommodate a few hundred people. The area is heavily controlled by the guard.  </p>
        <p>During your visit to the mosque, try to perform salah inside Riad ul-Jannah. If you are able to enter in the area, please try to be considerate. Think of other people who are waiting to pray here. Unfortunately, you will notice many people when enter Riad ul-Jannah, they have no consideration for anybody else and also have no intention to come out as if they have entered paradise forever. </p>
    </div>
    <aside>
        <div class="post-list">
            <h4>More about Madinah</h4>


            <ul>
                <li>
                    <a href="../Information/IntroductiontoMadinah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/map_of_madinah_ThumbsNail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="Map of Madinah" />

                        <span style="color: #004d66"><strong> Madinah</strong> - the most beloved place on earth especially in the heart of every Muslim. </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/VisitingProphetMosque">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Prophets_mosque_Thumbnail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="Prophet's Mosque" />

                        <span style="color: #004d66"><strong> Visiting the Prophet’s Mosque </strong>- It is highly commendable. </span>
                    </a>
                </li>

                <li>
                    <a href="../Information/VisitingProphetGrave">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@
                        <img src="~/content/images/Prophets_grave_Thumbnail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Visiting the Prophet’s Grave</strong>•	When visiting the grave the clarity of your intention is very important.  </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/NotableSitesAroundMadinah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Historic_sites_of_Madinah_thumb.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong> Historic sites around Madinah - </strong>Madinah is full of Islamic history.  </span>

                    </a>




                </li>
            </ul>

        </div>
    </aside>
</section>

