@{
    ViewBag.Title = "Safety Security And Fraud";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>



<ul class="breadcrumb">

    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li calss="breadcrum"><a href="~/Information/SaftySecurityAndFraud"><b>Safety Security And Fraud</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>

</ul>
<div class="row-fluid Footercontent">
    <div class="span6">

        <h4>Safety Security And Fraud</h4>
        <div class="span6">
            <ul id="ulhumore" class="ul">
                <li><a href="../Footer/HajjMarket">The Hajj Market </a></li>
                <li><a href="../Footer/UnderstandingPackages">How To Understand A Hajj Package? </a></li>
                <li><a href="../Footer/ShiftingPackages">What Is A ‘Shifting Package?’ </a></li>
                <li><a href="../Footer/ChoosingAgent">How To Choose An Agent? </a></li>
                <li> <a href="http://www.fitfortravel.nhs.uk/destinations/middle-east/saudi-arabia.aspx" target="_blank">Travel Health Information </a> </li>
                </ul>
        </div>
        <div class="span5">
            <ul id="ulhumore" class="ul">

                <li> <a target="_blank" href="https://www.gov.uk/foreign-travel-advice/saudi-arabia"> Travel alerts on FCO website </a> </li>
                <li> <a href="http://www.legislation.gov.uk/uksi/1992/3288/contents/made" target="_blank">Know your rights</a> </li>
                <li> <a href="#">Hajj fraud - National awareness campaign</a> </li>
            </ul>
        </div>
    </div>
    </div>
