
@{
    ViewBag.Title = "Travel Guide Saudi Arabia";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    
     .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
    .borderRight {
        border-right: 1px solid #DDD;
    }

  .row-fluid .span4 {
        border: 1px solid #DDD;
    }
    
    
    .ul {
        margin: 0 0 10px;
    }

       </style>

<ul class="breadcrumb">

    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li calss="breadcrum"><a href="~/Information/TravelGuaidSaudiAeabia"><b>Travel Guide Saudi Arabia</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>

</ul>
    <div class="row-fluid">
        <div class="Footercontent">
            <h4>Travel Guide Saudi Arabia</h4>
            <div class="span4">
                <ul id="ulhumore">
                    <li> <a href="../Footer/FactsAboutSaudiArabia">	Saudi Arabia: Key Facts And Statistics</a>
                    </li>
                    <li>

                        <a href="../Footer/HajjUmrahVisas">Hajj & ‘Umrah Visas</a> </li>
                    <li> <a href="#">Means of Travel</a>
                        <br />
                    </li>
                    <li> <a href="../Footer/HealthConsiderations">Health Considerations</a>
                        <br />
                    </li>
                    <li> <a href="../Footer/TravelItemRecommandations">Recommended Travel Items</a>
                        <br />
                    </li>
                    <li>
                        <a href="#">Currency</a>
                        <br />
                    </li> 
                </ul>
            </div>
            <div class="span4">
                <ul id="ulhumore">

                    
                    <li> <a href="../Footer/Accommodation">Accommodation</a>
                        <br />
                    </li>
                    <li> <a href="#">Weather</a>
                        <br />
                    </li>
                    <li> <a href="#">Bargaining</a>
                        <br />
                    </li>
                    <li> <a href="#">Beggar </a>
                        <br />
                    </li>
                    <li>
                        <a href="#">Historic sites of Makkah</a>
                        <br />
                    </li>
                    <li>
                        <a href="#">Historic sites of Madinah</a> <br />
                    </li>
                </ul>
            </div>
            <div class="span3">
                
                <img src="~/Content/images/TravelGuide.jpg" />       
              
            </div>
        </div>
        </div>
<br />
