@{
    ViewBag.Title = "What is Miqat?";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p li {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }




    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        color: #444;
    }

    .hero-banner {
        height: 410px;
        width: 100%;
    }

        .hero-banner img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #eee;
            font-size: 0.8rem;
            font-weight: 500;
            margin-left: 90px;
        }


    /* call - out container */
    .call-outs-container {
        max-width: 1400px;
        margin: 40px auto 0 auto;
        /*background-color: #4d0026;*/
        justify-content: space-between;
    }

    .call-out1 {
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        flex-basis: 75%;
        background-color: #4d4d4d;
    }

    .call-out2 {
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        flex-basis: 23%;
        background-color: #f4eee8;
        color: brown;
    }


        .call-out2 img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .call-out2 a {
            text-decoration: none;
        }


    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 10px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li>What is miqat and rulings on miqat?</li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>
<h2>What is miqat and rulings on miqat?</h2>
<div class="row-fluid">

    <div class="Footercontent">

        <div class=" call-outs-container">
            <div class="call-out1">
                <div class="hero-banner">





                    <img class="img-responsive" src="../../Content/images/Path.jpg" />
                    <span>[Miqat Demarcation: This map is not to scale. It has been used for a representation purpose only]. </span>
                    @*<p style="font-size:12px; text-align: center; color: black; padding: 10px">[Miqat Demarcation: This map is not to scale. It has been used for a representation purpose only].  </p>*@
                </div>

            </div>

            <div class="call-out2">

                <img src="~/content/images/add3.png" class="img-thumbnail" style="width:110px; height:110px; float:none;" alternate text" />

                <h4>  Five miqat boundaries and their distances from Al-Haram.</h4>

                <ol>

                    <li>
                        Dhul-Hulaifa (Abyar Ali)  - 450 km
                    </li>
                    <li> Dhat-Irq – 94 km </li>
                    <li>Qarn Al-Manazil (As-Sayl) – 75 km</li>
                    <li>Yalamlam (As-Sadiah) – 92 km</li>
                    <li>Rabigh (Al-Juhfa) – 183 km</li>
                </ol>

            </div>


        </div>

        <p>The literal meaning of miqat is “a stated time or place.” Time and location is the first condition of ihram, i.e. when and where to make intention to start the hajj and wear hajj attire for hajj to be valid.  The miqat of time denotes to a specific period of time when the rites of hajj have to be performed. The majority of the scholars agree that miqat of time comprise months of Shawwal, Dhul-Qada, and the first 10 days of Dhul-hijja. The scholars, however, disagree about the months of Dhul-hijja, whether or not only the first ten days of it are to be included in the months of hajj or the entire month. </p>
        <p>Conversely, the locations are specific places what are called mawaqit of hajj. The Prophet (pbuh) himself specified places for people coming from within and outside this demarcation to perform hajj and ‘umrah to Makkah. The implication of miqat here is that a person coming for either hajj or ‘umrah or both, before entering miqat, he or she must wear ihram clothes and declare intention (ni’ya) for hajj and/or ‘umrah, and be in a state of ihram (consecration) until all rites are completed.</p>
        <p>Please note the ruling on miqat equally applies to both hajj and ‘umrah, and Jeddah Airport is inside miqat boundary. As most people come by plane, it is important to note that they must wear their ihram attire and make intention before entering miqat – hence, in this case before arriving Jeddah. Anybody with the intention of performing ‘umrah or hajj, passes through the miqat boundary without ihram, is liable for sacrifice (expiation) an animal. This sacrifice has to be done either in Makkah, Mina or Muzdalifa area, not in one’s home country or any other place.  </p>

        <p>
            Many people, especially those fly from outside Saudi Arabia and their first entry point is Jeddah airport,  are confused with their miqat point. Please note Jeddah is not a miqat for Hajj or ‘Umrah, except for its citizens and residents, and for those who come to it for a reason other than Hajj or ‘Umrah, then decide to go for Hajj or ‘Umrah. But those who have a miqat before Jeddah, such as Dhu’l-Hulayfah for the people of Madinah and places beyond, or who come in line with it on land or in the air, or al-Jahfah for those who live there, or who come in line with it on land, on the sea or in the air, or such as Yalamlam as well, have to enter into ihram from their own miqat or when they come in line with it in the air or on the sea or on land. (Fataawa al-Lajnah al-Daa’imah. 11/130)
            If there is no miqat on a person’s route, then he or she should enter into ihram when they come in line with the nearest place to it, whether they are coming by land, by sea or by air. Airplane passengers should enter into ihram when they come in line with the miqat or, to be on the safe side, before they reach it, so that they will not pass it before entering ihram. Whoever enters ihram after passing the miqat is liable for animal sacrifice (fidyah). (Shaykh Ibn Jibreen, Fataawa Islamiyyah, 2/198)
        </p>
        <p>“Look for a place that is in line with it” means find a place that is parallel with the miqat and make that your meeqaat. (Al-Haafiz ibn Hajar, Fath al-Baari (3/389)</p>
        <p>Then again, if anyone reaches Jeddah without ihram because he or she wants to go to Madinah first and then intends to do Hajj when they travel from Madinah, in which case, there is no blame on them. This is because when they first went to Jeddah, they were not intending to do Hajj. As such, they are not required to assume ihram from the miqat when they pass by it.  Dhu’l-Hulayfah is the miqat for people travelling from Madinah. </p>
        <p>Apart from this, if anyone enters miqat for other than hajj or 'umrah (e.g. business trip, family visit etc.) and have no intention of performing hajj or 'umrah, but later on decides to perform, in that case they can assume ihram from where they are. This is because of the hadeeth of Ibn ‘Abbaas (may Allaah be pleased with him) when he mentioned the miqats: “…and whoever is living within these boundaries can enter ihram from the place where he starts and the same applies to the people of Makkah who may enter ihram from there.”  Narrated by al-Bukhaari (1454) and Muslim (1181). </p>
        <p>On the other hand, a person travels from his or her home country to Saudi Arabia with the firm intention of performing  Hajj and ‘Umrah,  in this case the person must enter ihram from the miqat that he or she passes by. It is not permissible for him or her to enter ihram from Jeddah as mentioned earlier that Jeddah is not a miqat and it is also proven in the hadith of the Prophet (pbuh) mentioned above. </p>
        <p>However, if someone does enter Jeddah without assuming ihram and comes to Makkah to perform Hajj or 'Umrah, in this case, according to the majority of scholars, he or she must offer a fidyah - a sacrifice that must be offered in Haram, and given in charity to the poor, for his or her Hajj and ‘Umrah to be  valid. It is also important to note that separate  fidyah must be offered for each member of the family or group.    </p>
        <p>Conversely, if someone did enter Jeddah with the intention of performing 'umrah and did not assume ihraam, but goes back to the meeqaat and enters ihraam from there, then they do not have to do any animal sacrifice. (Fataawa Arkaan al-Islam).  </p>
        <p>Also, it should be noted that it is not Sunnah to enter ihram before reaching the miqat. This is because the Prophet (peace and blessings of Allaah be upon him) did not do this, and he (pbuh) is the best of guidance. However, if a person is in a plane and cannot stop at the place that is in line with the miqat, then he may do what he thinks is more on the safe side so that he will not pass the miqat without being in miqat. </p>
        <h3>
            Ruling for people living inside miqat boundaries

        </h3>



        <p>
            Anyone living within these boundaries can assume Ihram from where they start. The people of Makkah should assume Ihram from Makkah. However, anyone who decides to perform ‘‘umrah while they are inside Al-Haram (all areas within the Sacred Sanctuary of Makkah), they should move to Al-Hill (all areas outside the Sacred Sanctuary of Makkah) and assume Ihram from there, as ‘Aishah (may Allah be pleased with her) did by the command of the Messenger of Allah (peace be upon him).
        </p>
        <p>
            The Prophet (peace be upon him) told her brother, Abdul-Rahman ibn Abu Bakr, to take her out of the Haram to Al-Tan‘im and let her assume ihram for ‘umrah. This was after performance of Hajj during the Farewell Hajj.
        </p>
    </div>
</div>
