@{
    ViewBag.Title = "Umrah Portal";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content=" Umrah Portal" />
    <meta name="Keywords" content=" a2z guide to how to perform hajj, easy guide to how to perform hajj, how to perform tawaf, hajj tawaf, umrah tawaf, umra tawaf, Welcome Tawaf, Tawaf-al-Qudoom, Tawaf for Hajj, Tawaf-al-Ifada also known as Tawaf –as-Ziyarah or Tawaf –al-Hajj, Farewell Tawaf, Tawaf-al-Widaa, Nafl Tawaf, number of rounds in tawaf, different types of tawaf" />
    <meta name="author" content="comparehajjpackages.com">
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

  
</style>

<ul class="breadcrumb">

    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li calss="breadcrum"><a href="~/Information/UmrahPortal"><b>Umrah Portal</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>

</ul>
<div class="row-fluid Footercontent">
    <div class="span6">

        <h4> Umrah Portal</h4>


        <ul id="ulhumore" class="ul">
            <li><a href="../Footer/UmrahRitesAtAGlance">Umrah Hajj at a glance</a></li>
            <li><a href="#">‘Umrah in General  </a></li>
            <li><a href="#">‘Umrah in Ramadan</a></li>
            <li><a href="../Footer/miqat">What is Miqat and Rulings on Miqat?</a></li>
            <li><a href="../Footer/Ihram">What is Ihram and Rulings on Ihram?</a></li>
            <li><a href="../Footer/StepByStepGuideToUmrahHajj">Step By Step Guide to ‘Umrah Hajj </a></li>
            <li><a href="../Information/IntroductiontoMadinah">Introduction to Madinah</a></li>
            <li><a href="../Information/VisitingProphetMosque">Visiting Prophet’s Mosque</a></li>
            <li><a href="#">Praying at Raudahtul Jannah </a></li>
            <li><a href="../Information/VisitingProphetGrave">Etiquette of Visiting Prophet’s Grave</a></li>
            <li><a href="../Footer/HajjUmrahGlossary">Hajj and Umrah Glossary</a></li>
        </ul>

    </div>
    <div class="span3">
        <img src="~/Content/images/UmrahPortal.jpg" />

        @*<img src="~/Content/images/datetreepng.png" />*@
        
        @*<img src="~/Content/images/UmrahPortal.jpg">*@



    </div>
</div>