@{
    ViewBag.Title = "Visiting Prophet's Mosque";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content=" Visiting Prophet's Mosque" />
    <meta name="Keywords" content=" a2z guide to how to perform hajj, easy guide to how to perform hajj, how to perform tawaf, hajj tawaf, umrah tawaf, umra tawaf, Welcome Tawaf, Tawaf-al-Qudoom, Tawaf for Hajj, Tawaf-al-Ifada also known as Tawaf –as-Ziyarah or Tawaf –al-Hajj, Farewell Tawaf, Tawaf-al-Widaa, Nafl Tawaf, number of rounds in tawaf, different types of tawaf" />
    <meta name="author" content="comparehajjpackages.com">
}
@{
    ViewBag.Title = "Visiting the Prophet’s Mosque";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        margin: 0 10px 1rem;
        background: #C7C7C7;
        height: 800px;
    }


    .hero-banner {
        margin-bottom: 1rem;
    }

        .hero-banner img {
            display: block;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #888888;
            font-size: 0.8rem;
            font-weight: 500;
        }

    /*.inline-ads {
        clear: left;
        margin: 5px 15px 10px 0;
    }*/


    .sidebar-ads {
        padding-top: 10px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-list {
        padding: 0 15px;
        padding-top: 5vh;
    }

        .post-list h4 {
            color: #252525;
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.3rem 0 0.5rem;
            border-bottom: 1px solid #aeaeac;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #aeaeac;
                box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }
    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Information/IntroductiontoMadinah">Introduction to Madinah</a></li>
     <li>Visiting the Prophet’s Mosque </li>
</ul>
<h2>Visiting the Prophet’s Mosque (Al-Masjid an-Nabawi )</h2>

<section class="page-container">
    <div class="main-content">
        <div class="hero-banner">

            @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@

            <img src="../content/images/Prophets_mosque.jpg" att="Prophet’s Mosque (Al-Masjid an-Nabawi )" />



            <span>Prophet’s Mosque (Al-Masjid an-Nabawi )</span>
        </div>
        <p>It is highly commendable to visit the Prophet's (pbuh) mosque.  Ibn Umar reported from the Prophet (pbuh) that he said:  </p> <br />
        <p style="font-size:25px; text-align: right;"> عَنْ أَبِي هُرَيْرَةَ ـ رضى الله عنه ـ أَنَّ النَّبِيَّ صلى الله عليه وسلم قَالَ ‏ "‏ صَلاَةٌ فِي مَسْجِدِي هَذَا خَيْرٌ مِنْ أَلْفِ صَلاَةٍ فِيمَا سِوَاهُ إِلاَّ الْمَسْجِدَ الْحَرَامَ ‏"‏‏.‏</p>
        <p>"Prayer in this Mosque of mine is better than a thousand prayers in any other mosque, except the Sacred Mosque." (Al-Bukhari 1190; Muslim 1394)</p>
        <p>However, it is vitally important that we understand visiting the city of Madinah or Prophet's (pbuh) grave is not part of hajj rites. One's hajj will not be invalid if he or she does not visit Madinah. Unfortunately, many hajj books quote various fabricated ahadith as it is a great sin if someone does not visit the Prophet's grave as part of hajj. </p>
        <p>Here are some of examples fake statements about visiting Madinah that are unfortunately found in many hajj guide books:</p>
        <ul>

            <li>
                "Whoever performs the Hajj and does not visit me has shunned me."
            </li>

            <li>
                "Whoever visits me after my death, it will be as if he visited me during my life."
            </li>
            <li>
                "Whoever visits me and my father, Ibraheem in the same year, Allah will guarantee him Paradise."
            </li>
            <li>
                "Whoever visits my grave, will receive my intercession."
            </li>
        </ul>
        <h4>The etiquettes and manners for visiting the mosque</h4>
        <p>
            There are some general customs and manners Muslims are required to observe when visiting a mosque. These are briefly mentioned below:
        </p>
        <ul>
            <li>
                To wear smart, nice, clean and pure clothes;
            </li>
            <li>
                To ensure his body and garments are free from any bad odours;
            </li>
            <li>
                It is sunnah to enter the mosque with one's right foot and to say:<br /><br />
                <p style="font-size:25px; text-align: right;"> بِسْمِ اللهِ وَ الصَّلاَةُ وَالسَّلاَمُ عَلَى رَسُوْلِ اللهِ </p><br />(“Bismillahi wassalatu wassalamu alaa Rasoolillahi”)(“In the name of Allah and blessings and peace be upon the Messenger of Allah”).
            </li>
            <li>
                Then say the following:<br /><br />
                <p style="font-size:25px; text-align: right;"> أَعُوْبِاللهِ الْعَظِيمِ، وَبِوَجْهِهِ الْكَرِيْمِ، وَسُلْطَانِهِ الْقَدِيمِ مِنَ الشَّيْطَانِ الرِّجِيْمِ، اللَّهُمَّ افْتَحْ لِىْ أبْوَا بَ رَحْمَتِكَ </p><br /><p>(“A’outhu billahil-a’adtheem, wa bi waj’hihilka-reem, wasultaanihilqadeem, minashaytaanir-rajeem, Alhamdummaftahlee abwaabarahmatik.”) (“I seek refuge in Allah the Great, and His Honourable face and His ancient authority from the accursed Shaytaan. Oh Allah open for me the doors of Your mercy”). </p>
            </li>
            <li>	It is highly recommended to perform two rak'at Tahiyatul Masjid (salutation to the mosque) anywhere in the mosque in the direction of Qiblah, but not towards the grave. </li>
            <li>	While in the mosque, one should not raise his voice whether in prayer or delivering salutations of peace, or when reciting the Quran.     </li>
        </ul>

    </div>
    <aside>
        <div class="post-list">
            <h4>More about Madinah</h4>


            <ul>
                <li>
                    <a href="../Information/IntroductiontoMadinah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/map_of_madinah_ThumbsNail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Madinah</strong> - the most beloved place on earth especially in the heart of every Muslim. </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/PrayingatRiadulJannah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Riadul_jannah_Thumbs_nail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong>  Praying at Riad ul-Jannah -  </strong> a very special area located close to the front of the mosque.   </span>

                    </a>




                </li>
                <li>
                    <a href="../Information/VisitingProphetGrave">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@
                        <img src="~/content/images/Prophets_grave_Thumbnail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Visiting the Prophet’s Grave</strong>•	When visiting the grave the clarity of your intention is very important.  </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/NotableSitesAroundMadinah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Historic_sites_of_Madinah_thumb.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong> Historic sites around Madinah - </strong>Madinah is full of Islamic history.  </span>

                    </a>




                </li>
            </ul>

        </div>
    </aside>
</section>

