@{
    ViewBag.Title = "Visiting Prophet's Grave";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content=" Visiting Prophet's Grave" />
    <meta name="Keywords" content=" a2z guide to how to perform hajj, easy guide to how to perform hajj, how to perform tawaf, hajj tawaf, umrah tawaf, umra tawaf, Welcome Tawaf, Tawaf-al-Qudoom, Tawaf for Hajj, Tawaf-al-Ifada also known as Tawaf –as-Ziyarah or Tawaf –al-Hajj, Farewell Tawaf, Tawaf-al-Widaa, Nafl Tawaf, number of rounds in tawaf, different types of tawaf" />
    <meta name="author" content="comparehajjpackages.com">
}
@{
    ViewBag.Title = "Visiting the Prophet’s Grave";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        margin: 0 10px 1rem;
        background: #C7C7C7;
        height: 800px;
    }


    .hero-banner {
        margin-bottom: 1rem;
    }

        .hero-banner img {
            display: block;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #888888;
            font-size: 0.8rem;
            font-weight: 500;
        }

    /*.inline-ads {
        clear: left;
        margin: 5px 15px 10px 0;
    }*/

    .sidebar-ads {
        padding-top: 10px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-list {
        padding: 0 15px;
        padding-top: 5vh;
    }

        .post-list h4 {
            color: #252525;
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.3rem 0 0.5rem;
            border-bottom: 1px solid #aeaeac;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #aeaeac;
                box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }
    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li><a href="../Information/IntroductiontoMadinah">Introduction to Madinah</a></li>
    <li>Visiting the Prophet’s Grave</li>
</ul>
<h2>Visiting the Prophet’s Grave</h2>

<section class="page-container">
    <div class="main-content">
        <div class="hero-banner">

            @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@

            <img src="~/content/images/Prophets_grave.jpg" alt="Prophet’s Grave" />



            <span>The grave of the holy Prophet (pbuh)</span>
        </div>

        <p>When visiting Prophet's  grave the clarity of your intention is very important. Your intention must not be just to visit the grave of the Prophet (pbuh) itself, rather it should be to visit and pray in the mosque. It is a sunnah for a person to undertake a journey with the intention of going to the Prophet's Mosque. The Prophet (pbuh) said: </p>
        <p>" Do not saddle up your riding beast except to three mosques: My Mosque the Sacred Mosque and Al-Aqsa Mosque." (Al-Bukhari 1189; Muslim 1397)</p>
        <p>Once you are is in the mosque, you may visit the Prophet's grave and that of the graves of two companions, Abu-Bakr (R) and 'Umar (R). </p>
        <p>Those who claim that it is lawful and strongly propagate to undertake a visit to the Prophet's grave, base their evidence on fabricated ahadith, pointed out by scholar of Hadith such as Ad-Daraqutni, Al-Baihaqi, Al-Hafiz Ibn Hajr and others (Mubarakpuri, 2002).</p>

        <h4>Etiquette to observe during visiting the grave:</h4>
        <ul style="line-height:1rem;">
            <li>
                There are three graves side by side and when you approach towards the graves, the first one is the grave of Prophet (pbuh) followed by the graves of Abu-Bakr and Umar (May Allah be pleased with them). The actual graves cannot be seen, they are covered by golden metallic gates.
            </li>
            <li>
                when you come near to the Prophet's grave, stand respectfully and give salutation of peace in low voice by saying:<br />
                "As-salamu 'alykum yaa Rasulallah wa rahmatullahi wa barakatuhu." (May the peace, mercy and blessings of Allah be upon you, O Messenger of Allah!)

            </li>
            <li>
                Then move about two steps to the right, that is the grave of Abu-Bakr(May Allah be pleased with him) and extend your greetings to him by saying:<br />
                "Assalamu 'alykum yaa Abu-Bakr." (Peace be upon you, Oh Abu-Bakr)
            </li>
            <li>
                Now move another two steps and extend your greetings to Umar (May Allah be pleased with him) by saying:<br />
                "Assalamu 'alykum yaa Umar." (Peace be upon you, Oh Umar)
            </li>
            <li>	It is not permissible for anyone to wipe his hands over the trellis or kiss it; or cry and ask the Prophet (pbuh) to fulfil your desire or relieve from distress or illness or any other wish. In fact this type of act is gravely sinful and regarded as associating partners with Allah and worship of other than Him.  </li>


        </ul>

    </div>
    <aside>
        <div class="post-list">
            <h4>More about Madinah</h4>


            <ul>
                <li>
                    <a href="../Information/IntroductiontoMadinah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/map_of_madinah_ThumbsNail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Madinah</strong> - the most beloved place on earth especially in the heart of every Muslim. </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/VisitingProphetMosque">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Prophets_mosque_Thumbnail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Visiting the Prophet’s Mosque </strong>- It is highly commendable. </span>
                    </a>
                </li>
                <li>
                    <a href="../Information/PrayingatRiadulJannah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Riadul_jannah_Thumbs_nail.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong>  Praying at Riad ul-Jannah -  </strong> a very special area located close to the front of the mosque.   </span>

                    </a>




                </li>
                <li>
                    <a href="../Information/NotableSitesAroundMadinah">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Historic_sites_of_Madinah_thumb.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong> Historic sites around Madinah - </strong>Madinah is full of Islamic history.  </span>

                    </a>




                </li>
            </ul>

        </div>
    </aside>
</section>

