@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>About us</h4>

        <h5>So what is the story behind Comparehajjpackages.com?</h5>
        <p> <i>
    “Unexplainable unless you experienced it by yourself! It is just over whelming - the greatest trip on earth - The journey of a life time.” </i>These are only a few echoes of millions of Muslims on earth who had the privilege to experience Hajj at least once in their life time. Hajj is the only act of worship in Islam which involves both physical and financial scarifies; and it requires an extensive level of physical, mental and spiritual preparations to perform all rituals from beginning to end. Probably, due to the grand nature of this worship, Allah has commanded Muslims (upon whom this worship is obligatory) to perform Hajj only once in their life time. Obviously one can do more than once if they wish to, but the requirement by the shari'ah is once. After the first one, the rest are counted as voluntary. Therefore, the first one carries more weight than the rest.
</p>
        <p>
            The journey which needs most planning, preparations and provisions to take with compared to any other journey on the face of the earth; it is not irony that scores of people set out to this expedition (Hajj) with bare minimum preparation or no preparation at all. As such they encounter many problems, and make some serious mistakes often due to lack of knowledge. Some of these mistakes are so grave which may in validate one’s Hajj. Instead of getting reward one can earn sin. For example, in one occasion, we have come across people entered Jeddah Airport without entering into the state of Ihram (ritual consecration). This was not only a breach of obligatory requirement of Hajj that one must enter into Ihram before crossing the miqat, but more importantly they were not even in realisation that they made a mistake, and this mistake needed to be rectified in a certain way. While, in another context a person has realised that he made a mistake in his ritual performance, but he has no clue as to how to rectify this mistake and where to seek help from. These are only a few examples of typical problems that people encounter during Hajj, with most of these are nothing but due to lack of preparation before going to Hajj.
        </p>
        <p>
            Nowadays substantial amount of resources are available online and in print media on Hajj and ‘Umrah. Also various community centres and mosques run Hajj seminars for potential pilgrims especially before Hajj. However, a vast majority of the people are unaware of these Hajj seminars and the availability of resources; therefore they do not access information that are vital for their preparations. Some time where information is available, the authenticity and quality of such material is also questionable especially unreferenced Hajj and Umrah guides that one can find in the market. This makes life more difficult for a general person to assess what is true or false and what to follow.

        </p>

        <p>
            Another facet of the problem is that every year there is always one or two odd stories in the media related to Hajj fraud – ‘somewhere in the world, a group of devoted pilgrims have been victim of Hajj fraud – rouge agent ran way with money.’ Many good websites talk about as to what measurement to take to prevent fraud. However, there is a general tendency within the community to use word of mouth referral when making a booking for Hajj and Umrah packages. This type of decision making process is generally turns out to be right except few incidents that we hear in the media. Nevertheless, it is certainly not wise just to rely on word of mouth and avoid safety checks that are available to assess if an agent is genuine or not.

        </p>
        <p>

            The yearning to develop such a website comes from personal and also many people’s shared experiences of Hajj and ‘Umrah. Many people feel that although a vast amount of resources available in the market, there is no one central place where pilgrims can fulfil their both practical and spiritual aspects of preparations. For example, a book on Hajj guide may be a perfect feed for spiritual preparations; however, for package information they have to look for individual Hajj and ‘Umrah travel agent. Every effort has been made here to provide everything a potential pilgrim needs to go to Hajj and ‘Umrah.
        </p>
        <p>
            The main purpose of this website is to promote the importance of preparations among Muslims who are thinking of embarking on this journey of their life time and also provide them with a central platform where they can find information on practical elements of preparation such as ticket, visa, accommodation and also the spiritual preparations, such as, how to perform Hajj or Umrah and so forth, so that a pilgrim can take best possible preparation.

        </p>
        <p>
            Finally, no matter how much preparation one takes beforehand and how much money you spend on packages, be prepared to expect unexpected – throughout the journey your patience will be tested. Please bear in mind that Hajj is not easy. There must be a reason for why Allah (SWT) has left this act of worship very challenging. Allah could have made this very easy. Only Allah knows best.

        </p>
        <h5>So what is this Comparehajjpackages.com about?</h5>
        <p>

            Comparehajjpackages.com is basically a web based search engine facilitating Hajj and Umrah pilgrims to search and compare Hajj and ‘Umrah packages that are available on the market. The site also provides information on as to how to understand a package and assess features between different packages before making a decision. In addition to package information, the major aspect of this site is to provide authentic information from Qur’an and Hadith regarding actual rituals of Hajj and ‘Umrah.
        </p>
        <p>

            The use of Comparehajjpackages.com site is absolutely free. Anyone can browse and search the site at any time. We don’t even ask a user to register/sign up to use the site. The only time we ask for your details if you are interested to receive our newsletter, articles or future deals or you want us to contact you if you have any queries. When a pilgrim finds a package, we link them through directly to Hajj and ‘Umrah package sellers.
        </p>
        <h5>Is Comparehajjpackages.com non-biased? </h5>
        <p>
            People often ask us whether the information provided on Comparehajjpackages.com is impartial. At this juncture, we can firmly state that we do not sell any packages nor we have any affiliation with individual package seller.
        </p>
        <p>
            With regard to educational information on the site we ensure that only authentic and referenced based materials are uploaded. We are also not loyal to any individual Islamic school of thoughts. Therefore, you may find information including difference of opinion on a subject matter.
        </p>
        <p>
            However, it is also important to make it clear here that for legal reasons we have commercial agreements with individual agents to display their information on our site.
        </p>
        <h5>Do we have any financial objectives? </h5>
        <p>
            Although the use of this site is completely free especially to browse and search, we would like to make it absolutely clear here that there is a financial income generation string attach to this project. We intend to generate income from our listing and commercial advertisement services on the site.
        </p>
        <p>
            At Comparehajjpackages.com, we aim to help you make the most of your money by enabling you to compare packages and prices in order to find the best deal to match your requirements. As well as offering comparison tables, time to time we also endeavour to produce articles, videos, webchats and guides to help to choose the right packages for your needs.
        </p>
        <p>
            <a href="#">Below there are some common questions to help you understand exactly how omparehajjpackages.com works and how we aim to generate income. </a>
         </p>
        
        <h5>What packages and providers does Comparehajjpackages.com show?</h5>
        <p>
            Where possible, Comparehajjpackages.com 's comparison tables include the entire Hajj and Umrah market. However, there are some occasions where we cannot  and  we do not - most commonly because the package seller itself has requested us that a certain packages be removed from our listings - and in such instances we do not list their information on our site.
        </p>
        <h5>So how does Comparehajjpackages.com generate income?</h5>
        <p>
            Comparehajjpackages.com has commercial arrangements in place with many of the Hajj and Umrah package seller listed on the site.
        </p>
        <p>
            With regards to most package information, we get paid depends on number of people viewed that particular package listing on our website. In some cases, we get paid on a "pay per click" basis, which means that we receive payment from the provider if a customer clicks through from our site, regardless of whether they go on to buy or not.
        </p>
        <p>
            While we can and do, display products from package seller we don't have a commercial arrangement with, the only packages you can apply for directly by clicking through from Comparehajjpackages.com are those where there is a commercial arrangement in place. If you see a package you want to buy but there is no 'proceed' button you will need to visit the provider's website in order to purchase.
        </p>
        <p>
            Our main income is derived from customers clicking through from results pages and buying packages. However, we also have a number of other smaller revenue sources, such as onsite advertising. In the same way as newspaper and other online advertising works, some companies pay to have adverts on our site - these usually appear down the right and left hand side of pages or as banner ads across the top.
        </p>
        <h5>Do these commercial arrangements affect the price I pay?</h5>
        <p>
            No. Purchasing a package through Comparehajjpackages.com will not cost you any more than if you bought direct from the provider.
        </p>
        <h5>How packages are displayed on Comparehajjpackages.com's results tables?</h5>
        <p>
            We rank results by price. The most competitive rate appears at the top. If you opt for a full list of providers offering the product you are interested in buying, a full results table will be displayed.
        </p>
        <p>
            However, at the top of the results page you may see some 'Sponsored Products' listed. The providers have paid for their product to appear in this section. Scroll down the page and you'll see how competitively priced those packages are in comparison with the rest of the market.
        </p>
        <h5>What else is shown in Comparehajjpackages.com's results tables?</h5>
        <p>
            While price or rate is the most influential factor for many people when they're deciding which package to buy, it isn't the only thing to take into account. We therefore show other package features which may have a bearing when you're deciding which deal to go for.
        </p>
        <p>
            Different considerations need to be taken into account depending on what package you are looking for. For example, factors such as duration of the package or hotel’s distance from the Masjid Al-Haraam and so forth could influence which package you go for.
        </p>
        <p>
            As well as displaying additional package information in the results tables, our guides, articles and videos should also help if you're unsure about which deal to go for.
        </p>
        <h5>If I get a quote for a package through Comparehajjpackages.com, are my details safe?</h5>
        <p>
            Comparehajjpackages.com is not a travel company. It does not sell any travel packages. When someone visits to our site, when simply link the person to the companies who advertise on our platform. We do not sell personal or customer data to third parties so you can use Comparehajjpackages.com with confidence.  When you visit a travel company site to purchase or make enquiry about hajj or 'umrah packages, we strongly advise that you read their terms and conditions and cookies policy. 
        </p>

    </div>
</div>