@{
    ViewBag.Title = "Accessibility";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Accessibility</h4>
        <p>At comaprehajjpackages.com, we firmly believe, and recognise and value the provision of information on this website in a format which is accessible to all, regardless of ability or disability. As such, in developing the website we have given the utmost effort to comply with internationally accepted web standards, including accessibility guidelines, in order to make it accessible to as many people as possible. We have given particular attention to apply the highest technical standards relating to this website which are concentrated on enriching the Hajj and ‘Umrah Portal as well as raising accessibility to all its content.  All pages on this site should be valid to HTML 5, use CSS 3 and conform to the WCAG A standard.  </p>
        <h5>Standards Compliance</h5>
<ul>
    <li>Valid CSS: Our web pages are styled using valid CSS3 code. We validate our pages regularly to ensure this standard is maintained.</li>
    <li>Accessibility: The comaprehajjpackages.com is built with <u>WCAG 2.0</u> recommendations in mind. There is every possibility we may fall short in total compliance as some of the guidelines require interpretation and we have used informed judgement to implement them with the needs of users foremost in mind. Also we have working methods in place to try to maintain this level of accessibility.</li>
    <li>New web content: Where we plan to develop new contents, we review our pages to assess what needs to be done, to conform to the new guidelines and to devise an implementation plan.</li>
    
</ul>
        <p>Standards and guidelines do not necessarily address all accessibility issues, so we particularly encourage anyone having difficulties using our site to contact us directly so we can fix any outstanding problems. Comments or suggestions on any matter concerning our website, including the accessibility of our pages, can be sent to the Web Master.</p>
        <h5>Navigation Aids</h5>
        <p>We have incorporated the following features into the site to help you find your way around:</p>
        <p><strong><i><u>Search box</u></i></strong></p>
        <ul>
            <li>
                We have incorporated a search box on the Home and Ask the Scholar pages allowing you to type in search terms according to your requirement.
            </li>
        </ul>
        <p><strong><i><u>Site map</u></i></strong></p>
        <ul>
            <li>
                If you are having any trouble locating the information you are looking for, a full site map is available at the footer under the General section on every page.
            </li>
        </ul>
        <p><strong><i><u>Breadcrumb trail</u></i></strong></p>
        <p>
            We have provided a breadcrumb trail feature above the main content of each page to show you the path from the home page to where you are in the site.
        </p>
        <p><strong><i><u>Links</u></i></strong></p>
        <ul>
            <li>
                We try to ensure all our link text is written to make sense out of context.
            </li>
            <li>
                We have used title attributes where appropriate to give further information about the target of a link.
            </li>
            </ul>
        <h5>
            Visual design
        </h5>
        <p><strong><i><u>Presentation</u></i></strong></p>
        <ul>
            <li>
                We use stylesheets for visual layout combined with structured markup of headings, paragraphs and lists to separate content from presentation.
            </li>
            <li>
                The content of our pages is still readable if stylesheets are turned off or unavailable.
            </li>
            <li>
                We have used relative font sizes on our pages to ensure text is re-sizeable in visual browsers. See below instructions for how to resize text in different browsers.
            </li>
        </ul>
        <p><strong><i><u>Images</u></i></strong></p>
        <ul>
            <li>
                All content images have alt text providing equivalent text to describe their function.
            </li>
            <li>
                Purely decorative images have empty alt text, i.e. alt="", which means screen readers ignore the images completely.
            </li>

        </ul>
        <h5>
            Browser and device compatibility
        </h5>
        <p>
            We test our pages to ensure the information they contain is accessible and responsive in a range of different browsers and devices as well as with screen reading software. By adhering to web standards we avoid the use of features specific to one browser. However, if you experience problems whilst using assistive software to access our site, please do let us know.
        </p>
        <h5><u>How to make the text larger and set the text colour in different web browsers</u></h5>
        <p>
            These instructions are applicable with the browser names listed below.
        </p>
        <p style="color: DodgerBlue   "><font size="4">Microsoft Internet Explorer</font></p>
        <ul>
            <li>
                Newer versions of Internet Explorer include a zoom feature that allows you to increase the whole web page.
            </li>
            <li>

                Use the keyboard by pressing CTRL and ' + ' to zoom in and CTRL and ' - ' to zoom out.
            </li>
            <li>
                If you are using a mouse with a scrollwheel you can scroll text and images bigger and smaller by holding down the CTRL button on the keyboard and scrolling the scrollwheel at the same time.
            </li>
            <li>
                Or choose the Tools menu at the top of the browser window (Alt+X)
            </li>
            <li>
                A list of options will appear in the drop down menu, choose Internet Options
            </li>
            <li>
               A 'General' window will open, with 'Appearance' at the bottom of the window.
            </li>
            <li>Select 'Colors' to change the font colour, or 'Fonts' to change the font size.</li>
            <li>The text in your browser should now appear in the size and colour you have selected.</li>
            <li>
                You may need to use the 'Accessibility' options to choose to ignore font size and colour set by the website.
            </li>
            <li>
                See the Microsoft website for more information about accessibility options in <a href="http://windows.microsoft.com/en-gb/internet-explorer/ie-accessibilty-options#ie=ie-11">Internet explorer.</a> 
            </li>
        </ul>
        <p style="color: DodgerBlue   "><font size="4">Chrome</font></p>
        <p>Using a mouse:</p>
        <ul>
            <li>
                Click the 'Customise and control Google Chrome' button (the spanner to the right of the address bar).
            </li>
            <li>
                Select the 'Settings' option
            </li>
            <li>
                Select 'Show advanced settings'
            </li>
            <li>
               Scroll down to the 'Web content' heading
            </li>
            <li>
                Next to 'Zoom' in the menu, click the plus or minus buttons to increase or decrease the text size
            </li>
            <li>
               Alternatively you can use the 'Customise fonts...' button to change the font size.
            </li>
              </ul>
        <p>
            Using the keyboard:
        </p>
        <ul>
            <li>
                To increase the text size press Ctrl + + on the numeric keypad (hold down Ctrl and press +), or Ctrl + = on the main keyboard
            </li>
            <li>
                To decrease the text size press Ctrl + -
            </li>
            <li>
                To return to the default font size press Ctrl + 0
            </li>
        <li>
            See the Google website for more information about accessibility features in <a href="https://support.google.com/chromebook/answer/177893?hl=en">Chrome.</a> 
        </li>
        </ul>
        <p style="color: DodgerBlue   "><font size="4">Firefox</font></p>
        <p>
            Firefox uses a Zoom feature that resizes the whole web page.
        </p>

        <ul>
           <li>You can use the keyboard by holding down the CTRL button whilst pressing the '+' key to zoom in or the '-' key to zoom out.</li> 
            <li>Or go to View > Zoom > Zoom in OR Zoom out</li>
            <li>If you are using a mouse with a scrollwheel you can scroll text and images bigger and smaller by holding down the CTRL button on the keyboard and scrolling the scrollwheel at the same time.</li>

        </ul>
        <p>The default Zoom setting will automatically resize all the images present on the page as well as the text. So if you increase the size of text, images get bigger and vice versa. Our site makes use of large billboard images with graphic text which can be made larger using this feature. However, if you wish to resize only the text without enlarging the images you can disable automatic image resizing in Firefox.</p>
        <ul><li>Go to View > Zoom and check 'Zoom Text Only'.</li></ul>
        <p>Firefox will also remember the preferred Zoom text size setting you have used for individual sites you visit and will display them at the same size when you visit them again.</p>
        <ul><li>To change the font colour, go to 'Tools' and then click on the 'Content' tab.</li>
        <li>
            Select 'Colors...' to set the colour.
        </li>
        <li>
            See the Mozilla website for more information about setting fonts and colours in <a href="https://support.mozilla.org/en-US/kb/accessibility-features-firefox-make-firefox-and-we#w_fonts-and-colors">Firefox.</a>   
        </li>
        </ul>

        <p style="color: DodgerBlue   "><font size="4">Safari</font></p>
        <p>
            The following feature will increase and decrease the size of text and images on the screen for better visibility.
        </p>

        <ol>
            <li>
                Press and hold down the COMMAND key on your keyboard.
            </li>
            <li>
                At the same time as holding the COMMAND key:
                <ul>
                    <li>
                        press the + key to increase the size of the text and images or
                    </li>
                    <li>
                        press the ‘-‘ key to decrease the size of the text and images.
                    </li>
                </ul>
            </li>

                            <li>
                   Keep repeating Step 2 until you reach the desired size.
                </li>
            
        </ol>
    <p>
        To change the type, size and colour of your font and the background colour:
    </p>
        <ol>
            <li>
                Select the Safari menu, then select Preferences.
            </li>
            <li>
                Select Appearance, which is the second option on the right.
            </li>
            <li>
                Under Standard font, select the Select button. Choose your desired font type, size and colour.
            </li>
            <li>
                Click OK on the Preferences screen.
            </li>
        </ol>
        <p>
            For accessibility features in Safari see the <a href="http://www.apple.com/safari/#accessibility">safari </a> website produced by apple.
        </p>
        <p style="color: DodgerBlue   "><font size="4">Opera</font></p>
        <p>
            From the View menu:
        </p>
        <ul>
            <li>
                Select Zoom and then the percentage you require to increase or decrease the text.
            </li>
        </ul>
        <p>
            Using the keyboard:
        </p>
        <ul>
            <li>
                Use the '+' and '-' keys to increase or decrease the text by 10% at a time.
            </li>

        </ul>
        <p>
            For more information regarding Opera, please visit <a href="http://www.opera.com">http://www.opera.com</a>
        </p>
    </div>
</div>