@{
    ViewBag.Title = "Hajj & 'Umrah Accommodation";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        
        <h4>Accommodation</h4>

        <p>Hotels of all types are available throughout the Saudi Arabia. Many local and international hotel companies operate most tourist cities (i.e. Jeddah, Makkah, Madinah, Taif, Al Abha) in the country. During Hajj seasons every single hotels are occupied. Even five star hotels are crowded and accommodate more than usual number of people in one room. You may check this with the agent before making the booking if this is the case with your package. Then at least you know what to expect when you get there.  </p>
        <p>Apart from this, there are also very affordable and spacious short-term furnished rental apartments. Hajj and ‘Umrah package organising agents take these properties on lease from private owners and offer them to pilgrims. These private property owners are also required to have license from the Ministry of Hajj, KSA to let their property to pilgrims. However, since 2007 there has been shortage of such private rental properties. This is due to Haram extension project. The buildings which historically accommodated many hajjis (pilgrims) from all over the world have been demolished to execute extension project. As a result to cover the shortage of accommodations, over the years a shifting type package has emerged. Some agents are now offering accommodations to pilgrims bit far away from Ka’ba for a cheaper rate. </p>
        <p>All accommodation’s prices are based on occupancy, quality and distance from the Ka’ba. Higher the occupancy is the lesser price and vice versa. However, it is important to note that one may go to Hajj and ‘Umrah on his own or in a group but the requirement is that all your accommodation and visa must be arranged through an agent approved by the Ministry of Hajj, Kingdom of Saudi Arabia.</p>
        <p>Apart from Makkah, as part of hajj, pilgrims are also required to spend time in Mina, Arafat and Muzdalifa. In Mina and Arafat tents are provided by the Authority. Pilgrims stay in Mina on the 8th, 10th, 11th, 12th & 13th of Dhul-hijja. On 9th Dhul-hijja, pilgrims travel from Mina to Arafat. In Arafat, the tents are normally big and wide open. Pilgrims do not stay overnight in Arafat. Both, in Arafat and Mina, people are accommodated by their country from which travelled from and their tents are pre-allocated.  </p>
        <p>On the night of 9th Dhul-hijja (if we count this in Islamic way, then it is the night of 10th Dhul-hijja, because in Islamic counting night comes first and then day), i.e. the night after returning from Arafat, pilgrims stay overnight in Muzdalifa where no accommodation is provided. People sleep on the street, under the bridge and in the tunnels or anywhere people find a place. It is important that pilgrims must carry sleeping bags or any portable straw mat for Muzdalifa. The experience of Muzdalifa is remarkable.</p>
    </div>
    </div>

