@{
    ViewBag.Title = "Advertise";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Advertise</h4>
        <p>
            Do you want your business to get exposure to millions of hajj & ‘umrah travellers? With a very minimal flat rate we can help you to achieve this. Comparehajjpackages.com is one of the best vehicles for your business if you want to reach Hajj and ‘Umrah travellers from the UK.</p>
        <p>From ROS banners to email newsletters, we would be happy to work with you to create a focused media plan for your business on <a href="http://www.comparehajjpackages.com/"> www.comparehajjpackages.com </a> </p> 
           
        <p>For more in depth information, custom advertising, promotions, pricing, advertising rate and term and conditions, please send us an email through our @Html.ActionLink("Contact us", "Create", "ContactUs", new { }, null) form. </p> 
             
       
</div>
</div>