@{
    ViewBag.Title = "AnimalSacrifice";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    /*.Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 14px;
        }*/

    #btninformation {
        background-color: #D95902 !important;
    }

    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 10px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 1;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 1;
        background: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
</style>

<section class="page-container">
    <div class="main-content">

        <h2>Animal Sacrifice</h2>

        <p>
            Animal Sacrifice falls under two main categories. These are namely obligatory sacrifice and voluntary (supererogatory) sacrifice.  Within obligatory, there are then again three sub-categories. These are:
        </p>

        <ol>
            <li>
                <b>Hady</b>
                <ul>
                    <li>
                        This sacrifice is performed by Tamattu and Qiran pilgrims. It is an obligatory requirement for them.
                    </li>
                    <li>
                        This is neither a penalty nor expiation.
                    </li>
                    <li>
                        Hady cannot be performed in one’s home country. It must be sacrificed either in Makkah, Mina or Muzdalifa only.
                    </li>
                    <li>
                        For hady, pilgrim can sacrifice one sheep or goat or share a camel or a cow with 6 other pilgrims.
                    </li>
                    <li>
                        However, if one cannot afford to sacrifice, then he or she must fast 10 days (3 days during hajj, prior to the 8th of Dhul-hijja and 7 days after returning home country). [Surah Al-Baqarah: 196]
                    </li>
                    <li>
                        The pilgrim may eat from the Hady meat.
                    </li>
                </ul>
            </li>

            <br />
            <li>
                <b>Fidyah</b>
                <ul>

                    <li>
                        The Fidyah is a means of compensation. It is also known as dumm.
                    </li>
                    <li>
                        The Fidyah sacrifice is performed by pilgrims who:
                        <ul>
                            <li>
                                misses an obligatory of rites of hajj, e.g. throwing stones at the Jamarah, putting ihram attire and making intention before entering the miqat boundary, or leaving Makkah without performing Tawaf al Wida (Farewell Tawaf)  etc.,
                            </li>
                            <li>
                                violates an ihram restrictions during the state of ihram, e.g. wearing perfume or due to ill medication conditions (e.g. wearing underwear for incontinence problem) or need to remove split nail due to injury etc..
                            </li>
                            <li>
                                commits a crime within the sacred precincts of Haram while in the state of ihram, for example hunting or cutting tress the within the sacred.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Fidyah meat must be distributed among the poor in the Makkah area.
                    </li>
                    <li>
                        Note, there is no expiation for any sexual relations during ihram. This action invalidates hajj completely.
                    </li>

                </ul>

            </li>



            <br />


            <li>
               
                <b>Udhiya</b>
                <ul>
                    <li>
                        The Udhiya sacrifice is performed by people who are not performing hajj. This is also referred as Qurbani that is performed by Muslims all over the world during Eid-ul-Adha.
                    </li>
                </ul>
            </li>
        </ol>




        <p>
            On the contrary, a voluntary sacrifice could be a sacrifice which is performed by Mufrid (pilgrims who undertake Ifrad Hajj) or by pilgrim who only performs ‘umrah only. To both groups, in normal circumstances animal sacrifice is not an obligatory requirement, unless they are required to pay penalty for missing an obligatory action of hajj or violating ihram restrictions.
        </p>
    </div>
    </section>
