@{
    ViewBag.Title = "Choosing a Travel Agent";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }
         .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
}

    /*table, th, td {
        border: 1px solid black;
    }*/

    .textaline {
        text-align: right !important;
    }
     /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>
<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/SafetySecurity">Safety Security and Fraud</a></li>
    <li>How to Choose a Hajj and ‘Umrah Travel Agent?</li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>How to Choose a Hajj and ‘Umrah Travel Agent</h2>
 
        <p>
            Choosing an agent is a vital part of Hajj and Umrah preparations. The Ministry of Hajj of Kingdom of Saudi Arabia produces a guideline as to what to look for when choosing a Hajj and Umrah Travel Agent. It is important that pilgrims understand these criteria and apply them when buying a hajj or ‘umrah package. These criteria are briefly mentioned below:  
        </p>
        <ol>
            <li>
                Pilgrim should choose an agency registered with the Saudi Ministry of Hajj. Only registered agents are authorised by the Hajj Ministry to organise International Hajj and Umrah Trips. 
            </li>
            <li>
                An approved agent has four digit license number issued by the Ministry. Pilgrims can check if an agent is approved or not by visiting Ministry’s Hajj Portal at <a href="http://www.haj.gov.sa/en" target="_blank">www.haj.gov.sa/en</a>  
            </li>
            <li>
                Registered agencies are more likely to be aware of the latest rules and regulations of processing visas and other necessary requirements to organise Hajj and ‘umrah trips. 
            </li>
            <li>
                Registered agents are accountable to the Ministry; therefore if pilgrims are unhappy with an agent for a genuine reason, then they can file a complaint to the Ministry against that agent. 
            </li>
            <li>
                The Ministry also highlights that a sales contract [sales invoice] between Hajj and Umrah travellers and Agent must include the following details: 
            </li>
            <ol type="i">
                <li>
                    Full itinerary including flight class, dates and name of the transporting airlines and sea carriers, and if any stops en route.
                </li>
                <li>
                    Types of accommodations (hotel or building) where pilgrim will be staying during the trip and their distances from the Holy Mosque in Makkah Al- Mukkarramah and the Prophet’s Mosque in Al-Madinah Al-Munawwarah . Accommodation should include information about total duration of stay. 
                </li>
                <li>
                    Catering service included in the package including type of food will be provided in Makkah, Madinah and at the sacred sites namely Mina, Arafat and Muzdalifah. 
                </li>
                <li>
                    Type and class of transportation service will be provided during pilgrimage. 
                </li>
                <li>
                    Type and class of transportation service will be provided during pilgrimage.  
                </li>
            </ol>
            <li>
                The Ministry of Hajj also warns pilgrims not to fall in the trap of fake and low-cost service packages that are occasionally advertised by rogue agents and ask for cash payment.  
            </li>
            <br/>
            <p style="color: DodgerBlue   "><font size="4">Other points pilgrims may also consider are follows;</font></p>
            
            <li>
                Check if the agent is registered with the local regulatory body of the country concerned. In the case of UK, it is ATOL (Air Travel Organisers' Licensing). 
            </li>
            <li>
                Some agents include knowledgeable and experienced spiritual guide with groups. No matter how much information you have accumulated from books and lectures, you may still encounter situations related to hajj and ‘umrah rituals when you need an immediate answer. A knowledgeable guide is very helpful at that moment of time.
            </li>
            <li>
                Having a female guide with the group is also helpful for sisters performing pilgrimage. You may ask your agent whether there will be such a person with your group. 
            </li>
            <li>
                Most agents cost their hajj and ‘umrah packages from the main city of the country such as from London to Jeddah. If you live elsewhere and unless you make your own arrangement, make sure you ask your agent to include the cost of domestic air fare with the package. 
            </li>
            <li>
                Some agents take pilgrim to Madinah first instead of Makkah. Time spent in immigration queue in Madina is usually less. You may consider this before booking your package whether you want to go Madina or Makkah first? 
            </li>
            <li>
                Ask the agent about the location of the tent in Mina. If you know beforehand how long it will take to go to Jamarat from your tent, you can take some mental preparation. 
            </li>
            <li>
                Some agents provide free Saudi SIM cards with their packages. This could be a time saver; otherwise you may have to wait in a long queue to get a SIM card while in Saudi Arabia. 
            </li>
            <li>
                You may check any testimonials of your agent – what other people said about them. This may a good indicator for selecting an agent. 
            </li>
         
        </ol>
          
        <p>
            Finally, despite all preparation and planning that you have done, still be prepared not to get what you have paid for or you have been promised. Many things can happen that totally outside the control of an agent. So try to see such situation from both sides. 
        </p>
       
</div>
</div>