@{
    ViewBag.Title = "Common Misconceptions";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        table, th, td {
        width:200px;
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: fixed;
    }
    th, td {
    padding: 5px;
    }

    th {
    text-align: center;
    background-color: #303030;
    color: white;
}
    table#t01 {
        width: 100%;
        background-color: #EBEBEB;
    }
</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Common misconceptions about hajj and ‘umrah</h4>

        <p>
            There are many misconceptions within the community about hajj. Some of which are briefly discussed below. Many misconceptions are because of hearsay. There is no basis of such views in the Quran or Hadith. Unfortunately many people blindly believe and follow these actions. 
        </p>
        <table id="t01">

            <tr><th>Misconceptions</th><th>Correct Opinion</th></tr>
            <tr>
                <td>
                    <ul>
                        <li>If someone only performs ‘umrah anytime time during the year, then he or she must perform hajj in the same year?</li>
                        <li>If one performs ‘umrah during hajj months, then he or she must perform hajj in the same year?</li>
                        <li>A person is not allowed to perform ‘umrah in the hajj months if he or she does not intend to perform hajj as well?</li>
                    </ul>




                </td>
                <td>There is no reference or instruction in the Quran or in Hadith about this.   </td>
            </tr>

            <tr><td>
                    <ul><li>One should not go to hajj without getting their marriage-aged children married.  
                        </li>
                </ul>
                </td>
           
            <td>There is no such reference in the Qur’an or in Hadith about this. </td></tr>

            
            <tr>
                <td>
                    <ul>
                        <li>
                            If someone has financial debts, he or she should not go to Hajj. 
                        </li>
                    </ul>
                    </td>
                <td>
                    Having financial ability is a fundamental requirement to qualify for hajj. If a person does not have sufficient money left after spending on basic needs, then the hajj is not obligatory upon him or her. However, if someone has a long-term debt commitment, for example, one may have borrowed large amount of money from friend and relatives or any other source to buy a house or to do business and for which he or she has made an agreement with the debtors to pay in instalments over a period of time, and he or she is making payments according to the agreement – in such situation a Muslim should not delay his or her hajj. Because in the future you might not be physically able to perform hajj. 
                </td>
                </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Reward for praying one nafl salah at Al-Masjid an-Nabawi is equal to performing 50,000 salah in other places.  
                        </li>
                    </ul>
                    </td>
                <td>
                    The correct opinion is the reward for praying salah at Al-Masjid an-Nabawi is equal to performing 1000 salah. Narrated: Abu Huraira
                    that Allah's Messenger (SAW) said, "A salah in this, my mosque is better than a thousand in any other except themasjid al-Haram." [Ahmed 7257, Bukhari 11901, Muslim 1394, Nisai 2899, Ibn e Majah 1464, Tirmidhi 325 ]

                </td>
            </tr>

            </table>
        <br>
        <h4 id="commonmistakes">
            Common mistakes people make during hajj and ‘umrah
        </h4>
        <table id="t01">
            <tr><th>Mistakes</th><th>Correct Way</th></tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Women not making niyah to enter into the state of Ihram before crossing Miqat boundary, because of having menstruation or post natal bleeding at the time of crossing. She is thinking that she cannot pronounce Niyah until she is purified.    
                        </li>
                    </ul>
                </td>

                <td>
                    Regardless of their situation, menstruating and post-natal bleeding, women must do Niyah and enter into the state of Ihram as others before crossing the Miqat.
                </td>

            </tr>



            <tr>
                <td>
                    <ul>
                        <li>
                            Pilgrim doing animal sacrifice in home country or some other country instead of Makkah. 
                        </li>
                    </ul>
                </td>

                <td>
                    Performing the sacrifice in your country or any other country is not valid according to sunnah. The sacrifice must be performed in the Mina, Makkah or Muzdalifa area. 
                </td>

            </tr>


            <tr>
                <td>
                    <ul>
                        <li>
                            Sitting outside Arafat boundary 
                        </li>
                    </ul>
                </td>

                <td>Many people attend khutbah in masjid Namirah (Nimra)(mosque in Arafat). Please note, Nimra mosque does not completely lie within the boundary of Arafat. A large portion of this mosque is outside the boundary of Arafat. The Ministry of Hajj’s sign clearly shows the boundary of Arafat. Make sure you are inside Arafat. Without this rite, one’s hajj is not valid. This rite cannot be performed in any other day or rectified through animal sacrifice.  </td>

            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Some people believe that if they are not in Masjid Namirah (mosque in Arafat), they are not allowed to join their prayers with the Imam from the tents. 
                        </li>
                    </ul>
                </td>

                <td>This is not correct. People are permitted to join prayers even from the tents. </td>

            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Leaving Arafat before sun set
                        </li>
                    </ul>
                </td>

                <td>To avoid crowd, you may see some people leave Arafat before sunset. This is certainly against sunnah. For hajj to be valid, pilgrims must stay in Arafat until sunset. Maghrib salah is not performed in Arafat. Only after sunset, one should go to Muzdalifah and pray Maghrib and ‘Isha there. </td>

            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            During  tawaf walking through the hateem
                        </li>
                    </ul>
                </td>

                <td>Tawaf must be performed outside and around the Ka’ba. Do not enter the Hateem (Commonly known as Hijr Isma’il, which  situated to the north of Ka’ba. It is surrounded by semicircular wall).  Thus if someone were to walk within the Hateem, his or her tawaf will not be valid. It will not be counted as one. He or she has to repeat this particular round again.</td>

            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Man wearing stitched ihram attire
                        </li>
                    </ul>
                </td>

                <td>Nowadays a new form of ihram cloth is available for male pilgrims in the market which are joined but claims to be stitched free.  There is no conclusive agreement among the scholars about the permissibility of such ihram clothes. It is better to avoid what is doubtful.  </td>

            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Wearing foot gear not acceptable 
                        </li>
                    </ul>
                </td>

                <td>Men’s footwear should be simple and must not cover the ankles. Many stylish foot gear now available in the market which do not fulfil ihram’s requirement. </td>

            </tr>


            <tr>
                <td>
                    <ul>
                        <li>
                            Covering face with sleeping bag at Mina
                        </li>
                    </ul>
                </td>
                <td>
                    Covering face with sleeping bag or with anything else while in ihram is not permitted. 
                </td>
            </tr>
        </table>
</div>
</div>
<br>