@{
    ViewBag.Title = "CommonMistakes";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>CommonMistakes</h4>

    </div>
</div>
