@{
    ViewBag.Title = "Confused";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Confused? Don’t know how to choose a package?</h4>
        @*<h5>1. Introduction</h5>*@
        <p>
            Over the years the Hajj and ‘Umrah market have grown very rapidly in many folds. There are now more pilgrims visiting Makkah (Mecca) than before. The number of travel agents also increased in relative scale selling more packages to pilgrims. As such there is a fierce competition in the market - agents are competing between themselves and offering variety of packages to attract pilgrims. These agents are positioning their packages in the market with different emphasis ranging from package price to star rating of accommodation highlighting duration of package (e.g. 10 days package, 2 week package etc.) to attract different target groups. Some agents describe their packages through star rating such as three star, four star, five star packages; while other depict the same package as platinum, gold or deluxe package, or essential package and so forth. The whole thing makes it very difficult for a person as to what to look for when assessing a package especially who is planning to go to Hajj and ‘umrah for the first time. To make your package selection process easy, we have produced a checklist for people like you to understand differences between packages.  Our aim is to help you to make an informed decision when buying a package. This checklist is just a guide to understand how a package is developed and number of elements it can include.   
        </p>
        <h4>Checklist: How to assess and evaluate a Hajj and ‘umrah package? </h4>
        <p>This is a simple checklist that one can use it as a guide but this is no way an exhaustive list. Before you apply this checklist, we suggest you to write down your own wish list. Then you can compare which agent is offering most what you are looking for.</p>
        <P>
            <table class="table">
                <tr><th><b>Topic guide / parameter</b></th><th><b>Your question</b></th><th><b>Note</b></th><th><b>Your answer</b></th></tr>
                <tr><td>Flight </td><td>What does the package include - direct or indirect flight? </td><td>One may have choice of direct or indirect flight? Before you book, tell your agent about your preference.</td><td></td></tr>
                <tr><td>Hajj or ‘umrah Visa </td><td>Some agents mention on their publicity that visa fee included in their package. </td><td>Please note this is not something extra. All approved agents are required by the Saudi Ministry of Hajj to provide visa services to pilgrims. </td><td></td></tr>
                <tr><td>Price</td><td>Is the price too low or too high? </td><td>Check what does this price include?</td><td></td></tr>
                <tr><td>Madinah or Makkah first</td><td>What does the package itinerary say -   Madinah or Makkah first?</td><td>This information is important as this will determine where and when you do your niyah and wear ihram attire.</td><td></td></tr>
                <tr><td>Duration </td><td>What is the duration of the package? </td><td>What is the duration of the package? </td><td></td></tr>
                <tr><td>Draft Included</td><td>Does your package include draft? </td><td>Most agents usually offer this.  </td><td></td></tr>
                <tr><td>Shifting Accommodation</td><td>What does the package include - shifting or non shifting accommodation?   </td><td>If you have any preference about accommodation, then you need to check which agent is offering the type of accommodation you are looking for?  </td><td></td></tr>
                <tr><td>Distance of accommodation from Masjid al-Haraam, Makkah  </td><td>How far is the accommodation from Masjid al-Haraam, Makkah?  </td><td>This information is important as this will help you to plan before going there?  </td><td></td></tr>
                <tr><td>Distance of accommodation from Masjid-an Nawabi, Medina</td><td>How far is the accommodation from Masjid-an Nawabi, Medina?  </td><td>This information is important as this will help you to plan before going there?  </td><td></td></tr>
                <tr><td>Accommodation - occupancy (men/women separate) </td><td>What type of occupancy does the package include – single, double, triple or more sharing in one room?  </td><td>Type of occupancy affects package price. Single or double occupancy is more expensive than sharing with more people in one room.</td><td></td></tr>
                <tr><td>Accommodation class (e.g. 5 stars or standard etc.)</td><td>What is the star rating of the accommodation you will be staying in? </td><td>Although star rating is an universal classification of standard, during Hajj most accommodation providers find difficult to provide same level of standard.</td><td></td></tr>
                <tr><td>Distance from Jamarat</td><td>You may want to find how far the tent will be in Mina? </td><td>Allocation of tent is normally by the country of origin.  </td><td></td></tr>
                <tr><td>Transport Included as per provision by Hajj Ministry</td><td>What transport arrangements are in place? </td><td>During hajj, transportation service is provided by the Ministry of Hajj. That’s why at time of visa processing, the Saudi Government charges a fee to provide transportation service to all pilgrims. </td><td></td></tr>
                <tr><td>Meal</td><td>What type of meal is included in your package? E.g. half board, full board etc. </td><td>There are plenty of restaurants available everywhere in Makkah and Madinah.  </td><td></td></tr>
                <tr><td>Guide included during Hajj</td><td>Does your package include a guide person? </td><td>Some agents offer an experience guide person throughout the journey.  </td><td></td></tr>
                <tr><td>Pre-Hajj seminar</td><td>Will the agent undertake any seminar before going to Hajj? </td><td>Now-a-days most agents organise seminar for their clients. It is vital that you attend a Hajj seminar before leaving home country. </td><td></td></tr>
                <tr><td>Saudi SIM card</td><td>Will the agent provide a Saudi SIM card before leaving your home country? </td><td>Having a Saudi SIM card is very helpful. You can leave your number to relative to contact you in case of emergency. </td><td></td></tr>
                <tr><td>Ziarat Tours (Historical sightseeing tours)</td><td>Does the package include visit to historical sites? </td><td>Visiting historical site is not a part of Hajj rituals, but one may take this opportunity to visit some of the sites since they are there. </td><td></td></tr>
                <tr><td>Qurbani Included</td><td>Does your package include Qurbani? </td><td>Sometime with an additional cost, some agents provide this service to pilgrims.</td><td></td></tr>
                <tr><td>ATOL Protected</td><td>Is your agent approved by ATOL (Air Travel Organisers' Licensing)?</td><td>ATOL scheme is to protect people who have purchased package holidays and flights from a member tour operator in the event of the operator going bust./td><td></td></tr>
                <tr><td>Saudi Government Approved (Ministry of Hajj)</td><td>Is your agent approved by the Saudi Ministry of Hajj?</td><td>Only registered agents are authorised by the Hajj Ministry to organise International Hajj and ‘umrah Trips.</td><td></td></tr>

            </table>
        </P>
</div>
</div>
