@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Contact us</h4>
        <p>
            Have a question? We are happy to help. Please read our FAQ before sending us a message. You may find your answer. Or perhaps you have a suggestion about our site, we would love to hear from you.
        </p>
        <p>
            Still need help?
        </p>
    </div>
</div>