@{
    ViewBag.Title = "Du’as For Hajj & ‘Umrah";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
      #btninformation {
        background-color: #D95902 !important;
    }

    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .arabicCSS p {
        font-size: 30px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

          .inline-ads {
        clear: left;
        margin: 5px 25px 10px 10px;
        height: 230px;
        width: 180px;
        background-color:  #e6e6e6;
        border: 1px solid #808080;
                   
    }

    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #00e6e6;
    margin: 5px 0;
    width:20%;
  
}

        /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/

</style>
<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li>Du’as for Hajj and ‘Umrah</li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">

        <h2>Du’as for Hajj and ‘Umrah</h2>

        <p>
            Many hajj and ‘umrah guide books have a long list of beautiful du’as for each tawaf circuits and sa’i and so forth. Not only that, these books strongly recommend pilgrims to memorise and read only these selected du’as during hajj and ‘umrah.
        </p>
        <p>
            In fact there is no evidence in the Qur’an and Hadith about this which refer as particular du’as for each tawaf circuits, except for the du’a between the Rukn-al-Yamani corner and the Hajr-al-Aswad (Black Stone), i.e.
        </p>
        <div class="media-body arabicCSS">
            <p id="arabicpara">
                رَبَّنَا آتِنَا فِي الدُّنْيَا حَسَنَةً وَ فِي الآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النَّارِ
            </p>
            </div>
            <p>
                (“Our Lord! Give us in this world that which is good and in the Hereafter that which is good and save us from the torment of the Fire!”).
            </p>
        <hr />
        <div class="pull-left inline-ads">

            @*<img src="http://via.placeholder.com/200x250" alt="Alternate Text" />*@

            <img src="~/content/images/CompareHajjManagement.jpg" att="Alternate Text" />
            <h4 style="color:#0077b3; text-align:center">Some selected du'as from Quran & Hadith</h4>

            <br />
            <p style="text-align:right; padding-right:5px; color:#0077b3;"> <a href="../Footer/SelectedDuas"><strong>Read more</strong></a></p>
        </div>
            <p>
                Let’s make it clear. There is no doubt, mostly these listed du’as are from Qur’an and hadith. What we are saying that these are not specific to hajj or ‘umrah. Nothing wrong if one reads these du’as during hajj and ‘umrah. However, one must not think that without these listed du’as your hajj will be invalid or you will get less reward.
            </p>
            <p>
                Unfortunately, due to such long list of du’as, many people are busy memorising these before going to hajj. As such, they give less attention and effort to leaning hajj rites. Those who are unable to memorise these du’as, they take guide books with them and try to read by looking at while doing tawaf or sa’i or any other rituals. Per se they lose the essence of hajj. Their concentration is on getting the wordings of du’a is right, rather than thinking of Allah (the Creator) and the day of judgement and repentance for the past sins. Their body is there, but the feelings, emotions and humility before Allah are missing.
            </p>
        <p>
            It is also important to note here that, although some guide books explicitly spell out and highlight that these are a mere list of du’as which can be read in any context of life, many potential pilgrims do not realise this, rather they take this as indispensable du’as without which their hajj will be unacceptable.
        </p>
            <p>
                Certainly, we should make conscious effort to memorise and apply as many du’as as we can in our life. The Prophet (pbuh) said, “du’a is (the essence of) worship,” however, thinking these listed du’as are must for hajj and ‘umrah, we think this is not right. In another hadith, the Prophet (pbuh) said, “The best form of worship is du’a.” (Al-Hakim 1/491; Al-Sahihah 1579). Du’a creates a direct link between a person and Allah. Allah says in the Qur’an, “And your Lord has stated: Make du’a to Me, I will (of a surety) respond to you” (Surah Ghafir: 60).There is no doubt that du’a holds a very high esteemed status in Islam.

            </p>
            <p>
                The main reason for writing a section under the title of ‘Du’as for Hajj & ‘Umrah’, is particularly to highlight this issue that any du’a is perfectly fine as long as it fulfils all conditions of du’a. The best du’as are those mentioned in the Quran and hadith. While we are learning new du’as, at the same time, we should make sure that we are also learning hajj and ‘umrah rites perfectly. If you make a mistake in performing hajj rites, it may necessitate you animal sacrifice as a penalty, while the du’a will not. Therefore, we need to prioritise and balance our learning to attain an accepted hajj.
            </p>
            <p>
                To conclude, what we advise everyone including ourselves that when making du’a, whether it is during hajj and ‘umrah, or in any other context of our life, it is imperative that we understand the principles and etiquette of du’a. People with weak faith often get frustrated when they see their du’as have not been answered by Allah. This happens to them because they lack understanding of how du’a works. In such situation, instead of earning rewards one may earn sins and lose faith. [May Allah protect us from falling into the trap of shaytan].
            </p>
            <p>
                Jabir ibn ‘Abdillah stated the Prophet (pbuh) said: “There is no person who asks Allah for anything except that Allah gives it to him, of keep away from him a similar evil, as long as he does not ask for something evil or for breaking the ties of kinship.” At this, a person said to the Prophet (pbuh): “In that case, we will ask for plenty!” The Prophet (pbuh) responded: “ Allah (is even) more plentiful!” (Tirmidhi, 2827)
            </p>
            <p>
                There are many good du’a books available in the market. The book entitled ‘The Fortress of Muslim’ (‘Hisnul Muslimin’) published by Darussalam, is a widely used du’a book. What we advise, when you pick up a du’a book, just make sure that the book is referenced with Qur’an and hadith.
            </p>
        </div>

        </div>

