@{
    ViewBag.Title = "Facts About Saudi Arabia";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>

<div class="row-fluid">
    <div class="Footercontent">
        <h4>Saudi Arabia: Key Facts and Statistics </h4>
        <p>Saudi Arabia is the largest Arab state by land area (approximately 2,150,000 km2 (830,000 sq mi)), constituting the bulk of the Arabian Peninsula. </p>
        <ul>
            <li>Full name: Kingdom of Saudi Arabia </li>
            <li>Location: The Middle East, bordering Iraq 814 km, Jordan 744 km, Kuwait 222 km, Oman 676 km, Qatar 60 km, UAE 457 km, Yemen 1,458 km</li>
            <li>Population: 28.7 million (UN, 2012)</li>
            <li>Capital: Riyadh</li>
            <li>Area: 2.24 million sq km (864,869 sq miles) </li>
            <li>Climate: harsh, dry desert with great temperature extremes</li>
            <li>Major language: Arabic</li>
            <li>Major religion: Islam</li>
            <li>Monetary unit: 1 Riyal = 100 halalah</li>
            <li>Main exports: Oil, gas, cereals</li>
            <li>GNI per capita: US $17,820 (World Bank, 2011)</li>
            <li>Internet domain: .sa</li>
            <li>International dialling code: +966</li>
            <li>
                National Airlines: Saudi Arabian Airlines operating as Saudia is the flag carrier airline of Saudi Arabia
            </li>
            
        </ul>
        <p><strong>The press </strong></p>
        <ul>
            <li>Al-Watan - Abha-based daily</li>
            <li>Al-Riyadh - Riyadh-based daily</li>
            <li>Okaz - Jeddah-based daily</li>
            <li>Al-Jazirah - Riyadh-based daily</li>
            <li>Al-Sharq - Riyadh-based daily</li>
            <li>Al-Hayat - Saudi pan-Arab daily, based in London</li>
            <li>Al-Sharq al-Awsat - Saudi pan-Arab daily, based in London, site in English</li>
            <li>Arab News - Jeddah-based English-language daily</li>
            <li>Saudi Gazette - Jeddah-based English-language daily</li>
        </ul>
    </div>
</div>
