
@{
    ViewBag.Title = "HajjFraud";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">

     #btninformation {
        background-color: #D95902 !important;
    }

    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
         /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/SafetySecurity">Safety Security and Fraud</a></li>
    <li>Be aware of hajj fraud</li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>Be aware of hajj fraud</h2>
        <p>
            Going on Hajj is one of the most spiritual and rewarding experiences in someone’s life. Every year millions of people from around the world travel to Makkah to perform hajj. From the UK alone, there is about 20,000 to 25,000 pilgrims travel every year. This number does not include 'umrah haj travellers who travel throughout the year. If umra figure is included here, surely this number will be lot higher.  
        </p>

        <p>Hajj packages are sold by licensed travel companies who are approved by the Saudi Ministry of Haj and 'Umra. However, pilgrims should be aware that sometime unlicensed rogue travel companies operate in the community. Their prime target is to exploit potential pilgrims. </p>
        <p>Hajj fraud is not an old phenomenon - it is not something that used to happen in the past and does not happen anymore.  It happens and it will happen again as long as criminals remain in the society. It is an ugly reality of life.  If you open a news paper, you will find, if not here, some parts of the world someone has been victim of hajj fraud. In the last few years, a number of hajj fraud cases reported in the British media. In April 2015, the Police raided Bogus Hajj Mecca pilgrimage firms in Tameside, while in the same year a Bolton man was charged over Hajj holiday fraud.  </p>
        <p>
            In response to potential threat of hajj fraud to Muslim community in the UK, the City of London Police launched a national Hajj fraud prevention campaign in 2015. The aim of this campaign was and still is to raise awareness amongst Muslim about hajj fraud and also to facilitate them to report if they are victim of hajj fraud.  
        </p>

        <h3>How Hajj fraud happens?</h3>
        <p>There are number of underlining factors work here. These fraudsters whether they are a company or individual, they operate in such disguise; it is very difficult to recognise them that they are not genuine. They are not only present themselves very professionally[in terms of pen and paper] but also in conversation you will notice they often use religious expressions such In Sha Allah [If Good willing], Alhamdulillah [All Praise to be God] and so forth,  to prove that they are true practicing Muslim. On the other hand, due to feeling of going on hajj, people become so spiritual; as such they hardly comprehend that a person or a company could cheat them and play with their pure emotion. Unfortunately, the fraudsters take advantage of every situation. It is very difficult  for a pilgrim to understand whether this person is genuine or not.  </p>
        <p>In this context, a little story of 'Umar ibn al-Khattab can be cited here to understand how previous generation applied Islam in their daily life. In one occasion, a certain man was giving evidence before 'Umar Ibn al-Khattab. 'Umar said to the man, "Bring hither someone who knows you."  So the man brought another person who praised him highly. Then said 'Umar to the second man, "Are you this man's nearest neighbour, to know his comings and goings?" "No." "Have you, then, been his companion on a journey, whereupon he gave evidence of nobility of character?" "No." Have you perhaps had dealings with him in money matters, wherein he showed himself a man of self -control? "No." "Then I suspect that you have only seen him in the mosque, murmuring the Qur'an, and now and then lowering and arising his head in prayer." "That is so." And turning to the man himself, 'Umar said, "Go, and bring hither someone who really knows you."   </p>
        <p>What do we understand from the above story? It is clear that don't be fool by fraudsters' sweet talk. A person may be genuinely a devoted practising Muslim. However, in the first meeting it is not easy to assess a person.  </p>
        <p>
            The other technique that the fraudsters use is that they advertise hajj and 'umrah packages comparatively cheaper.  Many people are attracted by such package deals which are inclusive of flights, accommodation, visas – which appear to them very good value for money. </p>

        <p>
            Apart from this, it is also important to recognise that when choosing a travel company, there is a tendency within the community to use word of mouth referral. If you ask someone how did you find out about this travel company? A typical answer is so and so told me about them. Such method of buying packages may be a preferred way; but it is certainly important to check whether the company holds an up to date license to sell hajj and packages.   
        </p>

        <h3>How to protect yourself from Hajj fraud?</h3>
        
        <ul>
            <li>Do background research. Even if you have heard the name of the agency through referral, don’t book without carrying out some basic checks on the travel company. Find out if the company is approved by the Saudi Ministry of Haj and 'Umra. Only approved agents have permission to sell Hajj and 'Umrah Packages. However, it is not easy to know whether an agent is approved or not as there is no online directory to check this. Only thing that one can do is to ask the agent to show you their approval certificate.  </li>
        <li>Also check on-line if your agent holds an up to date ATOL licence. Any agent arranging packages with flights must hold a current ATOL Licence, without which they may not legally sell air travel. You can check if an ATOL is valid on the CAA website. Make sure that you receive an ATOL certificate as soon as you have paid any money to your travel company.</li>
        <li>When dealing with your agent, get everything in writing. If the travel company shows any hesitation about this, simply do not proceed any more.</li>
<li>Regarding payment, fraudsters normally ask for cash payment or bank transfer to a personal account. If the company ask for such method of payment, simply refuse to do so. A genuine legitimate company will have facilities with a bank to accept credit, debit cards or cheque. If you do pay by bank transfer and the company turns out to be fraudulent it will be virtually impossible to get your money back.</li>
<li>As online crime is on the rise, more and more people are affected on a daily basis. It is also important that you are watchful on any online offer. Make sure that the company is in existence, not a virtual company.   </li>
        <li>Finally, we certainly advise you to watch the video produced by the City of London Police on hajj fraud.  Although it is not a recent production, but gives an idea about the nature of hajj fraud. </li>
        </ul>
        <h3>What to do if you are a victim of hajj fraud?</h3>
        <p>So many people do not report when they are victim of any type of crime or fraud. It is vitally important that every fraud is reported to the Action Fraud Team so that the criminals can be stopped and that others don’t fall victim to the same scam. Here’s what to do: Report it to Action Fraud at www.actionfraud.police.uk or speak to a specialist adviser on 0300 123 2040. One can also use the online tool if you suspect you’ve been targeted.</p>
        <p>
            If you paid for hajj or 'umra using your credit card, report the fraud to your card issuer as well.
        </p>
        <p>If you have any information on crime and you would prefer not to speak to police you can call the independent charity Crimestoppers anonymously on 0800 555 111 or visit www.crimestoppers-uk.org.</p>
</div>
</div>