@{
    ViewBag.Title = "Hajj & 'Umrah Glossary";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Hajj and Umrah Glossary</h4>
        
        <p> <strong>Adhan</strong> - the call to prayer.</p>
        <p> <strong>Afaqi</strong> – Pilgrim who comes from outside the appointed miqats.</p>
        <p> <strong>Ahadith</strong>  – Plural of hadith. </p>
        <p> <strong>Aswad</strong>  – black. </p>
        <p> <strong>Ayyaam</strong>  – days. </p>
        <p> <strong>Ayyaam  al- Tashriq</strong> – Literally means ‘the days of drying meat.’ The 11th, 12th and 13th of Dhul-hijja during which pilgrims stay in Mina, and perform the rites of throwing pebbles. </p>


        <p> <strong>Arafat</strong>  - a plain 15 miles to the east of Makkah on which stands the Jabl al-Rahma, the Mount of Mercy, where it is said Adam was re-united with Hawwa (Eve) after years of wondering following their expulsion from the Garden of Adn (Eden). One of the essential rites of the Hajj is to stand on Arafa on the 9th of Dhul Hijja. </p>
        <p> <strong>Aurah</strong>  – Parts of the body that must be covered. </p>
        <p> <strong>Asr</strong>  – The afternoon prayer (salah). </p>
        <p> <strong>Ashura</strong>  – The tenth day of Muharram. </p>
        <p> <strong>Barakah</strong>  – Blessing of Allah. </p>
        <p> <strong>Badal</strong>  – Substitute. </p>
        <p> <strong>Al-Bayat- al-Haram</strong>  – The Ka’ba in Makkah (This name was given to it because of the prohibition of hunting inside it or around it). </p>
        <p> <strong>Baqi</strong>  - the cemetery of the people of Madinah where many of the family of the of Messenger Allah (PBUH) and his companions are buried. </p>
        <p> <strong>Bida</strong>  - Innovation. </p>
        <p> <strong>Dhikr</strong>  – Remembrance of Allah. </p>
        <p> <strong>Du’a</strong>  – Supplication, invocation. </p>
        <p> <strong>Dumm</strong>  – Blood. The word is used by the jurists for atonement by sacrificing an animal, usually in the case of violation of a wajib act of hajj. </p>
        <p> <strong>Dhul-hijja</strong>  - The twelfth month of the Islamic calendar, the month of the Hajj (pilgrimage). </p>
        <p> <strong>Dhul Hulayfa </strong> - The miqat of the people of Madina, now near Bayar Ali. </p>
        <p> <strong>Dhu mahram</strong>  – A relative of the prohibited degree of marriage. </p>
        <p> <strong>Eid al-Adha</strong>  - A four day festival at the time of Hajj. The Eid of the sacrifice starts on the 10th day of Dhul-Hijja, the day that the pilgrims sacrifice their animals in the name of Allah. An animal such as a sheep or goat is sacrificed as a commemoration of Prophet Ibrahim's (pbuh) willingness to sacrifice his son for God. </p>
        <p> <strong>Eid al-Fitr</strong>  - The festival at the end of the month of fasting (Ramadan). </p>
        <p> <strong>Ezaar</strong>  - Lower cloth of Ihram. </p>
        <p> <strong>Fidyah</strong>  - Literally means ransom. It is compensation paid for rites missed or wrongly performed because of ignorance or ill-health. </p>
        <p> <strong>Fiqh</strong>  – Islamic jurisprudence. Fiqh is knowledge of the law as distinguished from shariah, which is the law itself. </p>
        <p> <strong>Fard</strong>  – An obligation established by definitive evidence. </p>
        <p> <strong>Fuqaha</strong>  –Jurists; expert in fiqh.  </p>
        <p> <strong>Ghusl</strong>  - The full ritual washing of the body. </p>
        <p> <strong>Hady</strong>  - An animal offered as a sacrifice during the Hajj. </p>
        <p> <strong>Hajj</strong>  – Literally means ‘to set out for a place’; annual pilgrimage to Makkah. </p>
        <p> <strong>Hajj al Ifrad</strong>  - The type of hajj where the pilgrim pronounces his or her intention to perform only Hajj at Miqat while changing into Ihram. </p>
        <p> <strong>Hajj al Qiran</strong>  - The 'joined' hajj, where the pilgrim pronounces his or her intention to perform both ‘Umrah and Hajj together with the same Ihram at Miqat. </p>
        <p> <strong>Hajj al Tammattu</strong>  - The 'interrupted' hajj, where the pilgrim pronounces his or her intention to perform only ‘Umrah at Miqat when assuming Ihram. A second niyyah, and a second change into Ihram follow on the 8th of Dhul Hijjah for the performance of the remaining rites of Hajj. </p>
        <p> <strong>Hajr al Aswad</strong>  - The sacred Black Stone built into the south-east corner of the Ka'ba at a height of approximately four feet from which pilgrims begin the Tawaf . </p>
        <p> <strong>Halal</strong>  – Permitted. </p>
        <p> <strong>Halq</strong>  - The complete shaving of the head by the male pilgrim on the 10th of Dhul Hijjah. This is the last thing he does before leaving the state of Ihram. For female pilgrims, the requirements of Halq and Taqseer are satisfied if they trim their hair by approximately half an inch. </p>
        <p> <strong>Haramain</strong>  - The two sacred mosques in Makkah and Medina. </p>
        <p> <strong>Haraam</strong>  – Forbidden, prohibited. </p>
        <p> <strong>Hijaz</strong>  - the region along the western seaboard of Arabia, in which Makkah, Medina, Jeddah and Ta'if are situated. </p>
        <p> <strong>Hijr</strong>  - the semi-circular unroofed enclosure at one side of the Ka'ba, whose low wall outlines the shape of the original Ka'ba built by Prophet Ibrahim (AS). </p>
        <p> <strong>Hijra</strong>  - to emigrate in the way of Allah. Islam takes its dating from the Hijra of the Prophet (PBUH) to Madinah. </p>
        <p> <strong>Ibada</strong>  - act of worship. </p>
        <p> <strong>Idtiba</strong>  - The mode of Ihram used during 'Umrah Tawaf and Tawaf al Qudoom. The male pilgrim drapes one end of the top part of his Ihram over his left shoulder back-to-front. The other end goes across his back, under his right arm, across his front, and is finally draped over his left shoulder. Idtiba is not observed in any other type of Tawaf. </p>
        <p> <strong>Ifadah</strong>  - Refers to the Tawaf performed by a pilgrim when she/he comes from Muzdalifah. </p>
        <p> <strong>Ihram</strong>  - Ihram literally means forbidding; here it signifies the intention to enter into the performance of the rites of Hajj or Umrah, or both. The term is also used to denote the Pilgrim's habit worn on occasion of the hajj, and the state in which the Pilgrim has to remain until he lays aside the garb. The distinctive garb of the pilgrim consists of two pieces of white, plain and unsewn cloth for the male. One of the pieces (lower part) is wrapped around the midriff to cover his body from just above his navel to below his ankles, and the other (upper part) is draped around his shoulders to cover the upper body, and sometimes exposing the right shoulder of the male pilgrims. For ladies, ordinary, and unpretentious clothes of daily wear constitute their Ihram. </p>
        <p> <strong>Iqama</strong>  - the call which announces that the obligatory prayer is about to begin. </p>
        <p> <strong>Istislam</strong>  - Literally means submission but here refers to the greeting of the Black Stone and Yemeni corner of the Ka'ba during tawaf by kissing, touching or outstretched hand. </p>
        <p> <strong>I'tikaf</strong>  - seclusion, in a mosque paricularly in the last ten days of Ramadan. </p>
        <p> <strong>Jamra</strong> (plural jamarat)- Literally a small walled place, but meant here a stone-built pillar and in particular the three stone pillars in Mina which symbolically represent the locations where the devil (shaytan) attempted to tempt Prophet Ibrahim (pbuh) away from the path of Allah. The pilgrim symbolically stones these pillars on the 10th through to the 13th of Dhul Hijjah in commemoration of the rejection of the devil by Prophet Ibrahim, and of his steadfastness to the cause of Allah. </p>
        <p> <strong>Jamrat al Aqaba</strong>  – The location at which pebbles are to be cast during pilgrimage, especially on the 10th of hajj. It is situated at the entrance of Mina from the direction of Makkah. </p>
        <p> <strong>Jamrat al Ula</strong>  - The first stone pillar in the line. </p>
        <p> <strong>Jamrat al Wusta</strong>  - The second (middle) stone pillar in the line. </p>
        <p> <strong>Janaba</strong>  - The state of impurity in which a person requires ghusl. </p>
        <p> <strong>Ji'rana</strong>  - a place near Makkah, when the Messenger of Allah  (PBUH) distributed the booty from the Battle of Hunany and from where he went into ihram to perform ‘umrah. </p>
        <p> <strong>Al-Juhfa</strong>  - the Miqat  of the people of Syria and Europe. </p>
        <p> <strong>Jumu'a</strong>  - the Day of Gathering, Friday, and in particular the Jumu'a prayer. </p>
        <p> <strong>Ka'ba</strong>  - A cubic structure originally built by Prophet Ibrahim (pbuh) and his eldest son Ishmael.  During Hajj, the essential rite of Tawaf is performed around the Ka'bah. </p>
        <p> <strong>Kaffara</strong> - prescribed way of making amends for wrong actions, particularly missed obligatory actions. </p>
        <p> <strong>Khutba</strong>  - literally a speech, and in particular the addresses given by the Imam on the day of Jumu'a and the two Eids. </p>
        <p> <strong>Kiswat</strong>  – The clothes that covers the Ka’ba. </p>
        <p> <strong>Labbayk</strong>  - A call meaning "Here I am at Thy service". It is the Muslim's expression of answering the invitation of Allah to perform pilgrimage. </p>
        <p> <strong>Madhab</strong>  - a school of thought(fiqh). There are four main sunni madhabs : Hanafi, Maliki, Shafi'i and Hanbali. </p>
        <p> <strong>Mahram </strong> - a person with whom marriage is expressly prohibited by the shariah (e.g., father, brother, uncle, nephew, etc.) A woman must be accompanied by a Mahram for Umrah and Hajj. </p>
        <p> <strong>Makruh</strong>  – disapproved, reprehensible. </p>
        <p> <strong>Maqam Ibrahim</strong> - The stepping stone used by Prophet Ibrahim (pbuh) during the original construction of the Ka'bah. The stone carries the imprints of his feet, and is housed in a glass enclosure on the north side of the Ka’ba. It marks the place of prayer following tawaf of the Ka'ba. </p>
        <p> <strong>Marwah</strong>  - A rocky hillock located approximately 250 meters northeast of the Ka’ba inside Al Masjid al Haram. It is the hill on which a pilgrim ends his or her Sa’i. The pilgrim performs the devotional rite of Sa’i between the hillocks of Safa and Marwah. </p>
        <p> <strong>Al-Mashar</strong>  - The Valley between Muzdalifa and Mina, where pilgrims should make a Du’a after they have slept in Muzdalifah while they are going to Makkah to throw Jamrat al-Aqabah on the morning of the 10th of Dhul-Hijjah. </p>
        <p> <strong>Masjid al Haram </strong> - The Protected Mosque, the name of the mosque built around the  Ka'ba in the Haram at Makkah. </p>
        <p> <strong>Mihrab</strong>  – The place where the Imam stands during congregation salah. </p>
        <p> <strong>Mimbar</strong>  – The place where the Imam stands while delivering a khutbah (sermon). </p>
        <p> <strong>Mina</strong>  - A desert location approximately three miles east of Makkah on the road to Arafah where several rites of Hajj are performed. </p>
        <p> <strong>Miqat</strong>  (Plural Mawaqit) - The place where Muslims declare their intention to make Hajj or Umrah and begin the state of Ihram. A prospective pilgrim cannot cross the Miqat boundary without first changing into Ihram. This boundary is anchored by different townships and localities in different directions. </p>
        <p> <strong>Muhrim</strong>  - A pilgrim in the state of Ihram. </p>
        <p> <strong>Multazam</strong>  - The part of the Ka'ba between its door and Hajar al Aswad. </p>
        <p> <strong>Mutamatti</strong>  – A person undertaking the Tamattu form of hajj. </p>
        <p> <strong>Muzdalifah</strong>  - A place between Arafa and Mina where the pilgrims spend a night in the open on their return from the station at Arafat. </p>
        <p> <strong>Namira</strong>  - A mosque in Arafat. </p>
        <p> <strong>Nafl</strong>  - literally a gift. It means a voluntary act of worship. </p>
        <p> <strong>Niqab</strong>  - the face veil adorned by Muslim women. </p>
        <p> <strong>Niyyah</strong>  - Intention. All acts of worship are preceded by an appropriate niyyah. </p>
        <p> <strong>Qarin</strong>  - A person undertaking the Qiran form of hajj. </p>
        <p> <strong>Qasr</strong>  - The mode of shortened prayers usually offered when on a journey. </p>
        <p> <strong>Qibla</strong>  - The direction faced in Prayer, which is towards the Ka'ba in Makkah. </p>
        <p> <strong>Quba</strong>  - a village on the outskirts of Madina. </p>
        <p> <strong>Rakah</strong>  - a unit of prayer. </p>
        <p> <strong>Raml</strong>  - 'hastening' in the tawaf, a way of walking briskly, moving the shoulders vigorously. Ladies are not required to practice Raml. </p>
        <p> <strong>Reda</strong>  - The upper cloth of Ihram. </p>
        <p> <strong>Ramy</strong>  - The act of symbolically stoning the devil in Mina on the 10th through to the 13th of Dhul Hijjah. </p>
        <p> <strong>Sadaqa</strong>  – Anything given voluntarily in charity. </p>
        <p> <strong>Safa</strong>  - A small hillock approximately 200 m southeast of the Ka’bah, inside Al Masjid al Haram, on which a pilgrim begins his or her Sa’i. </p>
        <p> <strong>Sa’i</strong>  – The walk made between Safa and Marwah. </p>
        <p> <strong>Salat</strong>  - Obligatory or supererogatory prayers. It consists of fixed sets of standing s, bowings, prostrations and sittings in worship to Allah. </p>
        <p> <strong>Shawt</strong>  - One complete circumambulation, or circuit, of the Kabah. Each shawt (pl. ashwaat) starts and ends at Hajar ul Aswad. Seven ashwaat constitute one Tawaf. </p>
        <p> <strong>Shaytan</strong>  - a devil particularly Iblis (Satan). </p>
        <p><strong>Talbiyah</strong>  - A recital of the following words by the pilgrim during ‘Umrah and Hajj:
            Labbaik Allahumma Labbaik. Labbaik, La Shareek Laka, Labbaik. Innal Hamdah, Wan Nematah, Laka wal Mulk, La Shareek Laka
            Translation: "Here I am at Thy service O Lord, here I am. Here I am at Thy service and Thou hast no partners. Thine alone is All Praise and All Bounty, and Thine alone is The Sovereignty. Thou hast no partners." The Talbiyah is a prayer as well as an assertion of the pilgrim's conviction that he or she intends to perform Hajj only for the glory of Allah. The pilgrim starts the recital upon changing into the Ihram, and continues to recite it frequently throughout Hajj. Male pilgrims recite the Talbiyah loudly whereas female pilgrims are required to recite it in a low voice. </p>
        <p> <strong>Tahallul</strong> : Freedom from the restrictions of the ihram. It is of two types: full freedom (tahallul akbar), which occurs after tawaf-al-Ifada, and partial freedom (tahalull asgar), which occurs after casting of pebbles at the Jamarat al-Aqaba. </p>
        <p> <strong>Tamattu</strong>  - The type of Hajj where a pilgrim starts with Umrah then makes Hajj later on but in the same year. </p>
        <p> <strong>Taqsir</strong>  - Shortening or clipping of the whole head of hair by the male pilgrim following the completion of Hajj. This may be performed in lieu of Halq. </p>
        <p> <strong>Tarwiyah</strong>  - The 8th day of Dhul-Hijjah. </p>
        <p> <strong>Tashriq</strong>  – Days following the day of sacrifice (The 11th, 12th, and 13th days of Dhul-Hijjah). </p>
        <p> <strong>Tawaf</strong>  - The seven fold circumambulation of the Ka’ba while reciting prayers. It constitutes an integral part of ‘Umrah and Hajj. There are five different types of Tawaf (see Tawaf chapter). </p>
        <p> <strong>Tawaf al Ifadah</strong>  - The obligatory Tawaf of the Ka’ba during hajj after throwing pebbles at the jamarat. It is also known as tawaf al-ziyara. </p>
        <p> <strong>Tawaf al Nafl</strong>  - A devotional Tawaf which may be performed any time. </p>
        <p> <strong>Tawaf al Qudoom</strong>  - The initial Tawaf performed by the pilgrim coming from outside Makkah. </p>
        <p> <strong>Tawaf al ‘Umrah</strong>  - The Tawaf performed as a rite of ‘Umrah. </p>
        <p> <strong>Tawaf al Wida </strong> - The Farewell Tawaf performed by the pilgrim just before leaving Makkah for his or her next destination. </p>
        <p> <strong> ‘Umrah </strong> – A visit to the House of Allah in a state of ihram. ‘Umrah, or lesser Hajj, includes Tawaf and Sa’i, but unlike Hajj, does not involve the rites at Mina, Muzdalifah, and Arafat. </p>
        <p> <strong>Udhiya</strong>  – Sacrifice of an animal for Allah on the day of Eid-ul-Adha. </p>
        <p> <strong>Wuquf</strong>  – Literarily means standing or staying in Arafat (on the 9th of Dhul-hijja). It is a central rite of Hajj. </p>
        <p> <strong>Wudhu</strong>  - The ritual ablution usually performed prior to prayer. </p>
        <p> <strong>Yaum al Nahr</strong>  - The 10th of Dhul Hijjah. This day is designated as the preferred day of sacrifice during Hajj. </p>
        <p> <strong>Yaum al Tarwiyah</strong>  - The 8th of Dhul Hijjah signifying the start of Hajj. The pilgrim proceeds to Mina on this day. </p>
        <p> <strong>Zamzam </strong> - The name of the sacred well of water which sprang forth miraculously under Prophet Ishmael's (pbuh) feet as an infant. </p>
        <p> <strong>Zawaal</strong>  – when the sun is at its zenith, midday. </p>

</div>