@{
    ViewBag.Title = "Hajj of a Woman";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">

       #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }
        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
}

        .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

        /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>
<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/HajjAndHajjRites">Hajj and Hajj Rites</a></li>
     <li>Hajj of a Woman</li>


</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>Hajj of a Woman</h2>
         <h3>Introduction</h3>
        <p>
            Hajj is obligatory for both men and women. Whoever meets the prerequisites of Hajj, he or she must perform it. Hajj is the jihad of women, as the Prophet (peace and blessings of Allah be upon him) said to Umm Al-Mu'minin ‘Aa’ishah (may Allah be pleased with her): “Your jihad is Hajj,” (Sahih al-Bukhari 1520). 
        </p>
        <p>
            Most of the rituals and regulations of Hajj are concerned; basically there are no major differences between males and females. Men and women both share various restrictions and flexibilities during Hajj. For example, both must refrain from all forms of intimate sexual contacts with spouses, including foreplay, kissing, and lustful touching during the state of ihram. They also must avoid all vain talks, wrangling and quarrels. After forming the intention for Ihram, both men and women are not allowed to put on any kind of perfume, whether on the body or clothes. Like men, during ihram women are not allowed to remove any hair from her head or body by any means, and to clip the nails and so forth. 
        </p>
        <p>
            Apart from most general rulings, there are few specific requirements and restrictions that apply to women only. These are briefly discussed below: 
        </p>
        <h3>Mahram ruling</h3>
        <p>
            Having a mahram is a prerequisite for a woman to go hajj or ‘umrah. A mahram is a male relative (apart from her husband) whom she cannot marry (at any time in her life), i.e. brother, father, son, husband’s father etc. In the case of woman, this is an additional requirement that she be accompanied by a mahram relative on the journey. If a woman does not have a mahram to travel with her, then Hajj is not obligatory on her.    
        </p>
        <p>
            Ibn ‘Abbas reports that “I heard the Prophet (peace be upon him) saying: ‘A man must never be alone with a woman unless there is a mahram with her. A woman also may not travel with anyone except a mahram relative.’ A man stood up and asked: ‘O Prophet of Allah! My wife has gone for Hajj while I am enlisted for such and such battle, what should I do?” The Prophet (peace be upon him) replied, “Go and join your wife in Hajj.” It is clear from this hadith that mahram is a prerequisite for women to do hajj. 
        </p>
        <p>
            This raise an immediate question as to what about a woman who does not have a mahram, for example, a newly revert Muslima who has financial and other means, but no mahram? Or someone who has mahram but the mahram simply refuses to accompany her to hajj? According to majority scholars as she does not fulfil all the requirement of hajj including having a mahram, therefore, there is no sin in her part for not doing hajj. However, if she wishes she may send someone on her behalf to perform hajj.        
        </p>
        <p>
            Although, a few past and present scholars rule that it is acceptable if a woman travels with a group of women; it is certainly contrary to sayings of the Prophet (pbuh). Reported by Abu Hurairah (may Allah be pleased with him), the Prophet (pbuh) said “It is forbidden for any woman who has faith in Allah and the Day of Judgement to undertake the distance of a day or more without being accompanied by a mahram” (Bukhari: 1088, Muslim: 1339 & Ahmad: 2/420). It is evident from this hadith that the ruling of mahram applies to all sort of travelling including hajj and ‘umrah.
         </p>
        <h3>Ihram attire & state </h3>
        <p>
            A woman may enter into the state of Ihram with whatever clothes she likes, black or any other colour, so long as she avoids needless display of clothes of fame and vanity such as tight, see-through, short, thin or decorated clothes. It is important to bear in mind that the essence of Hajj is simplicity and humility before the God. Women must also be careful to avoid clothes that resemble the clothes of men. Women are allowed to wear shoes, slippers or sandals as they choose. 
        </p>
        <p>
            During hajj you may notice that groups of women wearing green or white ihram clothes, please note, there is no evidence in sunnah for such practice. If anyone wants to put such clothes out of her wish is fine. However, believing it is part of sunnah, is not certainly right.
         </p>
        <p>According to a hadith narrated Abdullah bin ‘Umar that a woman in the state of ihram should not cover her face and hands (Sahih Bukhari, 64; Chapter no: 29, Book of Penalty of Hunting while on Pilgrimage). The jurists, however, agree that a woman’s ihram attire has to cover her head and hair and that she should let her head covering hang a little in front of her face so that she is veiled from the view of non-mahram men, in accordance with what is related from Umm Aisha (radi Allahu 'anha), who said, “The riders would pass by us while we were with the Prophet (PBUH) and in the ritual state of Ihram. When one of them would ride next to us, we would take our Jilbaab and cover (coming down with the cloth from our heads) our face. When the rider would pass, we would uncover once again.” Abu Dawud:1833 & Ibn Majah: 2935</p>
        <p>
            Also some women when they enter into the state of Ihram, they put something like a turban or clips on their heads, so that no part of the khimaar or jilbaab touches their faces. This is unnecessary and may trouble many to perform Hajj comfortably. There is nothing wrong with the cover touching the face of the muhrimah.
        </p>
        <h3>Menstruation </h3>
        <p>
            Women who are menstruating must assume ihram before crossing miqat and recite talbiyah. However, they must not offer Salah (Prayer) and tawaf during period. Many do not enter into Ihram thinking that it is a condition of Ihram to be free from menstruation. This is an obvious mistake.  Menstruation does not mean that a woman cannot enter into Ihram. 
        </p>
        <p>
            However, if she delays Ihram and passes the miqat without entering into the state of Ihram, then she has to go back and enter Ihram from the miqat; if she does not go back then she has to offer a sacrifice because she failed to do something that was obligatory upon her. 
        </p>

        <p>
            If a woman fears that she may not be able to complete the rituals of Hajj, she may stipulate a condition when entering into Ihram by saying: </p>
        <div class="media-body  arabicCSS"> <p id="arabicpara">
   فَاِنْ حَبَسَنِي حَابِسٌ فَمَحِلِّي حَيْثُ حَبَسْتَنِي </p>
        </div>
        <p>(“fa in habasani haabisun, fa mahilli haithu habastani”) (“if i am prevented from completing hajj, then i will exit ihram at the point at which I am prevented.”) then if something happens to prevent her from completing hajj, she will exit ihram and there will be no blame on her.
            </p>
        
            <p>
                Menstruating women can perform all the rituals of Hajj with the exception of Tawaf (circumambulation around the Ka`bah). They should postpone Tawaf until such time that they are free from menses and have purified themselves through ghusl. Please note Tawaf-al-Ifada (i.e. Hajj Tawaf) is a compulsory act of Hajj for both men and women. Without this one’s Hajj will be invalid. Many women fear if their menstruation starts during that time and their return flight is booked right after Hajj (i.e. on 13th or 14th Dhul-hijja). What a woman will be doing in such situation? Below there are couple of suggestions that one may consider:
            </p>
            <ul>
                <li>
                    Most women have some rough calculations of their period cycle. Therefore, even before booking a hajj flight, if you feel there is a possibility of having your menstruation around 10th Dhul-hijja, in that case you must schedule your and your mahram’s return flight accordingly, so that you can have plenty of time to be purified from menses and perform Tawaf-al-Ifada.
                </li>
                <li>
                    On the contrary, if your situation is different and you are already in Hajj. Your menstruation started just before doing the Tawaf-al-Ifada and your return flight is booked immediately. In such circumstance, your first option will be to try to rearrange your flight and accommodation to stay until you are purified. If you talk your agent, this may be possible with some extra cost. Please note, according to a report by Buraidah, the Prophet (pbuh) said, “Spending during Hajj is akin to spending in the cause of Allah, and every dihram thus spent will be rewarded seven hundred times over” (Reported by Ibn Abi Shaibah, Ahmad, At-Tabarani and Al-Baihaqi). Thus, this option is certainly better, if you can afford to spare some extra money to extend your stay in Makkah.
                </li>
                <li>
                    Finally, thirdly, if, however, you find yourself unable to stay in Makkah before doing Tawafal Ifada due to inability to change or reschedule pre-arranged travel plans, then you may perform Tawaf-al- Ifada while still menstruating after cleaning  yourself and wearing pads, etc. This ruling is only allowed in this special circumstance. In normal situation this ruling does not apply. This ruling is given by Imam Ibn Taymiyyah. This is based on a valid principle of Islamic jurisprudence which states that any condition - upon which the validity of a certain act of worship is dependent - can be waived if a person cannot fulfil the same; and the act of worship thus performed will be considered as valid without it. An example for this is covering oneself during Prayer (salah). Thus if a person finds himself unable to cover his `awrah (what must be covered) because he could not find anything to wear, then he must still pray without covering himself and his Prayer will still be considered as valid, although in ordinary circumstances such a Prayer will be considered as null and void. The same rule applies to a menstruating woman who must leave Makkah because of special circumstance that is beyond her control. The normal condition of purification from menses for the validity of Tawaf is be waived in her case, and her Hajj will be considered as perfectly valid.
                </li>
            </ul>

            <p>
                If a woman’s period begins after she has done tawaf and before she does sa’i, she should complete the rest of the rituals and do sa’i even if she is menstruating, because taharah (purity) is not essential for sa’i.
            </p>
            <p>
                Many women use pills to delay period. It is permissible for a woman to use pills to delay menstruation to enable her to perform the rituals of Hajj, subject to the condition that this will not cause her harm. However, many women who used this method later complained that the use of pills has had bad affect on their normal well-being.
            </p>
            <p>
                It is important to understand and realise that Umm al-Mu’mineen ‘Aa’ishah (may Allah be pleased with her) had menstruation during Hajj where she was not able to do her ‘Umrah. If Allah wanted, He could not have given her this at that time. But Allah wanted to set an example for the ummah who would come after her.
            </p>
            <p>
                When she mentioned this to the Prophet (pbuh) that all his companions were returning with Hajj and `Umrah except her, he (pbuh) asked her, "Didn't you perform Tawaf of the Ka`ba (‘Umrah) when you reached Mecca?" She said, "No." He (pbuh) said to her, "Go to Tan`im with your brother `Abdur-Rahman, and assume Ihram for `Umrah and I would wait for you at such and such a place." So she went with `Abdur-Rahman to Tan`im and assumed Ihram for `Umrah. [Sahih al-Bukhari 1762]
            </p>
            <p>
                Aysha continues to narrate that then Safiya bint Huyay got menses. The Prophet (pbuh) said, " 'Aqra Halqa! You will detain us! Didn't you perform Tawaf-al-Ifada on the Day of Nahr (slaughtering)?" She said, "Yes, I did." He said, "Then there is no harm, depart." So I met the Prophet (pbuh) when he was ascending the heights towards Mecca and I was descending, or vice-versa. (Sahih al-Bukhari 1762)
            </p>
            <p>
                Please bear in mind that menstruation is a natural process. Under any circumstances one must not feel sad and be upset.  It is nothing but a decree of Allah. Even for a moment, one should not think that she is doing less or getting less reward compared to others. Do not under estimate Allah’s mercy and blessings. Allah is Just. Allah’s resources are endless. He does not need to borrow from someone to give someone else. Allah is not dependent on anyone. If He wants to give something to someone, no one can say ‘why’?
            </p>
            <p><b><u>Possible scenarios of menstruation during Hajj</u></b></p>
                
         
            <p><u>Scenario 1:</u> menstruation starts before departure from home country and your package itinerary begins with Makkah first and you have enough time before Hajj for it is to be completed.
            </p>
            <ul>
                <li>
                    Do all cleansing rituals and put Ihram attire before leaving home. You must do niyah for Hajj before crossing the miqat. In the plane, pilot generally makes announcement just before reaching the miqat boundaries.
                </li>
                <li>
                    Once you arrive in Saudi Arabia, proceed to Makkah.  Remain in the state of Ihram and wait until menstruation is completed. Once menstruation is completed, perform your ghusl (bath or shower).
                </li>
                <li>
                    <p style="color:Indigo">
                    If you are doing Tammattu Hajj, proceed to the Haram to perform ‘Umrah. After performing ‘Umrah, cut your hair to relive yourself from Ihram. Wait until Hajj starts on 8th Dhul-hijja. Do your niyah for Hajj this time and enter into state of ihram again before Hajj. Carry out all Hajj rituals from 8th to 13th Dhul-hijjah as required.
               
                        </p>
                 </li>
                <li>
                    <p style="color:FireBrick">
                        If you did niyah for Qiran Hajj, you also proceed to the Haram. In this case, instead of performing Umrah, you perform Tawaf- ul-Qudoom (welcome tawaf) and you may perform sa’i for Hajj or wait for later time. You must not cut your hair, but remain in Ihram until Hajj. Wait until Hajj starts on 8th Dhul-hijjah. Perform all Hajj rituals from 8th to 13th Dhul-hijjah as required.
                    </p>
                </li>
            </ul>
            
             
      
           
       
          
            
            <p>
                <u>Scenario 2:</u> starts in the plane and your package itinerary begins with Makkah first and you have enough time before Hajj for it is to be completed.
            </p>
            <p>
                <ul>
                    <li>
                        You must do niyah for Hajj before crossing the miqat.
                    </li>
                    <li>
                        Follow all the steps as above (scenario 1).
                    </li>
                </ul>
             
                        <p>
             <u>Scenario 3:</u> menstruation starts just after arriving in Makkah and it continues until 8th or 9th Dhul-hijjah and you initially did niyah for Tammattu Hajj.
            </p>
           
       <ul>
           <li>
               In such situation you are forced to change niyah from Tammattu to Qiran.
           </li>
           <li>
               Enter into ihram for Qiran on or before 8th Dhul-hijja.
           </li>
           <li>
               Perform all Hajj rituals from 8th to 13th Dhul-hijjah as required except Tawaf-al-Ifada.
           </li>
           <li>
               When menstruation is completed, perform Tawaf-al-Ifada.
           </li>
       </ul>
           
        
            <p>
                <u>Scenario 4:</u> menstruation starts on 10th Dhul-hijjah before doing Tawaf-al-Ifada and continues until 13th Dhul-hijjah.
            </p>
            <ul>
<li>
    In such situation, perform all other hajj rituals as required except Tawaf-al-Ifada.
</li>
                <li>
                    When menstruation is completed, perform Tawaf-al-Ifada.
                </li>
            </ul>
              
         
            <p> 
                <u>Scenario 5:</u> menstruation starts on 10th Dhul-hijjah after doing Tawaf-al-Ifada and continues until 13th Dhul-hijjah.
            </p>
            <ul>
                <li>
                    In such situation, perform all other hajj rituals as normal.
                </li>
            </ul>
            
            </p>
            <p>
                <u>Scenario 6:</u> menstruation starts on 10th Dhul-hijjah before doing Tawaf-al-Ifada and continues until 13th Dhul-hijjah. Your return flight is booked immediately and you are expecting not to be purified before that.
            </p>
            <ul>
                <li>
                    For this situation see above ruling under section ‘Menstruation’.
                </li>
            </ul>
                
               <p>
                <strong>Actions permitted and prohibited during menstruation</strong>
            </p>
            <p>
                During menstruations women are allowed to do almost everything few things. A menstruating woman can read books of du’a and make dhikr that are prescribed in share’ah, even if they contain verses of the Qur’an. It is also permissible for her to recite Qur’an without touching the Mushaf. So, make the most use of your time. Don’t just sit and do nothing.
            </p>
            <p>
                Things that are not allowed during menstruation include offering salah, doing tawaf and reading Qur’an by touching letter or verses of the Qur’an.
            </p>
            <h3>Talbiyah</h3>
            <p>
                Women should not recite the Talbiyah out loud, rather they should say it quietly so that only they and the women next to them can hear it, but non-mahram men cannot hear it, lest that cause fitnah (temptation) and attract attention. The time for reciting the Talbiyah starts from after entering Ihram for Hajj and lasts until one throws pebbles at the Jamrat al-‘Aqabah on the Day of Sacrifice.
            </p>
            <h3>Leaving Muzdalifah Early </h3>
            <p>
                Spending the night in Muzdalifah on the eve of the 10th of Dhul-Hijjah is just as much a part of Hajj for the women as it is for the men. Although it is Sunnah that a person should wait until after Fajr - after the sun has come up bright and then move on to Mina, some scholars have noted that it is permissible for women who fear the crowd of Muzdalifah (and predicts crowd at the Jamarat the next day) to leave early from Muzdalifah before Fajr.
            </p>
            <p>
                Bukhari narrated from Ayshah who said, "(Umm Al-Mu'minin) Sawdah sought permission from Allah's Messenger (peace be upon him) to leave Muzdalifah before him (i.e. before Fajr) and before the crush of the people, because she was heavy. He (peace be upon him) gave her permission." In another hadith Muslim narrated from Umm Habibah that the Prophet (peace be upon him) sent her from Muzdalifah during the night (before Fajr).
            </p>
            <p>
                Muslim also narrated from Ibn Abbas who said, "Allah's Messenger (peace be upon him) sent me with the weak folk from Muzdalifah during the night (before Fajr)." What is clear from this hadith is that not only women, men who are weak also allowed to depart Muzdalifa early.
            </p>
            <h3>Throwing Pebbles</h3>
            <p>
                Rules for women are relatively more relaxed in regards to throwing pebbles at the Jamarat. As mentioned above that women as well as those who are weak and elderly, are allowed to leave Muzdalifah early before Fajr in order to perform the rite of throwing pebbles at the stone pillar before the crowd arrives in Mina.
            </p>
            <p>
                It is also permissible to delay stoning the Jamarah until the night, if the woman’s guardian thinks that the crowding is too great around Jamrat al-‘Aqabah and that this may pose a danger to the women who are with him. So it is permissible to delay their stoning of the Jamrah until the crowding is less or has stopped, and there is nothing wrong with them doing that.
            </p>
            <p>
                The same applies with regard to stoning of the Jamaraat during the three days of Tashreeq, when women can stone them after ‘Asr, which is the time when the crowd is relatively less. If that is not possible then there is nothing wrong with them delaying it until the night.
            </p>
            <h3>Tawaf</h3>
            <p>
                Choose time when there is less crowding. Umm al-Mu’mineen ‘Aa’ishah (may Allaah be pleased with her) used to do tawaf in an area away from the men, and she did not touch the Black Stone or the Yemeni Corner if there was crowding.
            </p>
            <p>
                It is recommended that the women should not crowd themselves near the wall of the Ka'ba, crushing themselves in to the men. Instead, they should perform Tawaf on the outer circles, away from the crowd. This ruling is based on an incident that happened in which Umm Salamah, the wife of Allah's Messenger (peace be upon him) complained of a sickness. He (the Prophet) (pbuh) instructed her to perform the Tawaf riding on a camel, behind the people. However, if she is performing Tawaf at a time when the crowd is light, she may draw as near as she can to the Ka'ba.
            </p>
            <p>
                According to many scholars, it is desirable for a woman to delay her Tawaf until night if she arrives in Makkah during the day. The reason, they say, is that this would be more protective for her and others since the crowd would be lighter at that time. However, if she feels that she may be nearing her monthly cycle, it is better that she performs the Tawaf as soon as she can so that she does not miss it.
            </p>
            <p>
                During Tawaf women do not do raml (walk quickly) like men. They walk normal and complete all seven rounds. Also if one gets tired, thirsty or feels to use toilet during tawaf, you are allowed to take a break. After the break make sure you have wudhu and continue from where you had stopped tawaf. You do not need to start tawaf from the beginning again. In any occasion, if you are in doubt about the number of rounds you have made, rely on the lesser number you remember.
            </p>
            <h3>Sa’i</h3>
            <p>
                The method of performing Sa'i, in general, is the same for men and women. However, there are some basic differences in the etiquettes of Sa'i between men and women. Women do not jog (rakd) during sa’i. Rakd means jogging between the two green markers in every circuit of sa’i. This action is Sunnah and it is only for men.
            </p>
            <h3>Hair cutting</h3>
            <p>
                Women cut a fingertip length from each side of her hair (approximately two centimeters). There is no difference of opinion between the scholars that the Sunnah for a woman is that she should only trim her hair and not shave. Ibn Al-Mundhir said, "The consensus (Ijma') of the people of knowledge is that a woman should trim and not shave. This is because shaving in a woman's case would be considered mutilation." Also it is not permissible for a woman to show her hair to non-mahram men whilst she is cutting the ends of her hair.
            </p>
            <h3>Other restrictions </h3>
            <p>
                It is not permissible for a woman to have physical relationship with her husband or to be intimate with him so long as she has not yet exited Ihram completely. The exiting of Ihram is achieved when the following three things are completed:
            </p>
        <ul style="list-style-type:circle">
            <li>
                Stoning Jamarat al-‘Aqabah with seven pebbles.
            </li>
            <li>
                Cutting the length of a fingertip from all ends of the hair, which is approximately 2 centimeters.
            </li>
            <li>
                Doing the tawaf of Hajj (tawaf al-ifaadah). 
            </li>
        </ul>
              
            <p>
                Once a woman has done these three things, it is permissible to do all the things that were forbidden to her during Ihram, including physical relationship with her husband. If she has only done two of them then it is permissible for her to do anything apart from intercourse.
            </p>
            <h3>Word of cautions</h3>
            <ul>
<li>
    Beware of this small book which contains innovated du’as, such as a specific du’a for each circuit of tawaf and sa’i which has no evidence in the Qur’an and Sunnah.
</li>
                <li>
                    It is prescribed to recite du’a during tawaf and sa’i however one wishes. It is always better to recite du’as from the Qur’an and Sunnah that are narrated by the Prophet (peace and blessings of Allah be upon him).
                </li>
                <li>
                    Beware of uncovering any part of your body, especially in places where men could see, such as public wudu areas. Some women are unmindful about men being close to such areas and they uncover parts of their body during wudu. They may even take off their head covers, thus uncovering their heads and necks. It is not permissible, such as showing the face, forearms and calves to non mahram man.
                </li>
            </ul>
              
            
        </div>
    </div>
