@{
    ViewBag.Title = "Hajj And Hajj Rites";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
 
     #btninformation {
        background-color: #D95902 !important;
    }
      
        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
         
        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        text-align: right;
        line-height: 35px;
    }

    
    

    .divSize {
        height: 130px;
        width: 100px;
        /*margin: 20px;*/
        border-radius: 20px;
        /*width: 95%;*/
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: #d7d7c1;
          
    }

    .Footercontent {
        margin-bottom: 10px;
        background-image: url('../Content/images/hajj_rites_background.jpg');
        padding: 50px 50px 30px 30px;
       
        
    }

       .divSize a {color: #f2f2f2;
  background-color: transparent;
  text-decoration: none;
    }
    

        .divSize :hover {
                   background-color: #e6ac00;
                    display: block;
                     border-radius: 10px;
                }

    /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 14px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>
<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li> 
    <li>Hajj and Hajj Rites</li>


</ul>
<div class="row-fluid">
    <h2 style="margin-left:50px; ">Hajj and Hajj Rites</h2>

    <h3 style="margin-left:50px; ">Status & reward of Hajj in Islam</h3>

    <p style="font-size:1.1em; margin-left:50px; margin-right:50px">
        Hajj is the fifth pillar of Islam after declaration of shahada (faith), salah (five daily prayers), Zakat (obligatory alms), sawm (obligatory fasting during month of Ramadan). There is no dispute among jurist about the obligation of hajj on Muslims (male and female) as attested by the Qur’an to undertake the journey to Makkah to perform Hajj. <a href="../Footer/StatusAndRewardOfHajjInIslam">Read more</a>
    </p>
    <div class="container-fluid Footercontent">


            <div class="row-fluid">

                <div class="span12" style="">
                    <div class="row-fluid">
                        <div class="span3 divSize" id="" style="">


                            <a href="../Footer/PillarandWajibActions" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 55px">
                                    Pillars of Hajj
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/PillarandWajibActions" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 43px">
                                    Obligatory actions of Hajj
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">


                            <a href="../Footer/WhichTypeHajjChoose" id="mylink4">
                                <p style="font-size:17px;text-align: center; color: black; padding: 43px">
                                    Which type of Hajj to choose?
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/Niyah" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 43px">
                                    How to make Hajj intention?
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">

                <div class="span12" style="">
                    <div class="row-fluid">
                        <div class="span3 divSize" id="" style="">


                            <a href="../Footer/miqat" id="mylink4">
                                <p style="font-size:17px;text-align: center; color: black; padding: 45px">
                                    What is Miqat and rulings on Miqat?
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/Ihram" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 45px">
                                    What is Ihram and rulings on Ihram?
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">


                            <a href="../Footer/Talbiyah" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 45px">
                                    How to recite Talbiyah?
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/Tawaf" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 40px">
                                    What is Tawaf and how to perform Tawaf?
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">

                <div class="span12" style="">
                    <div class="row-fluid">
                        <div class="span3 divSize" id="" style="">


                            <a href="#" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 45px">
                                    Drinking Zamzam Water
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/Sai" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 43px">
                                    What is Sa’i and how to perform Sa’i?
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">


                            <a href="#" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 45px">
                                    Rulings on throwing pebbles at Mina
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/AnimalSacrifice" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 43px">
                                    Rulings on animal sacrifice
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">

                <div class="span12" style="">
                    <div class="row-fluid">
                        <div class="span3 divSize" id="" style="">


                            <a href="../Footer/Stepbystepguidetohajjrites" id="mylink4">
                                <p style="font-size:17px; text-align: center; color:  #e6005c; padding: 43px">
                                    <strong>Step by step guide to Hajj</strong>
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/CommonMisconceptions" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 36.5px">
                                    Common misconceptions about Hajj
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">


                            <a href="../Footer/CommonMisconceptions/CommonMisconceptions#commonmistakes" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 40px">
                                    Common mistakes during Hajj
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/HajjWoman" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 51px">
                                    Hajj of a woman
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">

                <div class="span12" style="">
                    <div class="row-fluid">
                        <div class="span3 divSize" id="" style="">


                            <a href="#" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 53px">
                                    Hajj of a minor
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="#" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 40px">
                                    Hajj on behalf of someone else
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">


                            <a href="#" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 40px">
                                    How to perform Hajj salah
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Footer/Hajjritesataglance" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 40px">
                                    Recap: Hajj rites at a glance
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row-fluid">

                <div class="span12" style="">
                    <div class="row-fluid">
                        <div class="span3 divSize" id="" style="">


                            <a href="../Information/IntroductiontoMadinah" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 33px">
                                    Introduction to Madinah
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Information/VisitingProphetMosque" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 33px">
                                    Visiting Prophet’s Mosque
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">


                            <a href="../Information/VisitingProphetMosque#Riaduljannah" id="mylink4">
                                <p style="font-size:17px; text-align: center; color: black; padding: 31px">
                                    Praying at Raudahtul Jannah
                                </p>
                            </a>

                        </div>
                        <div class="span3 divSize" id="" style="">

                            <a href="../Information/VisitingProphetGrave" id="mylink5">
                                <p style="font-size:17px; text-align: center; color: black; padding: 29px">
                                    Etiquette of visiting Prophet’s grave
                                </p>
                            </a>

                        </div>
                    </div>
                </div>

            </div>*@
        </div>
    
    </div>
