@{
    ViewBag.Title = "Hajj & 'Umrah Visas";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">

        <h4>How hajj and 'umrah visas are processed?</h4>

        <p>Hajj or Umrah visa procedures are different than any other types of visas (e.g. visit visa or commercial visa) that one may obtain to go to any country. For Hajj or Umrah visa, the pilgrims must apply through a Saudi Ministry of Hajj approved licensed travel agency. The agent presents the Consulate with copies of “Accommodation Contacts” and a letter from the Ministry of Hajj in Saudi Arabia confirming that the travel agency has duly completed all requirements to qualify to assist pilgrims. </p>
        <p><u>Hajj visas are not issued to individuals who have performed Hajj in the last five years.</u></p>
        <p>All agencies handling Hajj visa applications are required to fill out and sign a contract issued by the Ministry of Hajj before submitting the passports to the Embassy for Hajj visas.  The contract details the rights and obligations of the agency and the pilgrim.  The agency is to keep a copy of the signed contract for their records in case the Embassy needs to refer to it at any time. The signed contract is a pre-requisite for obtaining a Hajj visa, and failure to obtain it or breaching any of its terms will be regarded as fraud against the pilgrim and will result in withdrawing the privilege of the agency to handle Hajj visas.  </p>
        <p><strong><u>Applications for Hajj visa will not be considered if the following requirements are not met:</u></strong></p>
        <p>The applicant must have a passport with a validity of at least six (6) months and acceptable both for entry to Saudi Arabia and entry to the next destination; the passport should have at least two empty visa pages adjacent to each other.</p>
        <p>Each applicant must submit one (1) recent passport size colour photograph with a white background. The photograph must be a full-face view in which the visa applicant is facing the camera directly. Side or angled views are NOT accepted.</p>
        <p>A completed application form filled-out with black ink or printed; the form must be signed and stamped by the authorized travel agency.</p>
        <p>All women are required to travel for Hajj with a Mahram. Proof of kinship must be submitted with the application form. </p>
        <p>The applicant must be in possession of a non-refundable roundtrip ticket with confirmed reservations.</p>
        <p>The applicant must submit proof of vaccination for meningitis and ACYW135. For infants and children up to fifteen (15) years of age, a vaccination report is required for polio as well as meningitis and polio. Children over fifteen (15) years of age should present the same vaccinations requested for adults. </p>
        <ul>
            <li>Meningitis and ACYW135.The seasonal (or common) flu, which should be taken two weeks before applying for the visa.</li>
            <li>The H1N1 flu, if a vaccine is made available before Hajj season, and should be taken two weeks before  applying for the visa.</li>
            <li>Infants and children up to fifteen (15) years of age should provide a vaccination report for meningococcal and polio.  </li>
            <li>Children above fifteen (15) years of age should present the same vaccinations requested for adults.</li>
            <li>	No minor (under 18 years of age) will be granted a Hajj visa if not accompanied by his family.  Minors travelling one parent must submit a notarised letter of authorization, in either in Arabic or English, signed by both parents or legal guardians.</li>

        </ul>
        <p>If the applicant has converted to Islam, an Islamic certificate must be presented; this needs to be notarized by an Islamic Centre.</p>

        <p><strong>General Guidelines:</strong></p>
        <p>Pilgrims must carry vaccination certificates with them for inspection by the Saudi Authority at port of entry.</p>
        <p>No food products are allowed into the Kingdom of Saudi Arabia.</p>
        <p>The last day to enter King Abdulaziz Airport in Jeddah for the purpose of Hajj is 4 Dhul-hijja of each year.</p>
        <p>Upon arrival, pilgrims shall hand their passports to the "Unified Agents Office" representatives to enable the latter to complete all travel formalities to Makkah and Madinah.</p>
        <p>In the event that pilgrims lose their passport, they should immediately report the loss to the same office appointed to take care of them during Hajj. Applicants must obtain a report from the office of the Unified Agents in which the loss of passport is mentioned.</p>
        <p>All pilgrims must leave the Kingdom of Saudi Arabia after Hajj no later than the 10th of Muharram of each year. The rules and regulations of the Kingdom of Saudi Arabia forbid any pilgrims from staying in the country after the completion of Hajj.</p>
        <p><strong><u>Hajj Baggage Allowance Regulations:</u></strong></p>
        <p>The Ministry of Hajj would like to stress the important to adhere to the baggage restrictions on all pilgrims arriving and departing the Kingdom of Saudi Arabia:</p>
        <p>Maximum baggage weight:  32 kg [70lbs]</p>
        <p>Maximum size:  56x45x25cm [20x17.7x9.8in].</p>
        <p>Excess baggage must be shipped.  Authorized Hajj cargo service centres have been established in Makkah and at King Abdul Aziz International Airport support services area.</p>
        <p><strong><u>General Guidelines for travel Agencies:</u></strong></p>
        <p>Travel agents must provide the consulate with Residence, Tawaf, and transportation contracts. They also must provide the unified contract that verifies the general services provided to pilgrims. This contract must include the name of the organiser, the code given to them by the Ministry of Hajj, and the number of visas they are allowed to get. They also must provide the consulate with a letter from the Ministry of Hajj office in Makkah. All these documents should arrive at the consulate before hajj visas are issued.</p>
        <p>Passports will be returned if the information submitted is not same with the information sent electronically by the Ministry of Hajj. The Embassy reserves the right to inform the Ministry of Hajj about travel agencies that submit inaccurate or incomplete information.</p>
        <p>Travel agencies should affix on each passport a sticker showing the agency’s name, address and telephone number.</p>
        <p> In the case that a travel agency wishes to submit any question or complaints to the Ministry of Hajj, they may do so through the company or agency they deal with in Saudi Arabia or through the official routes in their country.</p>
        <p>Pilgrims exchange establishments are urged to declare all currencies in their possession and to exchange currencies only through authorized currency exchange establishments.</p>
        <p><strong><u>Notice: </u></strong></p>
        <p>Visitors of the Kingdom of Saudi Arabia shall abide by the country’s Islamic laws and regulations and respect its society’s values and traditions.  The Kingdom of Saudi Arabia anti-drug trafficking laws are strictly enforced.  Violators are subject to severe punishment, which may include the death penalty.  Sectarian, political or religious gatherings are forbidden.</p>
        <p><em>FOR MORE UP TO DATE AND DETAILED INFORMATION REGARDING HAJJ AND UMRAH VISA, PLEASE CONTACT YOUR AGENT OR SAUDI EMBASSY OF THE COUNTRY WHERE YOU LIVE.</em></p>
    </div>
</div>