@{
    ViewBag.Title = "The Hajj Market";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">

    
         #btninformation {
        background-color: #D95902 !important;
    }

    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

    ul.a {
        list-style-type: square;
    }
     /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/SafetySecurity">Safety Security and Fraud</a></li>
    <li>The Hajj Market</li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">

        <h2>The Hajj Market</h2>
        <p>Millions of Muslims from all over the world travel to Mecca every year to perform Hajj and ‘umrah. Hajj is time specific. It is held during the month of Dhul-hujja, whereas ‘umrah can take place any time of the year. As Islamic calendar is based on lunar month, therefore the month of Dhul-hujja is not likely to coincide with the same English calendar month every year.   </p>
        <p>When thinking of performing Hajj and ‘umrah, the first thing that comes to most people’s mind is the price and a package – how much it is going to cost and where to buy from?  Generally people buy readymade Hajj and ‘umrah packages from retail travel agents. Individual travel agents make their own packages and then they sell these packages to potential clients. Package features vary in terms of price, types of accommodations, and direct and indirect flights etc. </p>
        <p>Unlike any other holiday booking where one can buy a flight separately and then book an accommodation once they are in the destination; however, with Hajj and ‘umrah booking, buying separate elements of a package may not be possible. A person thinking of going to Hajj or ‘umrah must obtain visa and arrange other necessary elements of his/her trip such as flight and accommodation, through an approved agent of the Ministry of Hajj, KSA. This is because the Ministry has set some specific rules with regard to Hajj and ‘umrah package buying and selling. </p>
        <p>It is also important to note that not all agents operating in the market are approved by the Saudi Ministry of Hajj to sell Hajj and ‘umrah packages.  Some agents are sub agents of approved agents. These sub agents work on a commission basis with approved agents. The most important thing that one needs to be aware of that sometime rogue agents operate in the market. They are always looking for soft targets. Before contacting an agent, you must check if this agent is approved by the Saudi Ministry of Hajj or it is a sub agent of an approved agent.   </p>
    </div>
</div>

