@{
    ViewBag.Title = " Hajj and 'Umrah Vacccination";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        </style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Hajj and 'Umrah Vacccination</h4>
        <p>Visitors from any country arriving for Hajj pilgrimage and ‘Umrah, or for seasonal work, are required to produce a certificate of vaccination against meningococcal infections ACWY which has been issued not more than 3 years and no less than 10 days prior to arrival in Saudi Arabia. The Ministry of Health of Saudia Arabia also recommends influenza vaccine before arrival, especially for those at increased risk e.g. the elderly, chronic chest or heart disease.</p>
        <p>Anyone planning to go to Hajj and ‘Umrah, it is recommended that you consult with your GP and Practice Nurse around 8 weeks before your trip to check whether you need any vaccinations or other preventive measures.  They will assess your particular health risks before recommending vaccines and /or anti-malarial tablets. </p>
        <p>Apart from this, you may want to visit the website of the <a href="http://travelhealthpro.org.uk/country/191/saudi-arabia" target="_blank">National Travel Health Network </a> and <a href="http://www.fitfortravel.nhs.uk/advice/general-travel-health-advice/hajj-and-umrah-pilgrimage.aspx" target="_blank"> Centre and Fitfortravel </a>. They publish country specific health advice and information for people travelling abroad from the UK.  </p>
        <p>Also note healthcare facilities in major cities are of a high standard. Most towns have a health centre or basic hospital. If you need emergency medical assistance during your trip, dial 997 and you may ask for an ambulance. </p>

    </div>
</div>