
@{
    ViewBag.Title = "How to make 'Umrah Intention?";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}



<style type="text/css">
          #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;        
    }
    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        text-align: right;
        line-height: 35px;
    }
        /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li>Umrah in Ramadan</li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>
<div class="row-fluid">
    <div class="Footercontent">

        <h2>How to make 'Umrah Hajj Intention?</h2>

        <p>Niyah is the intention of performing an act of worship. In any type of Islamic worship Niyah [intention] is generally done in the heart, not by the tongue. Hajj or ‘Umrah is the only occasion where Niyah is uttered aloud.  Pilgrim enters into state of ihram by pronouncing intention.  Hajj and ‘umrah rites begin by entering into the state of Ihram. It is recommended that one should perform the cleansing rituals before wearing the prescribed Ihram attire and uttering Niyah.</p>

        <p>
            If possible, it is preferred 'Umrah Niyah is pronounced after a salah.  However, there is no basis in sunnah of any specific Ihram Salah or Salatul-Ihram as some books refer to perform after adopting Ihram.  The Prophet (pbuh) pronounced his Niyah after an obligatory Salah (i.e. Salatul-Dhuhr). However, if there is no obligatory salah imminent to perform before uttering your niyah, in such situation one may pronounce niyah after performing 2 rakats travelling salah or sunnah prayer of wudu.
        </p>

        <p>
            <b>
                The wording of 'Umrah intention
            </b>
        </p>
        <p>Wearing the Ihram clothes does not mean one is in the state of Ihram. The state of Ihram [i.e. ritual consecration] begins when one utters the Niyah (make intention) either for Hajj or ‘umrah. This is normally pronounced before entering a specific area called the miqat. </p>
        <p>The text of the 'Umrah intention is:</p>

        <div class="center">
            <p>
                <font size="4">
                    لَبَّيْكَ الَّهُمَّ عُمْرَةً
                </font>
            </p>
        </div>
        <p>Labbayk Allahumma ‘Umrah</p>
        <p>
            Or
        </p>
        <div class="center">
            <p>
                <font size="4">
                    لَبَّيْكَ عُمْرَةً
                </font>
            </p>
        </div>
        

        <p>Labbayka ‘Umrah</p>
        <p>“O Allah here I am performing ‘Umrah.”</p>
        <p>One may delay pronunciation of his or her intention [ i.e. forming ihram] until boarding their means of transportation, but they must utter niyah before crossing the meeqaat for Makkah. </p>

        <p><b>
               Niyah with a Stipulation </b></p>
        <p>What to do if you fear some obstacles  may prevent you from completing pilgrimage? At the time of entering the state of Ihram, if you fear that your illness or any other reasons [e.g. an enemy or being stopped from proceeding any further, etc] may obstruct their ‘‘Umrah performance, then you can recite a clause of stipulation (Ishtirat) to Allah by saying: </p>
        <div class="center">
            <p><font size="4">فَاِنْ حَبَسَنِي حَابِسٌ فَمَحِلِّ حَيْثُ حَبَسْتَنِي</font></p>
        </div>
        <p>Fa in habasani haabisun, fa mahilli haithu habastani</p>
        <p>Thus if I’m hindered by any obstacle, then my place of conclusion is where You have held me. </p>
        <p>The Prophet (pbuh) ordered Dhuba’ah Bint Al-Zubair (may Allah be pleased her) to pronounce the statement of the stipulation when she complained of being ill. He (pbuh) said to her, “Your condition is valid with your Lord.” Narrated by al-Bukhaari (5089) and Muslim (1207). </p>
        <p>The benefit of this if one faces any obstacle that prevents him or her from completing ‘Umrah, then it is permissible for this person to conclude ‘Umrah early. This person will not require offering any sacrifice (fidyah). However, shaving or cutting of hair must be done by the pilgrim.   </p>
        <p>But the one who does not fear that some obstacle may prevent him or her from completing 'Umrah, then they should not stipulate any conditions, because the Prophet (pbuh) did not stipulate conditions nor did he command everyone to do so. Rather he told Dubaa’ah bint al-Zubayr to do that because she was sick. </p>
    </div>
    </div>

