@{
    ViewBag.Title = "What is Miqat?";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

    img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    .mostread {
        border: 5px solid #a1a1a1; 
        border-radius:5px; 
        margin :5px;
        background-color:silver;
    }
    .mainmostread         {
        background-color:silver;
    }
</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <div class="span8" style="">
            <div class="span12">

                <img src="../../Content/images/Path.jpg" />
            </div>
            <div class="span12">
                <div class="span12">
                    <h4>How To Choose A Hajj Umrah Travel Agent</h4>
                    <p>The literal meaning of miqat is “a stated time or place.” Time and location is the first condition of ihram, i.e. when and where to make intention to start the hajj and wear hajj attire for hajj to be valid.  The miqat of time denotes to a specific period of time when the rites of hajj have to be performed. The majority of the scholars agree that miqat of time comprise months of Shawwal, Dhul-Qada, and the first 10 days of Dhul-hijja. The scholars, however, disagree about the months of Dhul-hijja, whether or not only the first ten days of it are to be included in the months of hajj or the entire month. </p>
                    <p>Conversely, the locations are specific places what are called mawaqit of hajj. The Prophet (pbuh) himself specified places for people coming from within and outside this demarcation to perform hajj and ‘umrah to Makkah. The implication of miqat here is that a person coming for either hajj or ‘umrah or both, before entering miqat, he or she must wear ihram clothes and declare intention (ni’ya) for hajj and/or ‘umrah, and be in a state of ihram (consecration) until all rites are completed.</p>

                </div>
                <div class="span12">
                    <div class="span4">
                        <img src="../../Content/images/Path.jpg" />
                    </div>
                    <div class="span8" style="margin:2px;">
                        <p>Please note the ruling on miqat equally applies to both hajj and ‘umrah, and Jeddah Airport is inside miqat boundary. As most people come by plane, it is important to note that they must wear their ihram attire and make intention before entering miqat – hence, in this case before arriving Jeddah. Anybody with the intention of performing ‘umrah or hajj, passes through the miqat boundary without ihram, is liable for sacrifice (expiation) an animal. This sacrifice has to be done either in Makkah, Mina or Muzdalifa area, not in one’s home country or any other place.  </p>
                    </div>
                </div>
                <div class="span12">
                    <p>[Miqat Demarcation: This map is not to scale. It has been used for a representation purpose only].  </p>

                    @*<h5>
                            <a style="text-decoration:underline">Ruling for people living inside miqat boundaries</a>
                        </h5>*@
                    <p>
                        Anyone living within these boundaries can assume Ihram from where they start. The people of Makkah should assume Ihram from Makkah. However, anyone who decides to perform ‘‘umrah while they are inside Al-Haram (all areas within the Sacred Sanctuary of Makkah), they should move to Al-Hill (all areas outside the Sacred Sanctuary of Makkah) and assume Ihram from there, as ‘Aishah (may Allah be pleased with her) did by the command of the Messenger of Allah (peace be upon him).
                    </p>
                    <p>
                        The Prophet (peace be upon him) told her brother, Abdul-Rahman ibn Abu Bakr, to take her out of the Haram to Al-Tan‘im and let her assume ihram for ‘umrah. This was after performance of Hajj during the Farewell Hajj.
                    </p>
                </div>
            </div>
        </div>
        <div class="mainmostread span4" style="background-color:silver"> @*style="border-left:solid;border-color:silver">*@


            <div class="mostread span12">
                <img src="../../Content/images/Path.jpg" />
            </div>

            <div class="mostread span12">
                <img src="../../Content/images/Path.jpg" />
            </div>

            <div class="mostread span12">
                <img src="../../Content/images/Path.jpg" />
            </div>

            <div class="mostread span12">
                <img src="../../Content/images/Path.jpg" />
            </div>

            <div class="mostread span12">
                <img src="../../Content/images/Path.jpg" />
            </div>

            <div class="mostread span12">
                <img src="../../Content/images/Path.jpg" />
            </div>

           
            </div>

    </div>
</div>