 
@{
    ViewBag.Title = "HowtoChooseHajjAndUmrahTravelAgent";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">




    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        margin: 0 10px 1rem;
        background: #C7C7C7;

    }


    .hero-banner {
        margin-bottom: 1rem;
    }

        .hero-banner img {
            display: block;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #888888;
            font-size: 0.8rem;
            font-weight: 500;
        }

    .inline-ads {
        clear: left;
        margin: 5px 15px 10px 0;
    }

    .sidebar-ads {
        padding-top: 10px;
        margin-bottom: 1rem;
         display: flex;
         justify-content: center;
        align-items: center;
    }

    .post-list {
        padding: 0 15px;
        padding-top: 5vh;

    }

        .post-list h4 {
            color: #252525;
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.3rem 0 0.5rem;
            border-bottom: 1px solid #aeaeac;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #aeaeac;
                box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }
</style>

<h2>How to Choose Hajj and Umrah Travel Agent</h2>

<section class="page-container">
    <div class="main-content">
        <div class="hero-banner">
           
             @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@

            <img src="../../content/images/Madinah_test.jpg" att = "Alternate Text" />

           
            
            <span>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>
        </div>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="pull-left inline-ads">
            <img src="http://via.placeholder.com/200x250" alt="Alternate Text" />
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <br />
        @*<div class="social-links-wrapper">
            <ul class="social-links">
                <li>
                    <a class="facebook" target="_blank" title="Share on facebook" href="https://www.facebook.com/Compare-HAJJ-Packages-1340663379282921/?ref=settings">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter" target="_blank" title="Share on twitter" href="http://www.twitter.com/PLACEHOLDER">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="Mail Us" href="#">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="linkedin" target="_blank" rel="nofollow" href="https://www.linkedin.com/company/10649804?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A2172969401465312534228%2CVSRPtargetId%3A10649804%2CVSRPcmpt%3Aprimary" title="Share on Linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="pinterest" target="_blank" title="Share on Pinterest" href="#">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="gplus" target="_blank" title="Share on google plus" href="https://plus.google.com/PLACEHOLDER">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>*@
    </div>
    <aside>
        <div class="sidebar-ads">
            @*<img src="http://via.placeholder.com/400x750" alt="Alternate Text" />*@


            <img src="~/content/images/Add3NewsEvent.jpg" att="Alternate Text" />
        </div>

        <div class="post-list">
            <h4>Most Read</h4>

            <ul>
                <li>
                    <a href="#">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/leafletonly1.png"Alternate Text" />

                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://via.placeholder.com/150x150" alt="Alternate Text" />
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://via.placeholder.com/150x150" alt="Alternate Text" />
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </a>
                </li>
            </ul>

        </div>
    </aside>
</section>

