
@{
    ViewBag.Title = "Ifrad Hajj AT A Glance";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}


<style type="text/css">
        #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

    table, th, td {
        border: 1px #533a72;
        border-collapse: collapse;
          padding: 10px;
        width: auto;
        color: white;
        font-size: 1.1em;
        background: #533a72;
    }


    .step .media-body {
        border: 2px solid #a779d2;
        padding: 10px;
    }

    .step .media {
        padding: 1px;
    }



    .medium-arrow {
        width: 70px;
        height: 110px;
    }

    .large-arrow {
        width: 100%;
        height: 300px;
    }

    .horigontal-arrow {
        width: 250px;
        height: 80px;
    }

    .horigontalLong-arrow {
        width: 180px;
        height: 60px;
    }

    .extraLarge-arrow {
        width: 100px;
        height: 200px;
    }

    .media-object {
        display: inline;
    }

    .stepPosition-Part1-Umrah {
        color: white;
        font-weight: bold;
        font-size: 1.25em;
        left: 95px;
        margin-left: 0;
        margin-top: 30px;
        position: absolute;
    }

    .stepPosition-Part2-hajj {
        color: white;
        font-weight: bold;
        left: 470px;
        margin-left: 0;
        margin-top: 15px;
        position: absolute;
    }

    .stepPosition-Ihram-break {
        color: black;
        font-weight: bold;
        left: 232px;
        margin-left: 0;
        position: absolute;
        text-align: center;
        top: 10px;
    }


    .small-arrow {
        width: 100px;
        height: 120px;
    }


    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

    .stepPosition {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 22px;
        top: 30px;
        text-align: center;
    }

    .stepPosition1 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left:46px;
        margin-top: 50px;
        text-align: center;
    }

    .stepPosition2 {
       position: absolute;
        margin-left: 0px;
        color: white;
        left:44px;
        margin-top: 50px;
        text-align: center;
    }

    
    /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>



<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/Hajjritesataglance">Hajj rites at a glance</a></li>
    <li>Qiran Hajj at a glance </li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>Ifrad Hajj at a glance </h2>
        <div class="step">
            <div class="media" style="position:relative">
                <a>
                    <img class="media-object horigontal-arrow img-responsive" alt="64x64" src="~/Content/images/Ifrad arrow horizontal.png" />
                    <span class="stepPosition-Part1-Umrah">
                        Hajj only
                    </span>

                </a>

            </div>
        </div>
        <br />

        

        <div class="step">
            <div class="media">

                <table>
                    <tr>
                        <td>
                           Actions before hajj in Ifrad Hajj
                        </td>
                    </tr>

                </table>
                <br />
                @*<a>

                        @*<img class="media-object horigontal-arrowhorigontalLong-arrow" alt="64x64" src="~/Content/images/Part1.jpg" />

                    </a>*@

            </div>
        </div>
        <div class="step boxstep">
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        1
                        
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul style="list-style-type:disc">
                        <li>Cleansing
                        Rituals</li>
                    </ul>
                </div>
            </div>
           
             <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        2
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul style="position:relative">
                        <li>
                            Ihram Attire
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        3

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul style="list-style-type:disc">

                        <li>
                            Salah before
                            making
                            intention (OPTIONAL)
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        4
                       
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul style="list-style-type:disc">
                        <li>
                            Miqat &

                            making
                            intention
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        5
                        
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul>
                        <li>
                            Recite
                            Talbiyah
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        6
                        
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul>
                        <li>Arrive in
                        Makkah</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        7
                       
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />
                </a>
                <div class="media-body">

                        <ul>
                            <li>
                                Perform
                                Welcome Tawaf
                            </li>
                        </ul>

                    </div>
                </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        8
                        
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                 <div class="media-body">
                    
                        <ul>
                            <li>
                                Two rakat
                                salah after 
                             tawaf</li>

                        </ul>

                    </div>

                                    
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        9
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body arabicCSS">
                    <ul>
                        <li>	Drink
                        Zamzam
                        Water</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        10
                       

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body arabicCSS">
                    <ul>
                        <li>
                            Leaving the
                            Holy Mosque
                        </li>
                    </ul>

                </div>
            </div>
            <div class="media-body">
                <p style="color:red;">In Ifrad Hajj, the performance of sa’i after ‘Welcome Tawaf’ is optional. However, if anyone does Sa'i at this stage, they do not need to do sa’i  after hajj tawaf (Tawaf –al-Ifada). It is better to do sa’i  after Tawaf –al-Ifada. </p>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        11
                        
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">

                    <ul>
                        <li>
                            Perform Sa’i
                            (OPTIONAL)
                        </li>

                    </ul>
               
                    
                       
                            	
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
    12
    

</span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow-Part1.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    
                        <ul>
                            <li>	No hair cutting
    or shaving</li>
                           
                        </ul>
                    
                   </div>
            </div>

            <br />
            <table>
                <tr>
                    <td>
                      Actions during hajj in Ifrad Hajj
                    </td>
                </tr>

            </table>
            <br />
            <p>
                <b><u>Main actions of Hajj take place between 8th – 13th Dhul-hijja </u></b>
            </p>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        13
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />

                </a>
                <div class="media-body">
                    <b>8th Dhul-Hijja (Makkah to Mina)
</b><br />
                    <ul>
                        <li>	You are already in the state of ihram
</li><li>
         Recite talbiya
</li>
                        <li>
                            Stay in Mina

                        </li>
                                            </ul>
                </div>


            </div>
            @*<div class="step">
                    <div class="media" style="position:relative">
                        <a>
                            <img class="media-object horigontal-arrowhorigontalLong-arrow" alt="64x64" src="~/Content/images/Part2.jpg" />

                        </a>

                    </div>
                </div>*@

            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        14
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />

                </a>

                <div class="media-body">
                    <b> 9th Dhul-Hijja (morning) (Mina to Arafat
</b>
                    <ul>

                        <li>Standing in Arafat
</li>

                        </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        15
                        
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />
                </a>
                <div class="media-body">
                    <b>9th Dhul-Hijja(after sunset) (Arafat to Muzdalifah)
</b><br />
                    <ul>
                        <li>	 Night at Muzdalifah
</li>
                        </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        16               
                       

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />

                </a>
                <div class="media-body">
                    <b> 10th Dhul-Hijja (Muzdalifah to Mina)
</b><br />
                    <ul>
                        <li> Seven pebbles at the largest jamrah
</li>
                    
                        <li>T Shave or cut/clip their hair (partial Ihram restrictions lifted )
</li>.
                    </ul>


                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        17
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />

                </a>
                <div class="media-body">
                    <b>10th Dhul-Hijja (Mina - Makkah - Mina)
</b><br />
                    <ul>
                        <li>
                            Tawaaf-al-Ifadah (Full Ihram restrictions lifted

                        </li>
                        <li>
                            Sa'i (if not done before)

                        </li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        18
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />

                </a>
                <div class="media-body">
                    <b>11th Dhul-Hijja (Mina)
</b><br />
                    <ul>
                        <li> Throw 7 pebbles on each of the 3 pillars (totall 21 pebbles)
</li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        19
                        
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />
                </a>
                <div class="media-body">
                    <b>12th Dhul-Hijja (Mina)
</b><br />
                    <ul>
                        <li>
                            7 pebbles on each of the 3 pillars (totall 21 pebbles)

                        </li>
                        <li>
                            If the sun sets before you are able to depart, remain in Mina for the third night and throw 21 pebbles again the next day.

                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        20*
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />

                </a>
                <div class="media-body">
                    <b> 13th Dhul-Hijja (Mina to Makkah)
</b><br />
                    <ul>
                        <li>Throw 7 pebbles on each of the 3 pillars (totall 21 pebbles)
</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        21
                        

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/IfradArrow2.png" />

                </a>
                <div class="media-body">
                    <b>Tawaaf-al-Wida (Makkah) </b><br />
                    <ul>
                        <li>
                            Hajj complete

                        </li>
                    </ul>
                </div>
            </div>
            <h4 style="text-align:center;">*Ignore step 20 if you are able to depart Mina before the sun sets on 12th Dhul-hijja. </h4>
        </div>
        @**/---------------------------*@

    </div>
</div>
