@{
    ViewBag.Title = "Mobile Site";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }
        .Footercontent p {
            text-align:justify;
            line-height:25px;
            font-size:1.1em;
        }

</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Mobile Site</h4>
        <h5>Comparehajjpackages.com Apps</h5>
        <p>
            Comparehajjpackages.com is facilitating pilgrims to search and compare hajj & umrah packages. Compare hundreds of Hajj and Umrah packages in seconds with Comparehajjpackages’ free mobile apps available on iPhone, iPad, Android, Windows Phone, BlackBerry and Windows 8, 10.
        </p>
        <p>
            Looking for best available online Hajj and Umrah packages? Look no further! Just try Comparehajjpackages’ free package search apps which is available for a wide range of mobile platforms, so whatever device you use, you will have simply the most flexible and powerful Hajj and Umrah package search app in the world.
        </p>
        <p>
            It is absolutely FREE! Great Deals at Your Fingertips.
        </p>
    </div>
</div>

