@{
    ViewBag.Title = "How to make hajj intention? -Niyah for Hajj";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content="Hajj or ‘Umrah is the only occasion where Niyah is uttered aloud. What type of Niyah one will do depends on the type of Hajj one plans to perform. " />
    <meta name="Keywords" content="how to make hajj intention?, hajj niyah" />
    <meta name="author" content="comparehajjpackages.com">
}


<style type="text/css">

      #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

    .center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;        
    }






/*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/


</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/HajjAndHajjRites">Hajj and Hajj Rites</a></li>
    <li>How to make Hajj intention? </li>


</ul>

<div class="row-fluid">
    <div class="Footercontent">
        <h2>How to make Hajj intention? </h2>
  
        <p>
            Niyah is the intention of performing an act of worship. In any type of Islamic worships Niyah is generally done in the heart, not by the tongue. Hajj or ‘Umrah is the only occasion where Niyah is uttered aloud.  What type of Niyah one will do depends on the type of Hajj one plans to perform. 
        </p>
        <p>
            It is preferred Niyah is pronounced after a salah if possible. However, there is no basis in sunnah of any specific Ihram Salah or Salatul-Ihram as some books refer to perform after adopting Ihram.  The Prophet Mohammed (pbuh) pronounced his Niyah after an obligatory Salah (i.e. Salatul-Dhuhr). However, if there is no obligatory salah imminent to perform before uttering your hajj niyah, in such situation one may pronounce niyah after performing 2 rakats travelling salah. 
        </p>
        <h3><u>Niyah for Tamattu Hajj</u></h3>
        <p>
            Tamattu Hajj consists of two parts with a beak between the first part (that is ‘Umrah) and the second part (that is Hajj). Therefore, the Niyah follows the same order. 
        </p>
        <ul>
            <li>
                Niyah for ‘Umrah (i.e. part one) is as follows: 
            </li>
        </ul>
            
       
        <div class="center">
            <p><font size="4">
    لَبَّيْكَ الَّهُمَّ عُمْرَةً
    </font>
</p>
        </div>
        <p>Labbayk Allahumma ‘Umrah</p>
        <p>
            Or
        </p>
        <div class="center">
            <p>
                <font size="4">
                    لَبَّيْكَ عُمْرَةً
                </font>
            </p>
                </div>
          
            <p>Labbayka ‘Umrah</p>
            <p>“O Allah here I am performing ‘Umrah.”</p>
            <p>Once ‘Umrah is completed after doing all necessary rites, pilgrims are now free from Ihram restrictions. They wait until 8th Dhul-hijja to begin Hajj. Pilgrims who intended for Tammattu now utter their second part of Niyah – that is the Hajj. </p>
            <ul>
                <li>
                    Niyah for Hajj (i.e. part two) is as follows:
                </li>
            </ul>
         
        <div class="center">
            <p><font size="4">لَبَّيْكَ الَّهُمَّ حَجّاً</font></p>
            </div>
            <p>“Labbayk Allahumma Hajjan”</p>
            <p>Or </p>
        <div class="center">
            <p><font size="4">لَبَّيْكَ حَجّاً</font></p>
            </div>
            <p>“Labbayka Hajjan”</p>
            <p>“O Allah here I am performing Hajj.”</p>
            <h3><u>Niyah for Qiran Hajj
                </u></h3>
            <p>Qiran Hajj also consists of two parts but there is no break in between two parts. Here ‘Umrah and Hajj are performed with one Niyah. Therefore, pilgrims who make intention for Hajj Qiran remain in the state of Ihram even after completing their ‘Umrah until the Hajj is completed. </p>
           
        <ul>
            <li>
                Niyah for Qiran Hajj (i.e. part two) is as follows:
            </li>
        </ul>
        
        <div class="center">
            <p><font size="4">لَبَّيْكَ الَّهُمَّ عُمْرَةً وَ حَجّاً</font></p>
            </div>
            <p>“Labbayk Allahumma ‘Umratan wa Hajjan”</p>
            <p>Or</p>
        <div class="center">
            <p><font size="4">لَبَّيْكَ عُمْرَةً وَ حَجّاً</font></p>
            </div>
            <p>“Labbayka ‘Umratan wa Hajjan”</p>
            <p>“O Allah here I am performing ‘Umrah and Hajj.”</p>

            <h3><u>Niyah for Ifrad Hajj</u></h3>
            <p>Ifrad Hajj only involves Hajj. This does not have any ‘Umrah element. Therefore, Niyah for Ifrad Hajj is just uttering intention for Hajj. </p>
        <div class="center">

            <p><font size="4">لَبَّيْكَ الَّهُمَّ حَجّاً</font></p>
            </div>
            <p>“Labbayk Allahumma Hajjan”</p>
            <p>Or</p>
        <div class="center">
            <p><font size="4">لَبَّيْكَ حَجّاً</font></p>
            </div>
            <p>“Labbayka Hajjan”</p>
            <p>“O Allah here I am performing Hajj.”</p>
            <p>Point to note: Menstruating and post-natal bleeding women must do Niyah and enter into the state of Ihram before crossing the Miqat as others regardless of their situation. More on this discussed in section entitled ‘Hajj of a Woman.’  </p>
            <h3><u>Niyah for Hajj on behalf of someone else</u></h3>
            <p>If anyone is planning to perform Hajj on behalf of his mother, father or anyone else, here Niyah is slightly different. In the Niyah, the name of the person is added. </p>
        <div class="center">
            <p><font size="4">لَبَّيْكَ الَّهُمَّ حَجّاً عَنْ............... </font></p>
            </div>
            <p>“Labbayk Allahumma Hajjan ‘an: name of the person</p>
            <p>Or</p>
        <div class="center">
            <p><font size="4">لَبَّيْكَ حَجّاً عَنْ ..........</font></p></div>

            <p>“Labbayk Hajjan ‘an: name of the person” </p>
            <p>“Oh Allah here I am for name of the person” </p>
            <h3><u>Niyah with a Stipulation</u></h3>
            <p>At the time of entering the state of Ihram, if a pilgrim fears that his or her illness or any other reasons may obstruct their ‘‘Umrah and/or Hajj performance, then one can recite a clause of stipulation (Ishtirat) to Allah by saying: </p>
        <div class="center">
            <p><font size="4">فَاِنْ حَبَسَنِي حَابِسٌ فَمَحِلِّ حَيْثُ حَبَسْتَنِي</font></p>
        </div>
            <p>Fa in habasani haabisun, fa mahilli haithu habastani</p>
            <p>Thus if I’m hindered by any obstacle, then my place of conclusion is where You have held me. </p>
            <p>The Prophet (pbuh) ordered Dhuba’ah Bint Al-Zubair (may Allah be pleased her) to pronounce the statement of the stipulation when she complained of being ill. (Bukhari & Muslim)</p>
            <p>The benefit of this if one faces any obstacle that prevents him or her from completing ‘Umrah, then it is permissible for this person to conclude ‘Umrah early. This person will not require offering any sacrifice (fidyah). However, shaving or cutting of hair must be done by the pilgrim.   </p>
            
        <h3><u>Changing Niyah (Intention)</u> </h3>
            <p>In general terms, one is not allowed to change his or her intention. However, if there is any compelling reason, one may change initial intention but must abide by some rules for changing.</p>
            
        <ul>
        <li>
            Tammattu pilgrims or Qiran pilgrims are not allowed to change his or her intention to Ifrad.
        </li>
            <li>
                Tammattu pilgrims can change his or her intention to Qiran only if:
            </li>
            
            <ul>
                
                <li>
                    Prior to completing ‘Umrah if a woman’s menstruation starts and she is due to proceed to Mina or Arafat.
                </li>
                <li>
                    The pilgrim is unable to reach Makkah and complete an ‘Umrah before going to Mina or Arafat.
                </li>

            </ul>
          <li>
              If Qarin pilgrims do not have any sacrificial with them, then should change intention from Qiran to Tammattu. 
          </li>


        </ul>
            
            

            
             
            <p></p>

        </div>
</div>