@{
    ViewBag.Title = "Privacy & Cookie Policy";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
}
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4> Privacy and Cookie Policy</h4>
        <h5>Who are we?</h5>
        <p>
            Comparehajjpackages.com (hereinafter " Comparehajjpackages" or "us" or "we" as the context requires) is operated by HMS Global Business Limited, a private limited company, registered in the UK (Reg No 07212488) based at Burden Way, London E11 3RY, United Kingdom.
        </p>
        <p>
            We are a leading online Hajj and Umrah package comparison website facilitating Muslims around the globe to search and compare Hajj and Umrah packages that are on offer in the market.
        </p>
        <h5>This Policy</h5>
        <p>
            This Privacy and Cookie Policy governs your access to and use of any Comparehajjpackages.com websites, applications, widgets, tools or other materials operated or otherwise provided by Comparehajjpackages.com (the " Comparehajjpackages Services"). Comparehajjpackages is committed to protecting and respecting your privacy and we make it our highest priority to safeguard the confidentiality of any and all personal details you provide to us. As a visitor to or user of the Comparehajjpackages.com services you have the right to know and understand our information privacy practices prior to providing us with any of your personal details.
        </p>
        <p>
            This page explains our Privacy Policy. This policy (together with our Terms of Service and any other applicable terms and conditions or documents referred to therein) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.
        </p>
        <p>
            Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.
        </p>
        <h5>Consent</h5>
        <p>
            By using the Comparehajjpackages Services, you consent to (i) the collection and use of your IP Details (as defined below), Personal Information (as defined below) and location data; and (ii) the use of Cookies, in accordance with this policy. If we change our privacy policy at any time, these changes will be reflected in this Privacy Policy.
        </p>
        <h5>Information Collection and Use</h5>
        <p>
            We may collect information from you at several stages during your use of the Comparehajjpackages Services. We may collect and process the following information about you:
        </p>
        <h5>IP Details</h5>
        <p>
            Where you are accessing the Comparehajjpackages Services via a computer, we may collect information about that computer, including where available your IP address, operating system, browser type, referring URLs, page views and access times ("IP Details"). We use such information for system administration, to analyse trends, track users' movements and to report aggregate information to our advertisers and partners. This is statistical data about our users' browsing actions and patterns which does not identify any individual.
        </p>
        <h5>Cookies and Advertisements</h5>
        <p>
            For the same reason, we may obtain information about your general internet usage by using a "cookie" file which is stored on the hard drive of your computer. A cookie consists of information sent by a web server to a web browser and stored by the browser. The information is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser.
        </p>
        <p>
            We may use both "session" cookies and "persistent" cookies on our websites. We will use the session cookies to keep track of you whilst you navigate the websites. We will use the persistent cookies to enable our websites to recognise you when you visit.
        </p>
        <p>
            We use cookies to make your use of our websites easier. Usage of a cookie is in no way linked to any personally identifiable information while on our website. For instance, by allowing a cookie from our websites, you would not have to set your currency or language preferences each time you used our website, thereby saving time while on our website. As such, cookies allow you to get the most out of our websites. In addition, as the cookie is stored on your computer, the data gathered by the cookie remains under your control. Please note that disabling cookies may prevent you from accessing some features of these and other websites. We therefore recommend you permit the use of cookies when using our websites.
        </p>
        <p>
            Session cookies will be deleted from your computer when you close your browser. Persistent cookies will remain stored on your computer until deleted, or until they reach a specified expiry date.
        </p>
        <p>
            Most browsers allow you to reject all cookies, whilst some browsers allow you to reject just third party cookies. For example, in Internet Explorer you can refuse all cookies by clicking "Tools", "Internet Options", "Privacy", and selecting "Block all cookies" using the sliding selector. Blocking all cookies will, however, have a negative impact upon the usability of many websites, including our websites.
        </p>
        <p>
            We also use Google Analytics to analyse the use of our websites. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers. The information generated is anonymous and is used to create reports about the use of the website. Google will store this information. Google's privacy policy is available at: http://www.google.com/privacypolicy.html.
        </p>
        
        <p>
            We publish Google AdSense interest-based advertisements on our websites. These are tailored by Google to reflect your interests. To determine your interests, Google will track your behaviour across the web using cookies. You can view, delete or add interest categories associated with your browser using Google's Ads Preference Manager, available at: http://www.google.com/ads/preferences/. You can opt-out of the AdSense partner network cookie at: http://www.google.com/privacy_ads.html However, this opt-out mechanism uses a cookie and if you clear the cookies from your browser your opt-out will not be maintained. To ensure that an opt-out is maintained in respect of a particular browser, you should use the Google browser plug-in available at: http://www.google.com/ads/preferences/plugin/.
        </p>
        <p>
            Third-party companies may collect and use information about your visits to our and other third parties' websites in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, please visit http://networkadvertising.org/managing/opt_out.asp.
        </p>
        <h5>Personal Information</h5>
        <p>
            We may collect and process the following data ("Personal Information") about you:
        </p>
        <ul>
           <li>Where you choose to register to use our websites or certain other of the Comparehajjpackages services, either through a web browser or mobile application (our "sign-in service"), we will collect certain personal information provided by you which may include your name, phone number and email address. Additional information may be requested in future to improve the level of service we can provide you and to allow access to additional Comparehajjpackages services.
</li>
        
            <li>any information that you provide by filling in forms on or through our websites or any other of the Comparehajjpackages Services. This includes information provided by you if subscribing to our newsletter, posting material, searching for or saving package options or requesting further services. We may also ask you for information when you enter a promotion sponsored by us and when you report a problem with our website our other Comparehajjpackages services.
        </li>
        <li>if you contact us, we may keep a record of that correspondence. Where you contact us through the 'Contact Us' section of our websites, your query will be routed to our customer service team through a third party service desk.
        </li>
            
        <li>information you provide to us when you complete surveys that we use for research purposes.</li>
            
       <li>information that you provide to us as a result of your connecting to our websites or other Comparehajjpackages Services from a third party application, social networking or other site.
        </li>
        
            </ul>
         
        <h5>Location Data</h5>
        <p>
            We may obtain information relating to your geographical location ("Location Data") where you use any Comparehajjpackages services. We will use such Location Data only to understand the area from which our most traffic comes and will not retain this information or share it with third parties.
        </p>
        <h5>Use of Information</h5>
        <p>
            We will use Cookies and the IP Details and Personal Information that we hold about you in the following ways:
        </p>
        <ul>
            <li>to ensure that content from our websites and other Comparehajjpackages services is presented in the most effective manner for you and for your computer, mobile phone or other electronic device.
        </li>
            <li>to provide you with information, products or services that you request from us or which we feel may interest you.</li>
            <li>to carry out our obligations arising from any contracts entered into between you and us.</li>
            <li>to allow you to participate in interactive features of our service, when you choose to do so.</li>
            <li>to notify you about changes to our service.</li>
            <li>to respond to client support queries where you have supplied personal information.</li>
        </ul>
            
        <p>
            We will not sell, share, or provide your IP Details, Cookies, Personal Information and Location Data (together, your "Information") to others other than in accordance with this Privacy Policy or where we are required to do so by law.
        </p>
        <h5>Disclosure of Your Information</h5>
        <p>
            We may disclose your Information to any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006.
        </p>
        <p>
            In addition, we may disclose your Information to third parties:
        </p>
        <ul>
            <li>in the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets
        </li>
            <li>if Comparehajjpackages or substantially all of its assets are acquired by a third party, in which case personal data held by us about our customers will be one of the transferred assets; or
        </li>
            <li>if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our Terms of Service and other agreements; or to protect the rights, property, or safety of Comparehajjpackages, our clients, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.
        </li>
        </ul>
         
        <p>
            Where we direct you to websites of third party companies to search packages and place order, we may use your Information to auto-fill selected details in order to make the placing order process easier and more efficient for you.
        </p>
        <p>
            Sometimes we use third parties to process your information on our behalf. We require these third parties (some of which may be based outside of the EEA) to comply strictly with our instructions and we require that they do not use your Information for their own business purposes, unless you have explicitly consented to the use of your information in this way. Any third parties who access your data in the course of providing services on our behalf are subject to strict contractual restrictions to ensure that your data is protected and in compliance with applicable data protection/privacy legislation. We may also independently audit these service providers to ensure that they meet our standards.
        </p>
        <h5>Data Storage</h5>
        <p>
            All Information you provide to us is stored on our secure servers. Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your information, we cannot guarantee the security of your data transmitted to our websites or other Comparehajjpackages services; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
        </p>
        <h5>Links to third party websites</h5>
        <p>
            The Comparehajjpackages Services contain links to third party websites. In particular, Comparehajjpackages services may direct you to the websites of third party companies to search and place order. In order to place order, you are not required provide personal data to the operators of such websites. When contacting us through the contact us form or FAQ content on our website, you will provide personal data that is handled by a customer support third party website. Please be aware that we are not responsible for the privacy practices of such other sites. When you leave or otherwise cease using the Comparehajjpackages services, we encourage you to read the privacy statements/policies of each and every third party website that collects personal data from you. This Privacy Policy applies solely to information collected by us via the Comparehajjpackages services.
        </p>
        <h5>Sharing Information</h5>
        <p>
            In order to provide you with a useful social experience when using Comparehajjpackages services, we may give you the option to export/import information from/to such Comparehajjpackages services to/from third party applications and websites, including social networking sites such as Facebook or Twitter. Please be aware when exporting such information you may be disclosing your information to the individuals or organisations responsible for operating and maintaining such third party applications and sites and that your information may be accessible by others visiting or using those applications or sites. We do not own or operate the applications or websites that you connect with and you should review the privacy policies of such websites to make sure you are comfortable with the ways in which they use the information you share with them.
        </p>
        <p>
            When you connect to our websites or other Comparehajjpackages services from a third party application, social networking or other site then you consent to the collection by us of your information as stored with that other third party. This information may be used by us to enhance your use of our website or other Comparehajjpackages services. When we do obtain information about you from these third parties, we will process the information in accordance with our own privacy policy.
        </p>
        <h5>Your Rights</h5>
        <p>
            You have the right to access personal data which you have submitted through the Comparehajjpackages services which are stored by us. We also allow you to subscribe or unsubscribe to / from any of the email updates you have requested from the website or other Comparehajjpackages services.
        </p>
        <p>
            You have the right to ask us not to process your personal data for marketing purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us by clicking <a href="footer">here.</a>
        </p>
        <h5>Email Addresses</h5>
        <p>
            We do not want to send you unwanted email. You can opt-out from our mailings at any time by clicking the unsubscribe link contained in every mail we send.
        </p>
        <p>
            Email addresses are collected via our websites (including via our Facebook and other social media pages), apps and via co-registration partners.
        </p>
        <p>
            We use email addresses to send our weekly newsletter and occasional special offers and deals. We sometimes run promotions with partners and competition entries may require you to provide an email address. These email addresses may be shared with the partner running the competition. In such cases, this is clearly stated in the terms of the promotion. We have no responsibility for subsequent use or distribution of email addresses by our partners.
        </p>
        <p>
            Please note: We do not sell any products or packages. If you have an enquiry regarding your order, you contact the agency who you have placed the order.
        </p>

    </div>
</div>
