@{
    ViewBag.Title = "Pillar & Wajib Actions";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">

      #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

        /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 14px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>
<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/HajjAndHajjRites">Hajj and Hajj Rites</a></li>
    <li>Pillars and Wajib Actions of Hajj</li>


</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>Pillars of Hajj</h2>


        <p>The rites that are the compulsory part of hajj, are known as the pillars of hajj. Missing one of them will invalidate hajj. Sacrificing animals for the missing action will not be sufficient to rectify one’s hajj. Such a person will have to come for hajj again in the future. These pillars are: </p>
        <ol>

            <li>Ihram (with niyah)</li>
            <li>Wuqoof-bil- Arafat ( Standing at Arafat )</li>
            <li>Tawaf-al-Ifadah (Hajj Tawaf)</li>
            <li>Sa’i for hajj between Safa and Marwah</li>
        </ol>

        <br />
        <h2 id ="WajidActions">Obligatory (wajib) actions of hajj</h2>
        <p>
            The followings are key actions of hajj. Performing hajj basically means doing the following actions:
        </p>
        <ol>
            <li>Observation of <strong><i>Miqat</i></strong> rules, i.e. when and where to pronounce intention to start the hajj and wear hajj attire for hajj to be valid.  </li>
            <li>Entering in to the state of <strong><i>Ihram</i></strong>, i.e. making the formal intention to performing hajj and also wearing hajj attire. Male pilgrims wear just two sheets of unsown white cloth, one wrapped round the waist and the other covering the top of the body. Women are free to wear what they please. Their clothing can be of any colour but it must conform to the Islamic code of dress.  </li>
            <li>Declaring of one’s arrival for hajj through reciting <strong><i>Talbiyah</i></strong> frequently. </li>
            <li>Performing <strong><i>‘Umrah or Arrival Tawaf</i></strong>, i.e. going around the Ka’ba seven times on arrival at Makkah.</li>
            <li>Performing <strong><i>Sa’i</i></strong>[depending on the type of hajj one is performing], i.e. walking seven times back and forth between the two hillocks of Safa and Marwah.</li>
            <li>Spending the night of <strong><i>8th Dhul-hijja at Mina</i></strong>.</li>
            <li>Standing on the day of <strong><i>9th Dhul-hijja at Arafat</i></strong>.</li>
            <li>Spending the night of <strong><i>9th Dhul-hijja at Muzdalifa</i></strong>.</li>
            <li><strong><i>Stoning</i></strong> the Jamaratul Aqaba in Mina on the <strong><i>10th Dhul-hijja</i></strong>.</li>
            <li><strong><i>Sacrificing an animal</i></strong> in Mina [depending on the type of hajj one is performing].</li>
            <li><strong><i>Shaving </i></strong> the head or having a <strong><i>haircut</i></strong> </li>
            <li>Performing <strong><i>Tawaf-al-Ifada</i></strong>  (Hajj Tawaf), i.e. going around seven times, and performing Sa'i between Safa and Marwah, according to the type of hajj one is performing.</li>
            <li><strong><i>Stoning</i></strong> the pillars in Mina, on the 11th,12th and 13th Dhul-hijja. Stoning these pillars on 13th Dhul-hijja is optional.</li>
            <li>Performing <strong><i>Tawaf al-Widaa</i></strong>  (The Farewell Tawaf) before leaving Makkah. </li>
        </ol>
    </div>
</div>