@{
    ViewBag.Title = "Qiran Hajj At A Glance";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}




<style type="text/css">

    #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

    table, th, td {
        border: 1px #8c2926;
        border-collapse: collapse;
      padding: 10px;
        width: auto;
        color: white;
        font-size: 1.1em;
        background: #9b2d2a;
    }

    .step .media-body {
        border: 2px solid #8c2926;
        padding: 10px;
    }

    .step .media {
        padding: 1px;
    }

    .boxstep .media-body div {
        border-bottom: 1px solid #981C19;
        padding: 10px;
    }


    .medium-arrow {
        width: 70px;
        height: 110px;
    }

    .large-arrow {
        width: 100%;
        height: 300px;
    }

    .horigontal-arrow {
        width: 190px;
        height: 80px;
    }

    .horigontalLong-arrow {
        width: 180px;
        height: 60px;
    }

    .extraLarge-arrow {
        width: 100px;
        height: 200px;
    }

    .media-object {
        display: inline;
    }

    .stepPosition-Part1-Umrah {
        color: white;
        font-weight: bold;
        left: 75px;
        margin-left: 0;
        margin-top: 15px;
        position: absolute;
    }

    .stepPosition-Part2-hajj {
        color: white;
        font-weight: bold;
        left: 470px;
        margin-left: 0;
        margin-top: 15px;
        position: absolute;
    }

    .stepPosition-Ihram-break {
        color: black;
        font-weight: bold;
        left: 232px;
        margin-left: 0;
        position: absolute;
        text-align: center;
        top: 10px;
    }


    .small-arrow {
        width: 100px;
        height: 120px;
    }


    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

    .stepPosition {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 22px;
        top: 30px;
        text-align: center;
    }

    .stepPosition1 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 46px;
        margin-top: 50px;
        text-align: center;
    }

    .stepPosition2 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 46px;
        margin-top: 50px;
        text-align: center;
    }

    /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>



<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/Hajjritesataglance">Hajj rites at a glance</a></li>
    <li>Qiran Hajj at a glance </li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>Qiran Hajj at a glance</h2>
        <p>'Umrah and Hajj together with a single ihram</p>
        <div class="step">
            <div class="media" style="position:relative">

                <a>

                    <img class="media-object horigontal-arrow img-responsive" style="width:400px;height:135px;" src="~/Content/images/Qiranhajj.png" />
                    <span class="stepPosition-Part1-Umrah">

                    </span>

                </a>



            </div>
        </div>
        <br />


        <div class="step">
            <div class="media">

                <table>
                    <tr>
                        <td>
                          Actions for ‘Umrah in Qiran Hajj
                        </td>
                    </tr>

                </table>


            </div>

        </div>
        <br />
        <div class="step boxstep">
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        1

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

                </a>
                <br />
                <div class="media-body">
                    <ul>
                        <li>Cleansing rituals</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        2


                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul>
                        <li>
                            Wear Ihram attire
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        3

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul>

                        <li>
                            Perform Salah after wearing ihram (Optional)

                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        4

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul>
                        <li>
                            Make intention for 'umrah & hajj before entering the miqat boundary

                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">

                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        5


                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

                </a>

                <div class="media-body">
                    <ul>
                        <li>
                            Recite talbiya

                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        6


                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul>
                        <li>Arrive in hotel in Makkah.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        7


                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />
                </a>
                <div class="media-body">


                    <ul>
                        <li>
                            Perform welcome Tawaf

                        </li>
                    </ul>
              


            </div>
        </div>

        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition1">
                    8

                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

            </a>
            <div class="media-body">
                <ul>
                    <li>
                        2 rakat salah after tawaf

                    </li>
                </ul>

       


        </div>
    </div>

    <div class="media" style="position:relative">
        <a href="#" class="pull-left">
            <span class="stepPosition1">
                9

            </span>
            <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

        </a>
        <div class="media-body">
            <ul>
                <li>
                    Drink Zamzam Water
                </li>
            </ul>
        </div>
    </div>
    <div class="media" style="position:relative">
        <a href="#" class="pull-left">
            <span class="stepPosition1">
                10

            </span>
            <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

        </a>
        <div class="media-body">
            <ul>
                <li>
                    Read du'a before leaving the Holy Mosque for sa'i

                </li>
            </ul>

        </div>
    </div>
    <div class="media" style="position:relative">
        <a href="#" class="pull-left">
            <span class="stepPosition1">
                11
            </span>
            <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

        </a>
        <div class="media-body">
        
                <ul>
                    <li>
                        Perform sa'i
                    </li>
                </ul>
      




        </div>
    </div>
    <div class="media" style="position:relative">
        <a href="#" class="pull-left">
            <span class="stepPosition1">
                12

            </span>
            <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

        </a>
        <div class="media-body">
            <ul>
                <li>	Do not cut or shave your hair.</li>
            </ul>
        </div>
    </div>
    <div class="media" style="position:relative">
        <a href="#" class="pull-left">
            <span class="stepPosition1">
                13


            </span>
            <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

        </a>
        <div class="media-body">
             <ul>
                    <li>
                        'Umrah is complete but remain in Ihram. All ihram restricions still imposed.
                    </li>
                </ul>
            </div>

        </div>
        <br />
       
        <table>
            <tr>
                <td>
                    Actions for hajj in Qiran Hajj
                </td>
            </tr>

        </table><br />

        <p>
            <u><b>Main actions of Hajj take place between 8th – 13th Dhul-hijja </b> </u>
        </p>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    14



                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

            </a>
            <div class="media-body">
                <b>8th Dhul-Hijja (Makkah to Mina)
</b><br />
                <ul>

                   <li>You are already in the state of ihram
</li><li>
         Recite talbiya
</li>
                    <li>
                        Stay in Mina

                    </li>
                </ul>
            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    15

                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />
            </a>
            <div class="media-body arabicCSS">
                <b>9th Dhul-Hijja (morning) (Mina to Arafat)
</b><br />
                <ul>
                    <li>Standing in Arafat
</li>
                </ul>
            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    16
                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

            </a>
            <div class="media-body">
                <b> 9th Dhul-Hijja(after sunset) (Arafat to Muzdalifah)
 </b><br />
                <ul>
                    <li> Night at Muzdalifah
</li>
                </ul>


            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    17

                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

            </a>
            <div class="media-body arabicCSS">
                <b> 10th Dhul-Hijja (Muzdalifah to Mina)
</b><br />
                <ul>
                    <li>
                        Throw 7 pebbles at the largest jamrah,  Sacrifice animal

                    </li>
                    <li>
                        Shave or cut/clip their hair (partial Ihram restrictions lifted)

                    </li>
                </ul>

            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    18

                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

            </a>
            <div class="media-body">
                <b> 10th Dhul-Hijja (Mina - Makkah - Mina)
</b><br />
                <ul>
                    <li>Perform Tawaaf-al-Ifadah (Full Ihram restrictions lifted)
</li>
                    <li>
                        Perform Sa'i

                    </li>

                </ul>

            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    19

                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />
            </a>
            <div class="media-body">
                <b>11th Dhul-Hijja </b><br />
                <ul>
                    <li>Throw 7 pebbles on each of the 3 pillars (totall 21 pebbles)
</li>
                </ul>
            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    20
                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

            </a>
            <div class="media-body">
                <b>12th Dhul-Hijja (Mina)</b><br />
                <ul>
                    <li>7 pebbles on each of the 3 pillars (totall 21 pebbles)
</li>
                    <li>
                        If the sun sets before you are able to depart, remain in Mina for the third night and throw 21 pebbles again the next day.
    
                    </li>
                </ul>
            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    21*


                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

            </a>
            <div class="media-body">
                <b> 13th Dhul-Hijja (Mina to Makkah)
</b><br />
                <ul>
                   <li>
                       Throw 7 pebbles on each of the 3 pillars (totall 21 pebbles)

                   </li>
                </ul>
            </div>
        </div>
        <div class="media" style="position:relative">
            <a href="#" class="pull-left">
                <span class="stepPosition2">
                    22


                </span>
                <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

            </a>
            <div class="media-body">
                <b>Tawaaf-al-Widaa (Makkah)</b><br />
                <ul>
                   <li>
                       Hajj Complete
                   </li>
                </ul>
            </div>
            </div>
        </div>
            <h4 style="text-align:center;">*Ignore step 21 if you are able to depart Mina before the sun sets on 12th Dhul-hijja. </h4><br />
   
    @**/---------------------------*@

</div>
</div>

