@{
    ViewBag.Title = "What is Sai?";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content=" What is Sa'i and details of how to perform Hajj Sai" />
    <meta name="Keywords" content=" Sa'i, sai, saee, how to perform sai, step by step guide to how to perform saee, hajj guide, 'umrah sai, umra" />
    <meta name="author" content="comparehajjpackages.com">
}


<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p, li {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

    /* call - out container */
    .call-outs-container {
        max-width: 1400px;
        margin: 40px auto 0 auto;
        /*background-color: #4d0026;*/
        justify-content: space-between;
    }

    .call-out1 {
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        flex-basis: 75%;
        background-color: #4d4d4d;
    }

    .call-out2 {
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        flex-basis: 23%;
        background-color: #f4eee8;
        color: brown;
    }


        .call-out2 img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .call-out2 a {
            text-decoration: none;
        }




    .step .media-body {
        border: 2px solid #4094D0;
        background-color: #F0EEE4;
        border-radius: 8px;
        /*padding: 10px;*/
    }

    .step .media {
        padding: 1px;
    }

    .small-arrow {
        width: 70px;
        height: 80px;
    }

    .medium-arrow {
        width: 70px;
        height: 110px;
    }

    .large-arrow {
        width: 100%;
        height: 300px;
    }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

    .stepPosition {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 31px;
        margin-top: 34px;
        text-align: center;
    }

    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 10px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }
    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/HajjAndHajjRites">Hajj and Hajj Rites</a></li>
    <li>What is sa’i and how to perform sa’i ?</li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>

<div class="row-fluid">
    <div class="Footercontent">
        <h2>What is sa’i and how to perform sa’i ? </h2>
        @*<h5>1. Introduction</h5>*@

        <img class="img-responsive" alt="Sa'i diagram" src="~/Content/images/Sa'iDiagram.png" />

        <p><small>[Sa'i diagram. It has been used for a representation purpose only].</small> </p>
        <br />

        <p>
            The devotional act of walking seven times between the hills of Safa and Marwah which are located some distance from the Ka’ba, is called Sa’i.
        </p>
        <p>
            According to a tradition reported by Ibn Abbas, Prophet Ibrahim (pbuh) left his wife, Hajar, and son, Isma’il (pbuh), whom she was still nursing, at (site of) the House of Allah, in response to a divine revelation. Makkah at that time was a place where there was neither water nor any dweller. Prophet Ibrahim (pbuh) left only a bag of dates and a container of water for them. Unfortunately, this insufficient provision of food and water did not last long. Her milk tried up as well. Her son grew hungrier and hungrier; Hajar could hardly bear to look at him.  In her desperation, she repeatedly ran between the hillocks of Safa and Marwah, climbing them to get a better view of the landscape and, perhaps, also to see if there was someone around to help. Upon her return to her son, after some time of runs, she discovered that a spring had miraculously sprouted near the infant. This spring, called Zamzam is located to the east of Ka’ba. It still runs as strong today as it has for thousands of years. In a land where water is scarce, the Zamzam runs abundantly in eloquent testimony to the power and mercy of Almighty Allah. Millions of people have drunk from it since then, and continue to do so today with no end in sight to this miracle of Allah. Ibn Abbas added, The Prophet (pbuh) said, “It is (to commemorate this walk) that pilgrims walk between Safa and Marwah.”
        </p>
        <h3>General guidelines</h3>

        <p>For Sa’i to be valid and acceptable, it must comply with the following conditions: </p>
        <ul>
            <li>
                Should be performed after tawaf.
            </li>
            <li>
                Must begin from Safa and end at Marwah.
            </li>
            <li>
                Must be performed in seven rounds. (Walking from Safa to Marwah is counted as one round and Marwah to Safa as another round and so on. Many pilgrims make mistake in counting Sa’i rounds from Safa to Safa as one round. In fact this is two rounds).
            </li>
            <li>
                Must be performed in the path between Safa and Marwah, because the Prophet (pbuh) did so, and moreover he explicitly told us: “Take your (religious) rites from me.”
            </li>
        </ul>
        <p>
            Male pilgrims walk briskly between the green lights (indicated on the side of the walls nearer to Safa). Women walk normal throughout the seven rounds. If you are taking care of an elderly or a disabled pilgrim, you can refrain from running between the green lit area.
        </p>

        <p>For Sa’i, it is preferable but not a requirement to have wudhu. Most scholars are of the opinion that purification is not necessary for Sa’i. This is in light of what the Prophet (pbuh) said to ‘Aisha when she menstruated during Hajj. He told her, “You may perform all rites (of Hajj) as other pilgrims do, except performing tawaf around the Ka’ba which you may do after you are clean and no longer menstruating.” </>
        <p>Continuity in Sa’i is also not a requirement for its validation. For example, one may stop Sa’i to respond to the call of nature. Rather, Sa’i must be interrupted for Fardh salah and recommended for janaza salah. There is no harm if you take a break during Sa’i. After the break you may continue from where you had stopped. You should not start Sa’i again from the beginning.</p>
        <p>In any occasion, if you are in doubt about the number of rounds you have made, rely on the lesser number you remember.</p>
        <p>It is permissible to talk while performing Sa’i, but most scholars agree that one should only discuss necessary things, not merely engage in idle gossip. (Tirmidhi) </p>
        <p>One must not raise voice while performing Sa’i.  (Bukhari)</p>

        <p>There is no Sa’i after a nafl tawaf or after Tawaf-al-Widaa (farewell tawaf).</p>
        <h3>Step by step guide to Sa’i</h3>


        <div class="step">
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        1
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">
                    <ul>
                        <li>
                            As you get close to Safa to start Sa’i, it is Sunnah to say:<p id="arabicpara">  إِنَّ الصَّفَا وَالْمَرْوَةَ مِنْ شَعَائِرِ اللَّهِ </p>(“Innassafaa walmarwata min sha’aa irillahi.)” (“Indeed Safa and Marwah are among the signs of Allah.)”
                        </li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        2
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">
                    <ul>
                        <li>
                            Then say:<p id="arabicpara">
                                إبْدَإُ بِمَا بَدَأَ اللهُ بِهِ
                            </p>(“Abda’u bima bada’a Allahu bihi.)” (“I begin with that which Allah has begun.)”<br />
                            The above are said only once before starting Sa’i, not at the beginning of every round.
                        </li>
                    </ul>

                </div>
            </div>

            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        3
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">
                    When ascending Safa, go up until the Ka’ba is visibly seen (if possible) and facing it say three <br />
                    times:<p id="arabicpara">
                        إلْحَمْدُ لِلهِ وَلاَ إلَهَ إلاَّ اللهُ وَ اللهُ أكْبَرُ
                    </p>(“Alhamdulillahi, walaa ilaha illallahu, wallahu Akbar.)” (“All <br />
                    praise is due to Allah, there is no God but Allah, and Allah is Greater.)”
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        4
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">
                    <ul>
                        <li>
                            Then say:<p id="arabicpara">
                                لاَ إِلَهَ إلاَّ اللهُ وَحْدَهُ لاَشَرِيْكَ لَهُ، لَهُ الْمُلْكُ وَ لَهُ الْحَمْدُ، يُحْيِيْ وَيُمِيْتُ وَهُوَ عَلَى كُلِّ شَي ءٍ قَدِيْرٌ. لاَ إِلَهَ إلاَّ الله وَحْدَهُ أَنْجَزَوَعْدَهُ، وَنَصَرَ عَبْدَهُ، وَهَزَمَ الأَ حْزَابَ وَحْدَهُ



                            </p>


                            “Laa ilaha illallahu wahdahu laa shareeka lahu, lahulmulku walahulhamdu, youhee wayumeetu wahua ala kullishay’in qadeer. La ilaha illallahu wahdahu, anjaza wa’dahu, wansara a’bdahu, wahazamal ahzaaba wahdahu.” (“There is no deity worthy of worship but Allah alone, no partners are unto Him, His is the dominion (kingdom) and His is the praise. He give life and He gives death and He is capable of everything. There is none worthy of worship but Allah alone, who fulfilled His promise, and gave victory to His servant and defeated the confederates alone.)”

                        </li>
                    </ul>

                </div>
            </div>

            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        5
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">
                    <ul>
                        <li>
                            Raising your hands, you may make the above supplications three times. You may also add your own supplications in between these three times.
                        </li>
                    </ul>

                </div>
            </div><br />

                     
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        6
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">

                    <ul>
                        <li>
                            Now proceed towards Marwah and when you arrive at the green flurescent light, try to run briskly (men only). Women should not run.
                        </li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        7
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">

                    <ul>
                        <li>
                            There is no prescribed supplication during walking towards  Marwah and vice versa. There is nothing from the Prophet (pbuh) establishing any particular prayer during the Sa’i.
                        </li>
                        <li>
                            During walking towards Marwah, all the time recite prayers and supplications of your choice.
                        </li>
                        <li>Your arrival at Marwah completes one leg of the Sa’i.</li>
                    </ul>



                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        8
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">
                    <ul>
                        <li>
                            Upon arriving at Marwah, repeat the supplications offered at Safa, i.e. face the Kabah and repeat the above du’a “Alhamdulillahi, walaa ilaha ..." and “Laa ilaha illallahu wahdahu laa shareeka lahu ...” three times), and then turn around and retrace your walk back to Safa. This will complete the second leg of the Sa’i.
                        </li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition">
                        9
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Sa'iArrow.png" />
                </a>
                <div class="media-body  arabicCSS">
                    <ul>
                        <li>
                            Two rounds of sa'i are now complete. Repeat these steps at Safa and Marwah until you finish at Marwah, which should be your seventh round.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @*/*----------------------------------*@
        <h3>After of completion of Sa’i</h3>
        <div class="media-body  arabicCSS">
            <ul>


                <li>
                    If this Sa’i is followed by ‘Umrah tawaf, then the Tammattu Pilgrims, if he is a male, he shaves or cuts his hair and if she is a female, then she shortens her hair by a fingertip.
                    HoweverThen say: <p id="arabicpara"> لاَ إِلَهَ إلاَّ اللهُ وَحْدَهُ لاَشَرِيْكَ لَهُ، لَهُ الْمُلْكُ وَ لَهُ الْحَمْدُ، يُحْيِيْ وَيُمِيْتُ وَهُوَ عَلَى كُلِّ شَي ءٍ قَدِيْرٌ. لاَ إِلَهَ إلاَّ الله وَحْدَهُ أَنْجَزَوَعْدَهُ، وَنَصَرَ عَبْدَهُ، وَهَزَمَ الأَ حْزَابَ وَحْدَهُ</p>
                </li>
            </ul>
        </div>
    </div><br />
</div>