
@{
    ViewBag.Title = "Saudi Arabia Society & Culture";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}


<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }



    ul.a {
        list-style-type: square;
    }
</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Saudi Arabia - Society,Culture, Customs & Etiquette</h4>
        <p>Islam is practised by most people in Saudi Arabia and governs their personal, political, economic and legal lives. Muslims believe that the Prophet Muhammad (Peace be upon him) is the last prophet and final messenger of God (following in the footsteps of Jesus, Moses, Abraham, etc) who brought revelation to mankind. He is distinguished with bringing a message for the whole of mankind, rather than just to a certain group of people. As Moses brought the Torah and Jesus the Bible, Muhammad brought the last book, the Quran. The Quran and the actions of the Prophet (the Sunnah) are used as the basis for all guidance in the religion. </p>
        <p>Among certain obligations for Muslims are to pray five times a day, fast during Ramadan, pay Zakat (obligatory alms giving) and perform Hajj. Adhan (call for prayer) is called every day five times to invite people to prayers. Fasting includes no eating, drinking, cigarette smoking, or gum chewing. On each night in Ramadan, families and friends gather together and celebrate the breaking of the fast called iftar. This festivity often continues well into the night. In general, things happen more slowly during Ramadan. Many businesses operate on a reduced schedule. Shops may be open and closed at unusual times.</p>
        <p>The family and tribe are the basis of the social structure in Saudi Arabia. People are very much aware of their heritage, clan, and their extended family, as well as their nuclear family. Generally families are large but the extended family is quite close. They take their family responsibilities pretty seriously.</p>
        <p>About meeting and greetings, men and women would not greet each other in public from outside the family. Men shake hands. Good friends may greet each other with a handshake and a kiss on each cheek. Women generally hug and kiss close friends. Men and women will never hand shake between themselves. </p>
        <p>Saudis socialise primarily in restaurants and international hotels when entertaining someone whom they do not know well. After some time they may invite to the home. If you are invited for a meal, understand that there will be a great deal of socializing and small talk before the meal is served. Any entertainment is organised by them is generally for same gender only. Dress code in Saudi Arabia is conservative. </p>
    </div>
</div>