@{
    ViewBag.Title = "Selected Duas";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}


<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        margin: 0 10px 1rem;
        background: #C7C7C7;
        height: 670px;
    }


    .hero-banner {
        margin-bottom: 1rem;
    }

        .hero-banner img {
            display: block;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #888888;
            font-size: 0.8rem;
            font-weight: 500;
        }

    /*.inline-ads {
        clear: left;
        margin: 5px 15px 10px 0;
    }*/

    .sidebar-ads {
        padding-top: 10px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-list {
        padding: 0 15px;
        padding-top: 5vh;
    }

        .post-list h4 {
            color: #252525;
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.3rem 0 0.5rem;
            border-bottom: 1px solid #aeaeac;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #aeaeac;
                box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }

        
       .arabicCSS p {
        font-size: 25px;
        font-weight: normal;
        /*text-align: right;*/
        line-height: 35px;
        padding: 30px;
    }

    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li>Selected Dua's</li>
</ul>
<h2>Selected Dua's</h2>

<section class="page-container">
    <div class="main-content">
        <div class="hero-banner">

            @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@

            <img src="../content/images/Selected_Duas.jpg" att="Child Supplicating Infront of Kabah" />



            @*<span>Map of Madinah. [This map is not to scale. It has been used for a representation purpose only.]</span>*@
        </div>
        <div class="row" style="background-color:rgba(0, 0, 0, 0.1); margin-left:2px; padding:10px;">
            <h3>
                Takbir when passing the black stone
            </h3>
            <p>"The Prophet (sal-Allaahu 'alayhe wa sallam) circled the Ka'bah on a camel, every time he reached the black stone he would point to it with ‘something’ and say:</p>
            <p style="font-size:30px; text-align: right;">
                اللَّهُ أَكْبَرُ
            </p>
            <p style="text-align: right;">
                Allaahu 'Akbar.
            </p>

            <p><small>Ref: Al-Bukhari, cf. Al-Asqalani, Fathul-Bari 3/476. See also 472. The 'something' that was referred to in this Hadith was a cane.</small></p>
        </div>


        <div class="row" style="margin-left:2px; padding:10px;">
            <h3>
                Between the Yemeni corner and black stone [Ka'bah]
            </h3>
            <p>The Prophet (sal-Allaahu 'alayhe wa sallam) used to say between the Yemeni corner and the black stone:</p>
            <p style="font-size:30px; text-align: right;">
                رَبَّنَآ اٰتِنَا فِي الدُّنْيَا حَسَنَةً وَّفِي الْاٰخِرَةِ حَسَـنَةً وَّقِنَا عَذَابَ النَّارِ
            </p>
            <p style="text-align: right;">
                Our Lord, grant us the good things in this world and the good things in the next life and save us from the punishment of the Fire.
            </p>
            <p>Rabbanaa 'aatinaa fid-dunyaa hasanatan wa fil-'aakhirati hasanatan wa qinaa 'athaaban-naar.</p>

            <p><small>Ref: Al-Bukhari, cf. Al-Asqalani, Fathul-Bari 11/171, Muslim 4/2007. The wording in Muslim's report is: 'make it a purification for him and a source of mercy.</small></p>
        </div>


        <div class="row" style="background-color:rgba(0, 0, 0, 0.1); margin-left:2px; padding:10px;">
            <h3>
                When at Mount Safa and Mount Marwah
            </h3>
            <p>Jaabir (radhi-yAllaahu 'anhu) said when describing the Prophet's (sal-Allaahu 'alayhe wa sallam) pilgrimage, when he (pbuh) approached mount as-Safaa he would recite:</p>
            <p style="font-size:30px; text-align: right;">
                إِنَّ الصَّفَا وَالْمَرْوَةَ مِنْ شَعَآئِرِ اللَّهِ
            </p>
            <p style="text-align: right;">
                Inna assafa walmarwatamin shaAAa-iri Allahi
            </p>
            <p> Indeed, as-Safa and al-Marwah are among the symbols of Allah</p>
            <p> ...and then say:</p>

            <p style="font-size:30px; text-align: right;">
                أَبْدَأُ بِمَا بَدَأَ اللَّهُ بِهِ
            </p>
            <p style="text-align: right;">
                Abda'u bimaa bada'allaahu bihi.
            </p>
            <p>...so he started with as-Safaa and climbed it until he could see the Ka'bah, he then faced it and said:</p>



            <p style="font-size:30px; text-align: right;">
                لاَ إِلَهَ إِلاَّ اللَّهُ وَحْدَهُ لاَ شَرِيكَ لَهُ، لَهُ الْمُلْكُ وَلَهُ الْحَمْدُ وَهُوَ عَلَى كُلِّ شَيْءٍ قَدِيرٌ، لاَ إِلَهَ إِلاَّ اللَّهُ وَحْدَهُ، أَنْجَزَ وَعْدَهُ، وَنَصَرَ عَبْدَهُ، وَهَزَمَ الْأَحْزَابَ وَحْدَهُ
            </p>
            <p style="text-align: right;">
                Laa 'ilaaha 'illallaahu wahdahu laa shareeka lahu, lahul-mulku wa lahul-hamdu wa Huwa 'alaa kulli shay'in Qadeer, laa 'ilaaha 'illallaahu ilahaahu, 'anjaza wa'dahu, wa nasara 'abdahu, wa hazamal 'ahzaaba wahdahu.
            </p>
            <p>None has the right to be worshipped but Allah alone, Who has no parener, His is the dominion and His is the praise, and He is Able to do all things. None has the right to be worshipped but Allah alone, He fulfilled His Promise, He aided His slave, and He alone defeated Confederates.</p>

            <p><small>Ref: Muslim 2/888.</small></p>
        </div>

        <div class="row" style="margin-left:2px; padding:10px;">
            <h3>
                The Day of 'Arafah            </h3>
            <p>The Prophet (pbuh) said, "The best of supplications is the supplication on the day of 'Arafah and the best which I and the Prophets before me have said” is::</p>
            <p style="font-size:30px; text-align: right;">
                لاَ إِلَهَ إِلاَّ اللَّهُ وَحْدَهُ لاَ شَرِيكَ لَهُ، لَهُ الْمُلْكُ وَلَهُ الْحَمْدُ وَهُوَ عَلَى كُلِّ شَيْءٍ قَدِيرٌ
            </p>
            <p style="text-align: right;">
                Laa 'ilaaha 'illallaahu wahdahu laa shareeka lahu, lahul-mulku wa lahul-hamdu wa Huwa 'alaa kulli shay'in Qadeer.
            </p>

            <p>
                None has the right to be worshipped but Allah alone, Who has no parener. His is the dominion and His is the praise, and He is Able to do all things.
            </p>

            <p><small>Ref: At-Tirmithi. Al-Albani graded it good in Sahih At-Tirmithi 3/184, and also Silsilatul-'Ahadith As-Sahihah 4/6.</small></p>
        </div>
    </div>






    <aside>
        <div class="post-list">
            <h4>Most searched</h4>


            <ul>
                <li>
                    <a href="../Question/quiz">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/add3.png" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #661900"><strong> Hajj and 'Umrah Quiz.</strong> Test yourself to see how much prepared you are for hajj and 'umrah. </span>
                    </a>
                </li>
                <li>
                    <a href="../Footer/miqat">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Path.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong>  What is miqat and rulings on miqat? </strong> The literal meaning of miqat is “a stated time or place.”  </span>

                    </a>




                </li>
                <li>
                    <a href="../Footer/StepByStepGuideToTammattuHajj">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@
                        <img src="~/content/images/add3.png" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Step by step guide to Tammattu Hajj</strong> Tammattu Hajj consists of both ‘Umrah and Hajj.</span>
                    </a>
                </li>
            </ul>

        </div>
    </aside>
</section>

</div>