@{
    ViewBag.Title = "what is shifting and non-shifting in hajj?";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
     #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

    table, th, td {
        border: 1px solid black;
    }

    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/SafetySecurity">Safety Security and Fraud</a></li>
    <li>What is a shifting or non-shifting hajj package?</li>
</ul>

<div class="row-fluid">
    <div class="Footercontent">
        <h2>What is a shifting or non-shifting hajj package?</h2>
         <p>
            Sometime you may notice that some agents advertise their package as shifting. What is a shifting package? Shifting package is an arrangement of accommodation away from Haram Sharif. During Hajj most people are keen to stay near Masjid al Haram. This is particularly to take chance to pray as much as possible in the holy mosque. However, there is not enough supply of accommodations near Masjid al Haram to meet the growing demand of pilgrims. 
        </p>
        <p>
            The concept of shifting package is relatively new and mainly emerged during 2007 when the Government started demolishing many buildings near Ka’ba to undertake the Masjid al Haram expansion project. Since then there has been a shortage of accommodations near Haram Sharif. To address this shortage of accommodations, the tour operators came up with the idea of shifting package. Now-a-days shifting style package is an option for many travel agents. The package consists of stay far from Haram during the peak season of the Hajj for a reduced cost. The distance of shifting accommodations can vary from 3 km to 10 km. The pilgrims stay near the Haram after or before the peak season, which is before 1 Dhul-hijja and after 15 Dhul-hijja. This type of package is called Shifting Package.
        </p>
        <p>
            The Masjid al Haram expansion project is being carried out by the custodian of the mosque   particularly to respond to the growing demand of Hajj. Every year pilgrims from all over the world are increasing in many folds. If the expansion is project is completed, in the future more pilgrims can be accommodated during Hajj. 
        </p>
        <p>

        </p>
        <p>

        </p>
</div>
</div>