@{
    ViewBag.Title = "Spiritual Preparation for Hajj";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }

    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        margin: 0 10px 1rem;
        background: #ede3dd;
        height: 1870px;
    }


    .hero-banner {
        margin-bottom: 1rem;
    }

        .hero-banner img {
            display: block;
        }

        .hero-banner span {
            display: block;
            padding: 5px;
            color: #888888;
            font-size: 0.8rem;
            font-weight: 500;
        }

    /*.inline-ads {
        clear: left;
        margin: 5px 15px 10px 0;
    }*/


    .sidebar-ads {
        padding-top: 10px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-list {
        padding: 0 15px;
        padding-top: 5vh;
    }

        .post-list h4 {
            color: #252525;
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.3rem 0 0.5rem;
            border-bottom: 1px solid #aeaeac;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;

            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #ac8416;
                box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

      hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid  #aeaeac;
    margin: 5px 0;
    width:100%;
  
}

    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 14px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li>Spiritual Preparation for Hajj </li>
</ul>
<h2>Spiritual Preparation for Hajj</h2>

<section class="page-container">
    <div class="main-content">
        <div class="hero-banner">

            @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@

            <img src="~/content/images/Spritual_preparation.jpg" alt="Copy of the original Musshaf written in the era of Uthman bin Afwan" />



            <span>Copy of the original Musshaf written in the era of Uthman bin Afwan</span>
        </div>
       
        <p>Getting ready for hajj must begin with your spiritual preparation. The first step is to clarify and purify your intention. You are doing this hajj solely for Allah, i.e. to please Him and to obey His order. Make sure your heart is absolutely clean and free from all forms of showing off, as showing off invalidates good deeds and brings punishment. Revisit your intention again and again, and check if there is any pride harvesting in your heart that you may not be aware of.  Make sincere supplications to Allah to clean your heart. Try to embed an emotion within yourself that you might not return from hajj and see your family again. Take utmost effort to ensure that your soul is fully ready to embark on this journey.  </p>
        <p>
            Have firm conviction in your heart that Allah will grant you Hajj Mabrur. Throughout the journey try to visualise that this is happening –i.e. Allah is accepting your prayer and you are practising Islam more than before. Never allow any doubt to develop in your heart about whether or not Allah is accepting your supplication. </p>
        <p>See below for a list of action points to help you to pursue your spiritual development and get prepared for hajj. In the context of hajj, we have divided spiritual preparations into two main parts: there are things that have to do before going to hajj and others are during and after hajj. Some of the actions are very specific to Hajj and 'Umrah rituals, while others are relevant and applicable to life in general. We sincerely hope that Allah (SWT) accepts all of our hajj and all good deeds, and gives us the tawfiq to remain steadfast until death.  </p>
      
        <h4>Attain knowledge before going </h4>
         <p>Time will pass very fast, from the moment you first thought of going to hajj, to the date of your departure for Makkah. Do not delay learning and leave it to the last minute. Start learning right way. Most people are caught in out by their procrastination, "I will start learning from tomorrow," and then regret that they were not better prepared for this most important obligation. </p>
        <p>Ensure that you learn the fundamentals of hajj from authentic sources - what are the main pillars of hajj, obligatory actions of hajj; be absolutely clear about the dos and don’ts of hajj.  Study the rites that have to be performed at different stages and different places. One reading of a guide book is not enough. Repeat your learning again and again and discuss with family members going with you to motivate and learn from each other. Have rehearsal in your mind of the rites you have to perform there as well as during the journey. This way you can retain information better and feel more confident. It is fundamental that you are well equipped with sound knowledge. Do not assume that if you get stuck about a fiqi issue, you may ask fellow pilgrims. </p>
        <p>Most people go there feeling under prepared, so they may not know the answer themselves. As such, they hire local guides who instructs them to follow them and repeat du’as after them or copy their actions, e.g. raising hands at the starting of tawaf. You will see a lot of groups following such guides. Certainly, you do not want to be in this position. It looks very odd. This is not the way of our beloved Prophet (pbuh). The only person who can help you in this situation is ‘you’.  That’s why your personal learning and preparation is very important.   </p>
       <p>So, how do you go about seeking knowledge? First and foremost, start now without any delay. Don’t say ‘I am going to start after sorting out this and that problem, e.g. booking my ticket and obtaining visa etc. Make sure any book you pick up is well referenced with Qur’an and hadith. Nowadays many Islamic institutions organise hajj seminars for potential pilgrims. Attend these seminars and note down some questions before hand so that you can ask the scholars during the event. </p>
         <p>Apart from reading hajj books, you may also read the Seerah (biography) of our beloved Prophet (pbuh) and a few books on Islamic history. This really helps to bring your experience to life and create a positive emotion in your heart. You are heading towards a place which is full of history, where all Prophets once walked and talked to people and led Islamic affairs.    </p>
               
        <h4>Memorise dua’s with meaning </h4>
        <p>Although, there is no specific du’a for hajj, except for the du’a between the Rukn-al-Yamani corner and the Hajr-al-Aswad (Black Stone), i.e. </p>

        <p style="font-size:25px; text-align: right;"> رَبَّنَا آتِنَا فِي الدُّنْيَا حَسَنَةً وَ فِي الآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النَّارِ </p>
        <span>(“Rabbana aathina fiddunyaa hassanatan wa fill aakihirati hasanatan wa qinna athabannar”)</span>
        <p>(“Our Lord! Give us in this world that which is good and in the Hereafter that which is good and save us from the torment of the Fire!”) nonetheless, memorise as many du’a as possible from the Quran and hadith. As the Prophet (pbuh) said, “du’a is (the essence of) worship.” Give particular attention to the meaning of each du’a. You do not want to be one of them who goes to hajj without learning du’as and then depend upon du’as behind a hired guide. In Islam, the relationship between the Creator and His slaves are direct. We do not need any intermediary between us and Allah, unlike like other religions. This is a very personal relationship between you and Allah. Imagine, the Almighty Allah who hid your sins all your life because of His mercy over you, so that He can forgive you, provided you to regret and the opportunity to ask for forgiveness and to not repeat the sin again. </p>
<p>Du’as can be read in any language (except during salah), nonetheless, it is always better to read du’as from the Qur'an and Hadith. Because these du’as contain all the words that one can think of. For example, before going to hajj many of your relatives, friends, colleagues and neighbours may have asked you to pray for them when you are there. But in practice, it is very challenging to remember everyone’s name in your du’a. However, if you choose the words of Allah in your du’a, e.g. “all the believing men and women,” it encompasses everyone including those who could not request you to pray for them. Therefore, we must make an extra effort to learning these du’as before going to hajj. You may also carry an authentic du’a book with you or download a du’a app on your mobile phone. Remember, du’as are not only for hajj, but for your whole life.    </p>
        
        
        
</div>
    <aside>
       

        <div class="post-list">
           
            <ul>
                <li>
                    <a href="../Footer/SelectedDuas">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/add3.png" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Selected du'as from Qur'an and Sunnah</strong> - can be recited in any context of our life. </span>
                    </a>
                    <hr />
                </li>
                </ul>

            <br />
            <h4>You may also consider</h4>
                <ul>
                    <li>
                        <span style="color: #004d66"><strong> Paying debts</strong> - Check if you owe any money to anyone or any organisation? Try to repay them before you go. Sometimes the amount of money may be too big. It may not be possible to settle all the debts at once, but you know your source of income that you will be able to pay back after you return from Hajj. Discuss this with your creditors and come to an agreement about this, especially how this will be paid if you pass away there.</span>
                        <hr />
                    </li>




                    <li>




                        <span style="color: #004d66"><strong>  Custody of goods  </strong> - Try to think if you have borrowed anything or if anyone has asked you in the past to care for any item for them. This may be material goods, money or may be any important documents. Make sure you hand over these goods to its rightful owner before going to hajj. Even if you have borrowed a book to read, don't forget to return it to the owner. If you are unable to return goods or the owner does not want you return them at that very moment, don't forget to let one of your family members know about this.   </span>

                        <hr />
                    </li>
                    <li>


                        <span style="color: #004d66"><strong> Resolving disputes </strong> -	Think of people who you may have had disagreements with in the past, and people you may have fallen out with. Make every effort to resolve these issues before going to hajj. It is not an easy task, but it is an opportunity to resolve issues for the sake of Allah. Think of a strategy as to how to go about it? You may send a text message or ask someone to speak to the person on your behalf before you face them. This may calm down the situation and help you both prepare to approach them personally. You know your situation best, so chose the best approach for you. Always ask Allah (SWT) to make it easy for you. After all this, if the person still remains unhappy and is not willing to resolve issues with you, then at least feel solace in your heart that you have tried your part and Allah is your witness. </span>
                        <hr />
                    </li>
                    <li>

                        <span style="color: #004d66">
                            <strong> Writing a will </strong>-
                            The Prophet (pbuh) said:
                            "It is the duty of a Muslim who has anything to bequest not to let two nights pass without writing a will about it." (Sahih al-Bukhari)

                            The Islamic will is called al-wasiyya. It is a transaction which comes into operation after the death of a testator (the one who makes a will). The will is executed after payment of funeral expenses and any outstanding debts. The one on whose behalf a will is made is generally referred to as a legatee (al-musa lahu).
                            Also, in addition to making a will, list down the things that your family members should know and do in your absence, for example, paying your household bills or shopping arrangements or any other thing you think is important. In case if Allah takes your life and you never comeback from hajj, at least your family is not lost. As a Muslim, we should be prepared all the time to receive calls from Allah to depart from this earth.
                        </span>






                    </li>
                </ul>

</div>
    </aside>
</section>

