@{
    ViewBag.Title = "How to perform hajj - Step by Step Guide to Hajj ";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content="The rites of hajj begin by entering into the state of ihram, i.e. when someone utters intention to perform hajj. This is then followed up by a series of short rites, such as performing tawaf, sa'i, staying in Mina, standing in Arafat, spending night in Muzdalifa, throwing pebbles and so forth.  " />
    <meta name="Keywords" content="how to perform hajj, how to perform haj, step by step guide hajj, three types of hajj, hajj Tamattu, Hajj Qiran, Hajj Ifrad" />
    <meta name="author" content="comparehajjpackages.com">
}


<style type="text/css">

       #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }



    .eventborder {
        border: 1px solid #000000;
    }


     .eventborder a {
          text-decoration: none;
     }

    .footerbutton {
        height: 100px;
        margin-top: 20px;
        border-radius: 8px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-color: #4f81bd ;
    }

    .footerbutton1 {
        height: 100px;
        margin-top: 20px;
        border-radius: 8px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-color: #9b2d2a ;
    }

    .footerbutton2 {
        height: 100px;
        margin-top: 20px;
        border-radius: 8px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-color: #8064a2;
    }

     /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 14px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>


<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/HajjAndHajjRites">Hajj and Hajj Rites</a></li>
     <li>Step by step guide to hajj</li>


</ul>

@*<li class="active"><a href="~/Footer/">Step by step guide to hajj rites</a></li>*@

<div class="row-fluid">
    <div class="Footercontent">
        <h2> Step by step guide to hajj</h2> 
        <p> The rites of hajj begin by entering into the state of ihram, i.e. when someone utters intention to perform hajj. This is then followed up by a series of short rites, such as performing tawaf, sa'i, staying in Mina, standing in Arafat, spending night in Muzdalifa, throwing pebbles and so forth.  </p>
        <p>Many pilgrims often get muddled up with sequence of actions they are required to perform during hajj. Below we have listed different hajj types and possible actions required to perform each type. One may use this as a guide.</p>
        
        <p><b>To find out more, select the type of hajj you are planning to perform:</b></p>

        <div class="" style="margin-right: 0px; margin-bottom: 10px;width: 99%;margin-left: 6px;">
            <div class="row-fluid">
                <div class="span4 eventborder footerbutton">
                    <a class="pane a" style="width:276px" href="~/Footer/StepByStepGuideToTammattuHajj">
                        <div class="">
                            <p style="color:#FFFFFF;text-align:center;font-size:x-large;">
                                <br>
                                Step by step guide to Tamattu Hajj
                            </p>
                        </div>
                    </a>
                </div>
                <div class="span4 eventborder footerbutton1">
                    <a class="pane a" style="width:276px" href="~/Footer/StepbystepguidetoQiranHajj">
                        <div class="">
                            <p style="color:#FFFFFF;text-align:center; font-size:x-large;">
                                <br>
                                Step by step guide to Qiran Hajj
                            </p>
                        </div>
                    </a>
                </div>
                <div class="span4 eventborder footerbutton2">
                    <a class="pane a" style="width:276px" href="~/Footer/StepbystepguidetoIfradHajj">
                        <div class="">
                            <p style="color:#FFFFFF;text-align:center; font-size:x-large;">
                                <br>
                                Step by step guide to Ifrad Hajj

                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
