@{
    ViewBag.Title = "Step by step guide to Qiran Hajj";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}



<style type="text/css">

     #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width: auto;
        color: white;
        padding: 10px;
        font-size: 1.1em;
        background: #9b2d2a;
    }

    .step .media-body {
        border: 2px solid #8c2926;
        padding: 10px;
        margin-top:11px;
    }

    .step .media {
        padding: 1px;
    }

    .boxstep .media-body div {
        border-bottom: 1px solid #981C19;
        padding: 10px;
    }

     .small-arrow {
        width: 120px;
        height: 150px;
    }

    .medium-arrow {
        width: 120px;
        height: 220px;
    }

    .large-arrow {
        width: 120px;
        height: 300px;
    }

    .extraLarge-arrow {
        width: 120px;
        height: 220px;
    }

    .horigontal-arrow {
        width: 190px;
        height: 80px;
    }

    .horigontalLong-arrow {
        width: 180px;
        height: 60px;
    }

    
    .media-object {
        display: inline;
    }

    .stepPosition-Part1-Umrah {
        color: white;
        font-weight: bold;
        left: 75px;
        margin-left: 0;
        margin-top: 15px;
        position: absolute;
    }

    .stepPosition-Part2-hajj {
        color: white;
        font-weight: bold;
        left: 470px;
        margin-left: 0;
        margin-top: 15px;
        position: absolute;
    }

    .stepPosition-Ihram-break {
        color: black;
        font-weight: bold;
        left: 232px;
        margin-left: 0;
        position: absolute;
        text-align: center;
        top: 10px;
    }


   

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }

    .stepPosition {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 22px;
        top: 30px;
        text-align: center;
    }

    .stepPosition1 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 26px;
        margin-top: 47px;
        text-align: center;
    }

    .stepPosition2 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 17px;
        margin-top: 50px;
        text-align: center;
    }

    .stepPosition3 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 7px;
        margin-top: 72px;
        text-align: center;
    }

      .stepPosition4 {
        position: absolute;
        margin-left: 4px;
        color: white;
        left: 25px;
        margin-top: 75px;
        text-align: center;
    }

 

    .stepPosition5 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 32px;
        margin-top: 45px;
        text-align: center;
    }

   

    .stepPosition6 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 32px;
        margin-top: 50px;
        text-align: center;
    }

    .stepPosition7 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 11px;
        margin-top: 75px;
        text-align: center;
    }

    .stepPosition8 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 13px;
        margin-top: 80px;
        text-align: center;
    }

  
    .stepPosition9 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 30px;
        margin-top: 75px;
        text-align: center;
    }

    .stepPosition10 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 12px;
        margin-top: 75px;
        text-align: center;
    }

    .stepPosition11 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 27px;
        margin-top: 79px;
        text-align: center;
    }

    .stepPosition12 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 12px;
        margin-top: 45px;
        text-align: center;
    }
    .small-arrow-stepPosition12 {
        width: 100px;
        height: 130px;
    }

    .stepPosition13 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 25px;
        margin-top:45px;
        text-align: center;
    }

  
    .stepPosition14 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 25px;
        margin-top: 80px;
        text-align: center;
    }

    .stepPosition15 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 30px;
        margin-top: 80px;
        text-align: center;
    }

    .stepPosition16 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left:25px;
        margin-top: 80px;
        text-align: center;
    }

    .stepPosition17 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 12px;
        margin-top: 80px;
        text-align: center;
    }

    .stepPosition18 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 25px;
        margin-top: 80px;
        text-align: center;
    }

    .stepPosition19 {
        position: absolute;
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 38px;
        margin-top: 60px;
        text-align: center;
    }

    .stepPosition20 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 38px;
        margin-top: 60px;
        text-align: center;
    }

    .stepPosition21 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 38px;
        margin-top: 60px;
        text-align: center;
    }

    .stepPosition22 {
        position: absolute;
        margin-left: 0px;
        color: white;
        left: 38px;
        margin-top:60px;
        text-align: center;
    }

     .badge {
  padding: 1px 9px 2px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  color: #981C19;
  background-color: white;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

     /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 14px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>



<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/HajjAndHajjRites">Hajj and Hajj Rites</a></li>
    <li><a href="~/Footer/Stepbystepguidetohajjrites">Step by step guide to hajj rites</a>
    <li>Step by step guide to Qiran Hajj</li>


</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>Step by step guide to Qiran Hajj</h2>
        <div class="step">
            <div class="media" style="position:relative">

                <a>

                    <img class="media-object horigontal-arrow img-responsive" style="width:350px;height:135px;" src="~/Content/images/Qiranhajj.png" />
                    <span class="stepPosition-Part1-Umrah">

                    </span>

                </a>


                @*<a>

                        <img class="media-object horigontal-arrow img-responsive" alt="64x64" src="~/Content/images/Part.jpg" />
                        <span class="stepPosition-Part1-Umrah">
                            Part1<br>
                            'Umrah
                        </span>
                        <img class="media-object horigontal-arrow img-responsive" alt="64x64" src="~/Content/images/IhramBreak.png" />
                        <span class="stepPosition-Ihram-break">
                            Ihram break & all<br>
                            ihram<br>
                            restrictions lifted
                        </span>
                        <img class="media-object horigontal-arrow img-responsive" alt="64x64" src="~/Content/images/Part.jpg" />
                        <span class="stepPosition-Part2-hajj">
                            Part2<br>
                            Hajj
                        </span>
                    </a>*@


            </div>
        </div>
        <br />

        <ul style="list-style-type:disc">
            <li>
                In Hajj Qiran, ‘Umrah and Hajj are performed with a single Ihram
            </li>
            <li>
                One who performs Qiran hajj is called Qaarin
            </li>
            <li>
                In Qiran Hajj, Qaarin enters into Ihram with an intention to perform ‘umrah and hajj together, without any break in between
            </li>
            <li>
                Majority scholars rule that for this type of Hajj,  it is a prerequisite for the pilgrim (Qaarin) to have the sacrificial animal with them
            </li>
        </ul>

        <br />

        <div class="step">
            <div class="media">

                <table>
                    <tr>
                        <td>
                           Actions for ‘Umrah in Qiran Hajj
                        </td>
                    </tr>

                </table>

                @*<a>
                        <img class="media-object horigontal-arrowhorigontalLong-arrow" alt="64x64" src="~/Content/images/Part1.jpg" />

                    </a>*@

            </div>

        </div>
        <br />
        <div class="step boxstep">
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition1">
                        <span class="badge">1</span>

                        <br />
                        Cleansing<br>
                        Rituals
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" height="80" width="80" />

                </a>
                <div class="media-body">
                    <ul style="list-style-type:disc">
                        <li>Prepare for Ihram through cleansing rituals, e.g. cut nails, pubic hair, under arm hair and taking shower or bath etc. This is likely to be at one’s home, unless you are going to Madinah first.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition2">
                        <span class="badge">2</span>

                        <br />
                        Ihram Attire

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body">
                    <ul style="position:relative">
                        <li>
                            Wear Ihram attire. For men just two sheets of unsown white cloth and women can wear any clothing as long as it conforms to the Islamic code of dress.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition3">
                        <span class="badge">3</span>

                        <br />
                       2 rakat salah <br />before making <br />
                        intention
                    </span>
                    <img class="media-object medium-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body">
                    <ul style="list-style-type:disc">

                        <li>
                            If possible perform 2 raakat salah before making intention (niyah) for Qiran Hajj. The Prophet (PBUH) pronounced his niyah after praying Salatul-Dhuhr. <br />
                        </li>
                        <li>
                            There is no such thing called salatul-Ihram as some books highlight this.  If there is no impending salah, one may make intention after performing two rakat travelling salah.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition4">
                        <span class="badge">4</span>

                        <br />
                        Miqat &
                        <br />
                        making <br />
                        intention
                    </span>
                    <img class="media-object medium-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body  arabicCSS">
                    <ul style="list-style-type:disc">
                        <li>
                            It is important that one must make intention for hajj before entering Miqat
                        </li>
                        <li>
                            You can do niyah at home or before entering Miqat boundary. It is better to do niyah before entering the Miqat, because until then you are free from all Ihram restrictions.
                        </li>
                        <li>
                            Now do niyah for Qiran Hajj by uttering loud: <p id="arabicpara"> لَبَّيْكَ الَّهُمَّ عُمْرَةً وَ حَجّاً </p>(“Labbayk Allahumma ‘Umratan wa Hajjan”) Or <p id="arabicpara">  لَبَّيْكَ عُمْرَةً وَ حَجّاً</p>(“Labbayka ‘Umratan wa Hajjan”) (“O Allah here I am performing ‘Umrah and Hajj”) to assume the state of Ihram.
                        </li>
                        <li>
                            Now all ihram restrictions are imposed upon you until hajj is completed.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">

                <a href="#" class="pull-left">
                    <span class="stepPosition5">
                        <span class="badge">5</span>

                        <br />
                        Recite<br />
                        Talbiyah
                    </span>
                    <img class="media-object small-arrow " alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>

                <div class="media-body arabicCSS">
                    <ul>
                        <li>
                            After uttering niyah, start reciting Talbiyah:
                            <p id="arabicpara"> لَبَّيْكَ الَّهُمَّ لَبَّيْكَ، لَبَّيْكَ لَا شَرِيكَ لَكَ لَبَّيْكَ، إنَّ الحَمدَ وَ النِّعْمَةَ لَكَ وَ الْمُكَ لَا شَرِيكَ لَكَ </p>
                            (Labbayka Allāhumma Labbayk. Labbayk Lā Sharīka Laka Labbayk. Inna l-Ḥamda, Wa n-Niʻmata, Laka wal Mulk, Lā Sharīka Lak.) (“Here I am at Your service O Allah, here I am. Here I am at Your service, You have no partner, here I am at Your service. For You alone is All Praise and All Grace, and for You alone is The Sovereignty. You have no partner.”)<br />
                        </li>
                        <li>
                            When you see the city of Makkah, recite Talbiyah more and more.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition6">
                        <span class="badge">6</span>

                        <br />
                        Arrive in<br />
                        Makkah
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body">
                    <ul>
                        <li>Arrive in hotel in Makkah and get ready for 'Umrah.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition7">
                        <span class="badge">7</span>

                        <br />
                        Perform<br />
                        'Umrah Tawaf
                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />
                </a>
                <div class="media-body arabicCSS">
                    <u>Proceed to Masjid -al-Haram to perform ‘Umrah Tawaf</u><br />
                    <div>
                        <ul>
                            <li>
                                Enter the Masjid-al Haram with wudhu and right foot first, and make sure that you recite the du’a for entering the Masjid as well. It is Sunnah to say the following du’a:

                                <p id="arabicpara"> بِسْمِ اللهِ وَ الصَّلاَةُ وَالسَّلاَمُ عَلَى رَسُوْلِ الله</p>

                                (“Bismillahi wassalatu wassalamu alaa Rasoolillahi”)(“In the name of Allah and blessings and peace be upon the Messenger of Allah”).
                            </li>

                            <li>
                                Then say the following:

                                <p id="arabicpara">  أَعُوْبِاللهِ الْعَظِيمِ، وَبِوَجْهِهِ الْكَرِيْمِ، وَسُلْطَانِهِ الْقَدِيمِ مِنَ الشَّيْطَانِ الرِّجِيْمِ، اللَّهُمَّ افْتَحْ لِىْ أبْوَا بَ رَحْمَتِكَ</p>
                                (“A’outhu billahil-a’adtheem, wa bi waj’hihilka-reem, wasultaanihilqadeem, minashaytaanir-rajeem, Alhamdummaftahlee abwaabarahmatik.”) (“I seek refuge in Allah the Great, and His Honourable face and His ancient authority from the accursed Shaytaan. Oh Allah open for me the doors of Your mercy”).

                            </li>
                        </ul>
                    </div>
                    @*<u>First sight of the Ka’ba </u><br />
                        <div>
                            	Du’as are accepted upon first sighting of the Ka'ba. Recite any du’a  of your choice for looking at the Ka'ba. <br />
                        </div>*@
                    <u>No  Tahiyyatul- Masjid </u><br />
                    <div>
                        <ul>
                            <li>Tahiyyatul- Masjid not to be performed when intending to perform Tawaf. Tawaf takes precedence of Tahiyyatul-Masjid.</li>

                            <li>If there is any imminent Fardh salah, then it must be performed before starting Tawaf; otherwise proceed to Tawaf straight away.</li>

                        </ul>
                    </div>

                    <u>Undertaking Tawaf </u><br />
                    <div>
                        <ul>
                            <li>	Wudhu is must for Tawaf. Menstruating women must not make Tawaf. Wait until menstruation is completed.</li>
                            <li>Before starting Tawaf, you should stop reciting Talbiyah.</li>
                            <li>Men should wear their Ihram clothes in a way so that their right shoulder is bare. This is called Idtiba’a. </li>
                            <li>	Women dress up as normal.</li>
                        </ul>
                    </div>
                    <u>Starting Tawaf </u><br />
                    <div>
                        <ul>
                            <li>	Start at the Hajr-al-Aswad (black stone).</li>
                            <li>	Kiss the stone if possible.</li>
                            <li>if not, touch it with your right hand (Istilam) and kiss your hand.</li>
                            <li>	 if this is not possible due to the crowd, then face the black stone from the tawaf line and gesture towards it with your right hand once. In this case do not kiss your hand.Say:<p id="arabicpara"> بِسْمِ اللهِ وَ اللهُ أَكْبَرُ </p> wallahu akbar) (“In the name of Allah, and Allah is Greatest”) and proceed in an anti-lockwise.</li>
                        </ul>
                    </div>
                    <u>During Tawaf </u><br />
                    <div class="arabicCSS">
                        <ul>
                            <li>	During tawaf supplicate, make dhikr, recite Qur'an as you wish.  Du'a in your language is acceptable. </li>
                            <li>	Walk around the Hateem, but not through it.  If you enter Hateem, it will not be counted as one.</li>
                            <li>	Keep moving forward.</li>
                            <li>	For the first three rounds of tawaf, men adopt ramal (rhythmic trot while shrugging the shoulders; marking time but moving ahead). Men walk normal in the remaining four rounds.</li>
                            <li>	Please note, the adoption of ramal is required only in ‘Umrah tawaf’ and ‘Welcome Tawaf’ (Tawaf-al-Qudoom).</li>
                            <li>	Women walk normally in all 7 rounds. </li>
                            <li>	Once you reach Rukn -al -Yamani  Corner, touch it with your right hand (Istilam) and say:<p id="arabicpara"> بِسْمِ اللهِ وَ اللهُ أَكْبَرُ  </p>(Bismillahi wallahu akbar) (“In the name of Allah, and Allah is Greatest”).</li>
                            <li>	If you cannot touch the Yamani Corner due to the crowd or perhaps you are circuling the Ka'ba on the higher level of the Masjid, then continue with your tawaf. Do not need to kiss it or kiss your hand, also you don’t have point to it or say anything.</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                From the Yamani corner to the black stone, it is sunnah to recite:<p id="arabicpara"> رَبَّنَا آتِنَا فِي الدُّنْيَا حَسَنَةً وَ فِي الآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النَّارِ </p> (“Rabbana aathina fiddunyaa hassanatan wa fill aakihirati hasanatan wa qinna athabannar”)(“Our Lord! Give us in this world that which is good and in the Hereafter that which is good and save us from the torment of the Fire!”).
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Once you reach the Hajr-al-Aswad (the black Stone), you have completed one round.
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>	Continue and repeat the above steps again, either kiss, touch or gesture towards the Black Stone and say Allahu Akbar <p id="arabicpara">اللهُ أَكْبَر</p> until completed all seven circuits.</li>
                            <li>	At the end of the last circuit, do not kiss, touch or gesture the Black Stone.</li>
                        </ul>
                    </div>

                    <ul>
                        <li>After completing all seven rounds, at this point male pilgrims must cover their right shoulder.</li>
                        <li>	For other types of tawaf , your right shoulder should be covered anyway.</li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition8">
                        <span class="badge">8</span>

                        <br />
                        2 rakat salah <br />
                      after tawaf
                        
                    </span>
                    <img class="media-object extraLarge-arrow .extraLarge-arrow"alt=" 64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body arabicCSS">
                    <div>
                        <ul>
                            <li>
                                Now proceed towards the Maqaam Ibraheem  reciting the following verse:
                                <p id="arabicpara"> وَاتَّخِذُوامِنْ مَقَامِ إبْرَاهِيْمَ مُصَلَّى </p>
                                (“Wattakhithu min Maqaami Ibraheema musallaa.”)(“And take the station of Ibrahim as a place of prayer.”)
                            </li>
                            <li>Stand in a way so that the Maqaam Ibraheem is between you and the Ka'ba.</li>
                            <li>Pray 2 rakats salah. It is sunnah to recite Suratul-Kafirun after Suratul-Fatiha in the first rakah and Suratul-Ikhlas after Suratul-Fatiha in the second rakah.</li>

                        </ul>

                    </div>

                    <ul>
                        <li>	Due to crowd if it is not possible to perform 2 rakats salah at the Maqaam Ibrahim, then pray anywhere else in the Haram. It is acceptable.</li>
                        <li>	Your tawaf is now complete.</li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition9">
                        <span class="badge">9</span>

                        <br />
                        Drink <br />
                        Zamzam<br />
                        Water<br />

                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body arabicCSS">
                    <ul>
                        <li>	Now proceed towards Zamzam point to drink water. </li>
                        <li>	On this particular occasion it is sunnah to drink  Zamzam water in standing.</li>
                        <li>	After drinking Zamzam water, return to the Black Stone and kiss it if possible, saying <p id="arabicpara">  اللهُ أَكْبَرُ  </p> (“Allahu Akbar”)(“Allah is Greatest”).</li>
                        <li>	If this is not possible due to crowd then proceed to sa’i.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition10">
                        <span class="badge">10</span>

                        <br />
                        Leaving the<br />
                        Holy Mosque<br />
                        for Sa’i

                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body arabicCSS">
                    <ul>
                        <li>
                            As you leave the boundary of the Holy Mosque  you may recite the du’a of leaving any mosque:<br />
                            <p id="arabicpara"> بِسْمِ اللهِ اَللَّهُمَّ صَلِّ عَلَى مُحَمَّدٍ اَللَّهُمَّ اِنِّيْ اَسْأَلُكَ مِنْ فَضْلِكَ  </p>“(I begin) with the name of Allah. O Allah! Send peace and mercy on Muhammad. O Allah! I ask for Your bounty.”
                        </li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition11">
                        <span class="badge">11</span>

                        <br />
                        Perform <br />
                        Sa’i
                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body arabicCSS">
                    <div>
                        <ul>
                            <li>
                                Please note, for Qiran Hajj, this Sa'i is recommended. However, according to Hanafi Madhab, two sa'is are compulsory for Qiran hajj - one with the Welcome Tawaf and the other with the Hajj Tawaf.  
                            </li>
                            <li>	As you get closer to Safa to start Sa’i, it is Sunnah to say:<p id="arabicpara">  إِنَّ الصَّفَا وَالْمَرْوَةَ مِنْ شَعَائِرِ اللَّهِ </p> (“Innassafaa walmarwata min sha’aa irillahi.)” (“Indeed Safa and Marwah are among the signs of Allah.)”</li>
                            <li>
                                Then say:
                                <p id="arabicpara"> إبْدَإُ بِمَا بَدَأَ اللهُ بِهِ </p>
                                (“Abda’u bima bada’a Allahu bihi.)” (“I begin with that which Allah has begun.)”
                            </li>
                            <li>The above are said only once before starting Sa’i, not at the beginning of every round. </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>	When ascending Safa, go up until the Ka’ba is visibly seen (if possible) and facing it say three times:<p id="arabicpara">  إلْحَمْدُ لِلهِ وَلاَ إلَهَ إلاَّ اللهُ وَ اللهُ أكْبَرُ </p>(“Alhamdulillahi, walaa ilaha illallahu, wallahu Akbar.)” (“All praise is due to Allah, there is no God but Allah, and Allah is Greater.)” </li>
                            <li>
                                Then say:
                                <p id="arabicpara"> لاَ إِلَهَ إلاَّ اللهُ وَحْدَهُ لاَشَرِيْكَ لَهُ، لَهُ الْمُلْكُ وَ لَهُ الْحَمْدُ، يُحْيِيْ وَيُمِيْتُ وَهُوَ عَلَى كُلِّ شَي ءٍ قَدِيْرٌ. لاَ إِلَهَ إلاَّ الله وَحْدَهُ أَنْجَزَوَعْدَهُ، وَنَصَرَ عَبْدَهُ، وَهَزَمَ الأَ حْزَابَ وَحْدَهُ</p>
                                (“Laa ilaha illallahu wahdahu laa shareeka lahu, lahulmulku walahulhamdu, youhee wayumeetu wahua ala kullishay’in qadee. La ilaha illallahu wahdahu, anjaza wa’dahu, wansara a’bdahu, wahazamal ahzaaba wahdahu.” (“There is no deity worthy of worship but Allah alone, no partners are unto Him, His is the dominion (kingdom) and His is the praise. He gives life and He gives death and He is capable of everything. There is none worthy of worship but Allah alone, who fulfilled His promise, and gave victory to His servant and defeated the confederates alone”).
                            </li>
                            <li>	Raising your hands, you may make the above supplications three times. You may also add your own supplications in between these three times.</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>	Now proceed towards Marwah and when you arrive at the green florescent light, try to run briskly (men only). Women should not run.Women walk normal all the way through</li>
                            <li>	There is no prescribed supplication during  walking towards  Marwah ,or  from Marwah to Safa. There is nothing from the Prophet (pbuh) establishing any particular prayer during the Sa’i. </li>
                            <li>	During walking towards Marwah, all the time recite prayers and supplications of your choice. </li>
                            <li>	Your arrival at Marwah completes one leg of the Sa’i.</li>
                        </ul>
                    </div>

                    <ul>
                        <li>
                            Upon arriving at Marwah, repeat the supplications offered at Safa, i.e. face the Kabah and repeat the above du’a:<p id="arabicpara"> إلْحَمْدُ لِلهِ وَلاَ إلَهَ إلاَّ اللهُ وَ اللهُ أكْبَرُ </p>(“Alhamdulillahi, walaa ilaha ...“) and
                            <p id="arabicpara">لاَ إِلَهَ إلاَّ اللهُ وَحْدَهُ لاَشَرِيْكَ لَهُ، لَهُ الْمُلْكُ وَ لَهُ الْحَمْدُ، يُحْيِيْ وَيُمِيْتُ وَهُوَ عَلَى كُلِّ شَي ءٍ قَدِيْرٌ. لاَ إِلَهَ إلاَّ الله وَحْدَهُ أَنْجَزَوَعْدَهُ، وَنَصَرَ عَبْدَهُ، وَهَزَمَ الأَ حْزَابَ وَحْدَهُ </p>
                            (“Laa ilaha illallahu wahdahu laa shareeka lahu ...”) three times, and then turn around and retrace your walk back to Safa. This will complete the second leg of the Sa’i.
                        </li>
                        <li>Two rounds of sa'i are now complete. Repeat these steps at Safa and Marwah until you finish at Marwah, which should be your seventh round.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition12">
                        <span class="badge">12</span>

                        <br />
                        Do not cut or <br />
                        shave hair

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body">
                    <ul>
                        <li>	Do not cut or shave your hair.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition13">
                        <span class="badge">13</span>

                        <br />
                        ‘Umrah <br />
                        Complete

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical.png" />

                </a>
                <div class="media-body">
                    <div>
                        <ul>
                            <li>	Your ‘Umrah is now complete but you remain in the state of Ihram. All ihram restrictions still applicable on you.   </li>
                        </ul>
                    </div>
                    <ul>
                        <li>Wait for Hajj to start on 8th Dhul-hijja.</li>
                        <li>	In the meantime do more and more nafl prayer in the Holy Mosque and recite Quran to a greater extent.</li>
                    </ul>
                </div>

            </div>
            <br />
            @*<div class="step">
                    <div class="media" style="position:relative">
                        <a>
                            <img class="media-object horigontal-arrowhorigontalLong-arrow" alt="64x64" src="~/Content/images/Part2.jpg" />

                        </a>

                    </div>
                </div>*@
            <table>
                <tr>
                    <td>
                       Actions for hajj in Qiran Hajj
                    </td>
                </tr>

            </table>

            <p>
                <u><b>Main actions of Hajj take place between 8th – 13th Dhul-hijja </b> </u>
            </p>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition14">
                        <span class="badge">14</span>

                        <br />
                        (Makkah <br />
                        To Mina)

                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

                </a>
                <div class="media-body arabicCSS">
                    <b>8th Dhul-Hijja (Yaum-at-Terweya) (Encampment at Mina)</b><br />
                    <ul>

                        <li>	You are already in the state of Ihram. You do not need to make any new intention.  </li>
                        <li>	The talbiyah is now recited by all pilgrims in abundance. Praying Fajr salah at Makkah, after sunrise head for Mina. (To avoid crowd, sometime the Hajj authority take pilgrims to Mina the night before i.e. on 7th Dhul-hijja).   </li>
                        <li>	Pilgrims stay in Mina all day on 8th Dhul-Hijja and perform all daily Salah, and rest of the time spend profitably in acts of Ibadah.  </li>
                        <li> All prayers are performed on time, shortened but not combined; Dhuhr (2 rakat) and Asr (2 rakat) together with a break in between, so are Magrib (3 rakat) and Isha (2 rakat). It is better to perform 3 rakat Witr as well, as the Prophet (pbuh) never missed this prayer in his life time.   </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition15">
                        <span class="badge">15</span>

                        <br />
                        (Makkah <br />
                        To Mina)

                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />
                </a>
                <div class="media-body arabicCSS">
                    <b>9th Dhul-Hijja (Morning, after sunrise) - Standing at Arafat</b><br />
                    <ul>
                        <li>Praying Fajr salah at Mina on 9th Dhul-Hijja, after sunrise leave Mina for Arafat. There is no Hajj without Arafat.</li>
                        <li>	You can stand anywhere in Arafat. You do not have to go to the hill in Arafat (Jabal Ar – Rahmah). </li>
                        <li>You must be inside Arafat for your Hajj to be valid. Please note Nimra mosque (the mosque in Arafat) does not completely lie within the boundary of Arafat. The Ministry of Hajj’s sign clearly shows the boundary of Arafat.</li>
                        <li>
                            Make as much du’a and repentance as you can while in Arafat. Face the Qiblah and raise your hands when making du’a. The best du’a to make on this day is the one as follows:
                            <p id="arabicpara"> لاَ إِلَهَ إلاَّ اللهُ وَحْدَهُ لاَشَرِيْكَ لَهُ، لَهُ الْمُلْكُ وَ لَهُ الْحَمْدُ، يُحْيِيْ وَيُمِيْتُ وَهُوَ عَلَى كُلِّ شَي ءٍ قَدِيْرٌ</p>

                            (“laa ilaha illalahu waHdahu laa sharika lahu lahul mulku lahul hamdu wa yuh-ee wa yumitt wahua Alaa kulli shayin qadeer.”) (“There is none worthy of worship but Allah alone, no partners are unto Him, His is the dominion (Kingdom) and His is the praise. He gives life and He gives death and He is capable of everything”).<br />
                        </li>
                        <li>	In Arafat, pray Dhuhr and Asr preferably in congregation. Pray Asr (2 rakats) straight after Dhuhr (2 rakats) shorten with a break in between.</li>

                        <li>Stay in Arafat until sunset. Do not leave Arafat before sunset.</li>

                        <li>Maghrib salah is not performed in Arafat.</li>
                        <li>
                            Only after sunset, go to Muzdalifah.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition16">
                        <span class="badge">16</span>

                        <br />
                        (Arafat to <br />
                        Muzdalifa)

                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

                </a>
                <div class="media-body">
                    <b>9th Dhul-Hijja (Evening, after sunset) – Spending the night at Muzdalifah </b><br />
                    <ul>
                        <li>	After sunset, head for Muzdalifah.</li>
                        <li>	The journey from Arafat to Muzdalifah could be short or very long. It depends on the crowd.</li>
                        <li>	At Muzdalifah pray Maghrib 3 rakats and 2 rakats for Isha plus 3 rakats Witr. Pray Isha straight after Maghrib. </li>
                        <li>	If possible collect 7 pebbles from Muzdalifah. You need not to collect pebbles from Muzdalifa, as it is also acceptable to collect them from Mina. </li>
                        <li>	After the prayers lay down for rest or sleep as did the Prophet (pbuh). Rest is also necessary as the following day (i.e. 10th Dhul-hijjah) is full of hectic agenda.</li>
                    </ul>


                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition17">
                        <span class="badge">17</span>

                        <br />
                        (Muzdalifa to <br />
                        Mina)

                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

                </a>
                <div class="media-body arabicCSS">
                    <b>10th Dhul-Hijja (Day of Sacrifice) - (Encampment at Mina)</b><br />
                    <ul>
                        <li>At Muzdalifa, wake up early in the morning for Fajr prayer. After that make du’a in standing and facing the Qibla with hand raised until the morning is widespread.</li>
                        <li>Then shortly before sunrise, set out for Mina.</li>
                        <li> The talbiyah is still recited. Head for the largest jamarah, known as al-Aqabah and perform ramy (casting of seven pebbles, one at a time, at the jamarah in Mina).</li>
                        <li>	The Pilgrim says <p id="arabicpara"> اللهُ أَكْبَرُ  </p> Akbar”)(Allah is Greatest) as he or she throws each pebble.</li>
                        <li>
                            After the ramy the pilgrim should stop the talbiyah and start reciting the takbir:
                            <p id="arabicpara">اللهُ أكْبَرُ اللهُ أكْبَرُلاَ الَهَ الاَّ اللهُ وَ اللهُ أكْبَرُ اللهُ أكْبَرُ وَ لِلهِ اَلْحَمْدُ</p>
                            (“Allahu Akbar, Allahu Akbar, La ilaha illalah, Allahu Akbar, Allahu Akbar, wa lillah-il-hamd”) (Allah is the Greatest! Allah is the Greatest! There is nothing worthy of worship except Allah. Allah is the Greatest! Allah is the Greatest! And to Allah belongs all praise and thanks”).
                        </li>
                        <li>The takbir should be recited until after Asr on the 13th of Dhul-hijja, especially after the fardh prayers.</li>
                        <li>After ramy sacrifice an animal. This may be a sheep or goat or 1/7th share of a camel or cow for each person.</li>
                        <li>After sacrificing an animal, the men shave or cut their hair.  The women cut only approximately one inch of hair.</li>
                        <li>The pilgrim is now partially free from Ihram restrictions except marital relations (which are “lifted” after Tawaaf-al-Ifadah).</li>
                        <li>The pilgrim can now wear normal clothes.
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition18">
                        <span class="badge">18</span>

                        <br />
                        (Mina to<br />
                        Makkah to<br />
                        Mina)

                    </span>
                    <img class="media-object extraLarge-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

                </a>
                <div class="media-body">
                    <b>10th Dhul-Hijja (Tawaaf-al-Ifadah) (Encampment at Mina)</b><br />
                    <ul>
                        <li>Now head for Makkah to perform the second most important pillar of Hajj: Tawaaf-al-Ifadah.</li>
                        <li>Complete the seven circumambulations of House of Allah. Please note there is no ramal (rhythmic trot while shrugging the shoulders; marking time but moving ahead) in this tawaf but you follow all tawaf procedures as before.</li>
                        <li>Men walk normal in all seven rounds.</li>
                        <li>After tawaf,  pray 2 rakats salah at Maqaam Ibrahim as before.</li>
                        <li>And then perform Sa’i (seven circuits between Safa and Marwah) same way as before if Sa'i was not done with the Welcome Tawaf. </li>
                        <li>
                            On completion of this, the pilgrim is now free from all Ihram restrictions.
                        </li>
                        <li>If the pilgrim did not perform Tawaf-al-Ifadah on this day, he or she should perform it on the 11th or 12th of Dhul-Hijja.</li>
                        <li>The pilgrim now return to Mina and stay overnight in Mina.</li>
                    </ul>

                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition19">
                        <span class="badge">19</span>

                        <br />
                        (Mina)
                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />
                </a>
                <div class="media-body">
                    <b>11th Dhul-Hijja (Day 1 of Tashreek) (Encampment at Mina)</b><br />
                    <ul>
                        <li>	It is important  that the pilgrim spends the nights and most of his or her time, if not all, in Mina during the next three days.</li>
                        <li>
                            At any time after Zawaal (when the sun is at its zenith - i.e., when the time for Dhuhr prayer begins), the pilgrim should proceed to ramy starting with the small jamarah. 
                        </li>
                        <li>
                            Throw 7 pebbles on each of the 3 pillars, starting with the first pillar followed by du’a facing Qiblah, then on the middle pillar Jamarah-tul-Wustaa followed by du’a facing Qiblah, and lastly on the big pillar of Al-Aqabah (no du’a after this one).
                        </li>
                        <li>	The rest of the day and night spend time in Mina in praise  and remembrance of Allah.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition20">
                        <span class="badge">20</span>

                        <br />
                        (Mina)

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

                </a>
                <div class="media-body">
                    <b>12th Dhul-Hijja (Day 2 of Tashreek) (Encampment at Mina)</b><br />
                    <ul>
                        <li>On this day the pilgrim does the same as the day before. At any time after Zawaal, throw 7 pebbles on each of the 3 pillars, starting with the first pillar followed by du’a facing Qiblah, then on the middle pillar Jamarah-tul-Wustaa followed by dua facing Qiblah, and lastly on the big pillar of Al-Aqabah (no du’a after this one).</li>
                        <li>
                            On completion of the ramy, the pilgrim is allowed to leave Mina for Makkah.
                        </li>
                        <li>If the sun sets before you are able to depart Mina, then stay in Mina for the third night and throw pebbles again the next day.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition21">
                        <span class="badge">21</span>*

                        <br />
                        (Mina)

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

                </a>
                <div class="media-body">
                    <b>13th Dhul-Hijja (Day 3 of Tashreek) (Encampment at Mina)</b><br />
                    <ul>
                        <li>	On this day the pilgrim does the same as the day before. At any time after Zawaal, throw 7 pebbles on each of the 3 pillars, starting with the first pillar followed by du’a facing Qiblah, then on the middle pillar Jamarah-tul-Wustaa followed by du’a facing Qiblah, and lastly on the big pillar of Al-Aqabah (no du’a after this one).</li>
                        <li> On completion of the ramy, the pilgrim is now free to leave Mina for Makkah.</li>
                    </ul>
                </div>
            </div>
            <div class="media" style="position:relative">
                <a href="#" class="pull-left">
                    <span class="stepPosition22">
                        <span class="badge">22</span>

                        <br />
                        (Mina)

                    </span>
                    <img class="media-object small-arrow" alt="64x64" src="~/Content/images/Qiran vertical2.png" />

                </a>
                <div class="media-body">
                    <b>Tawaaf-al-Widaa (Makkah)</b><br />
                    <ul>
                        <li>	If the pilgrim is to leave Makkah, the last rite to be performed is Tawaaf-al-Widaa (the Farewell Tawaf).</li>
                        <li>	Tawaf-al-Widaa is a wijib act of Hajj. There is no Sa’i for Tawaf-al-Widaa.</li>
                        <li>	Narrated by Ibn Abbas (may Allah be pleased with them): “The people were ordered to perform the tawaf of the Ka’bah (Tawaaf-al-Widaa) as the lastly thing, before leaving (Makkah)”</li>
                    </ul>
                </div>
            </div>
            <h4>*Ignore step 21 if you are able to depart Mina before the sun sets on 12th Dhul-hijja. </h4>
        </div>
        @**/---------------------------*@

    </div>
</div>