@{
    ViewBag.Title = "Talbiyah";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    #btninformation {
        background-color: #D95902 !important;
    }



    h2 {
        /*font-size: 2.5rem;
        padding: 0.5rem 0.7rem;*/
        padding: 0 45px;
        margin-bottom: 1rem;
        color: #444;
    }

    section.page-container {
        display: flex;
        padding: 0 35px;
    }

    .main-content {
        flex-basis: 70%;
        margin: 0 10px 1rem;
    }

    aside {
        flex-basis: 30%;
        background: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }




     .post-list {
        display: flex;
        padding-top: 10px;
        flex-wrap: wrap;
        
    }

        .post-list h4 {
            color: #252525;
             margin-bottom: 1rem;
            padding: 0.3rem 0 0;
            border-bottom: 1px solid #fa4e2a;
        }

        .post-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .post-list ul li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .post-list ul li a {
                padding: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #252525;
                background: #D1D1D1;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid #aeaeac;
                box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
            }

                .post-list ul li a:hover {
                    text-decoration: none;
                }

                .post-list ul li a img {
                    border-radius: 10px;
                    margin-bottom: 0.8rem;
                    border: 1px solid #aeaeac;
                }

                .post-list ul li a span {
                    padding-left: 0.8rem;
                    flex: 1;
                }

    .arabicCSS p {
        font-size: 25px;
        font-weight: normal;
        /*text-align: right;*/
        line-height: 35px;
        padding: 30px;
    }

    /*//breadcrumb starts here//*/
    ul.breadcrumb {
        padding: 8px 10px;
        list-style: none;
        background-color: #eee;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 5px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    /*//breadcrumb ends//*/
</style>
<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/GettingReadyForHajj">Getting Ready for Hajj</a></li>
    <li><a href="../Footer/HajjAndHajjRites">Hajj and Hajj Rites</a></li>
    <li>Talbiyah</li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>

<h2>Talbiyah</h2>
<section class="page-container">
    <div class="main-content">
       
               
                @*<h5>1. Introduction</h5>*@
                <p>
                    The Talbiyah is a prayer invoked by the pilgrims during hajj and ‘umrah. This prayer is constantly repeated by pilgrims throughout the hajj especially when meeting other pilgrims, moving from one place to other. It is the pilgrim’s answer to Allah’s invitation to hajj. ‘Here I am, Lord, responding to Your call.’ Some recite this with great joy, while others are overwhelmed with emotion. Their eyes are full of tears due to over happiness.  Being able to see yourself in the midst of millions of people and feeling that you are important to Your Creator, it is simply beyond description. Millions of pilgrims are unified by reciting the talbiyah in the same language, and also by their simple ihram attire, worn by people from every status, culture, language and background.
                </p>

                <p>The text of the talbiyah is:   </p>

                <div class="row" style="background-color:#4d4d4d; margin-left:2px;">


                    @*<img src="http://via.placeholder.com/900x400" alt="Alternate Text" />*@



                    <div class="arabicCSS">

                        <p style="font-size:30px; color:#ffb31a; text-align: right;">   لَبَّيْكَ الَّهُمَّ لَبَّيْكَ، لَبَّيْكَ لَا شَرِيكَ لَكَ لَبَّيْكَ، إنَّ الحَمدَ وَ النِّعْمَةَ لَكَ وَ الْمُكَ لَا شَرِيكَ لَكَ</p>

                        <p style="text-align:left; color:white;"> (Labbayka Allāhumma Labbayk. Labbayk Lā Sharīka Laka Labbayk. Inna l-Ḥamda, Wa n-Niʻmata, Laka wal Mulk, Lā Sharīka Lak.)</p>
                        <p style="text-align:left; color:white;">    "Here I am at Thy service O Lord, here I am. Here I am at Thy service and Thou hast no partners. Thine alone is All Praise and All Bounty, and Thine alone is The Sovereignty. Thou hast no partners."</p>

                        @*<span>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>*@


                    </div>


                </div>
               

            </div>
    <aside>
       

        <div class="post-list">
            <h4>Most Searched</h4>


            <ul>
                <li>
                    <a href="../Footer/WhichTypeHajjChoose">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/types_of_hajj_paths.png" class="img-thumbnail" style="width:110px; height:110px; background-color:white;" alt="different types of hajj" />

                        <span style="color: #004d66"><strong> Which type of Hajj to choose?</strong> There are three types of Hajj: Ifrad, Qiran and Tamattu. </span>
                    </a>
                </li>
                <li>
                    <a href="../Footer/miqat">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@

                        <img src="~/content/images/Path.jpg" class="img-thumbnail" style="width:110px; height:110px;" alt="miqat diagram" />
                        <span style="color: #004d66"><strong>  What is miqat and rulings on miqat? </strong> The literal meaning of miqat is “a stated time or place.”  </span>

                    </a>




                </li>
                <li>
                    <a href="../Footer/StepByStepGuideToTammattuHajj">
                        @*<img src="http://via.placeholder.com/150x150" alt="Alternate Text" />*@
                        <img src="~/content/images/add3.png" class="img-thumbnail" style="width:110px; height:110px;" alternate text" />

                        <span style="color: #004d66"><strong> Step by step guide to Tammattu Hajj</strong> Tammattu Hajj consists of both ‘Umrah and Hajj.</span>
                    </a>
                </li>
            </ul>

        </div>




    </aside>
       </section>
