@{
    ViewBag.Title = "The Last Sermon Of The Prophet Muhammad (Pbuh)";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        margin-right: 10px;
        text-align: right;
    }
</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>The Last Sermon of the Prophet Muhammad (PBUH) خطبة الرسول في حجة الوداع</h4>
        <p>[Delivered on the 9th of Dhu’l-Hijja, 10AH (9 March 632) in the Uranah valley of Mount Arafat] </p>
        <br />

        <p>The Arabic version:</p>
        <div class="media-body arabicCSS">
            <p id="arabicpara"> أيها الناس اسمعوا قولي ، فإني لا أدري لعلي لا ألقاكم بعد عامي هذا بهذا الموقف أبدا ، أيها الناس إن دماءكم وأموالكم عليكم حرام إلى أن تلقوا ربكم كحرمة يومكم هذا ، وكحرمة شهركم هذا ، وإنكم ستلقون ربكم فيسألكم عن أعمالكم وقد بلغت ، فمن كان عنده أمانة فليؤدها إلى من ائتمنه عليها ، وإن كل ربا موضوع ولكن لكم رءوس أموالكم لا تظلمون ولا تظلمون . قضى الله أنه لا ربا ، وإن ربا عباس بن عبد المطلب موضوع كله وأن كل دم كان في الجاهلية موضوع وإن أول دمائكم أضع دم ابن ربيعة بن الحارث بن عبد المطلب ، وكان مسترضعا في بني ليث فقتلته هذيل فهو أول ما أبدأ به من دماء الجاهلية . أما بعد أيها الناس فإن الشيطان قد يئس من أن يعبد بأرضكم هذه أبدا ، ولكنه إن يطع فيما سوى ذلك فقد رضي به بما تحقرون من أعمالكم فاحذروه على دينكم أيها الناس إن النسيء زيادة في الكفر يضل به الذين كفروا ، يحلونه عاما ويحرمونه عاما ، ليواطئوا عدة ما حرم الله فيحلوا ما حرم الله ويحرموا ما أحل الله . إن الزمان قد استدار كهيئته يوم خلق الله السموات والأرض وإن عدة الشهور عند الله اثنا عشر شهرا ، منها أربعة حرم ثلاثة متوالية ورجب مضر ، الذي بين جمادى وشعبان . أما بعد أيها الناس ، فإن لكم على نسائكم حقا ، ولهن عليكم حقا ، لكم عليهن أن لا يوطئن فرشكم أحدا تكرهونه وعليهن أن لا يأتين بفاحشة مبينة فإن فعلن فإن الله قد أذن لكم أن تهجروهن في المضاجع وتضربوهن ضربا غير مبرح فإن انتهين فلهن رزقهن وكسوتهن بالمعروف واستوصوا بالنساء خيرا ، فإنهن عندكم عوان لا يملكن لأنفسهن شيئا ، وإنكم إنما أخذتموهن بأمانة الله واستحللتم فروجهن بكلمات الله فاعقلوا أيها الناس قولي ، فإني قد بلغت ، وقد تركت فيكم ما إن اعتصمتم به فلن تضلوا أبدا ، أمرا بينا ، كتاب الله وسنة نبيه . أيها الناس اسمعوا قولي واعقلوه تعلمن أن كل مسلم أخ للمسلم وأن المسلمين إخوة فلا يحل لامرئ من أخيه إلا ما أعطاه عن طيب نفس منه فلا تظلمن أنفسكم اللهم هل بلغت ؟ فذكر لي أن الناس قالوا : اللهم نعم فقال رسول "الله صلى الله عليه وسلم " اللهم ا شهد </p>
            </div>
            <br />
            <p>The English translation:</p>
            <p>
                After praising, and thanking Allah (The One True God) the Prophet began with the words:
                "O People! lend me an attentive ear, for I know not whether after this year I shall ever be amongst you again. Therefore, listen carefully to what I am saying and Take These Words to Those Who Could Not Be Present Here Today.
            </p>
            <p>O People! just as you regard this month, this day, this city as Sacred, so regard the life and property of every Muslim as a sacred trust. Return the goods entrusted to you to their rightful owners. Hurt no one so that no one may hurt you. Remember that you will indeed meet your Lord, and that he will indeed reckon your deeds.</p>
            <p>Allah has forbidden you to take usury (interest), therefore all interest obligations shall henceforth be waived. Your capital is yours to keep. You will neither inflict nor suffer any inequity. Allah has judged that there shall be no interest and that all the interest due to Abbas ibn 'Abd al-Muttalib (Prophet's uncle) be waived.</p>
            <p>Every right arising out of homicide in pre-Islamic days is henceforth waived and the first such right that I waive is that arising from the murder of Rabiah ibn al-Harithiah.</p>
            <p>O Men! the unbelievers indulge in tampering with the calendar in order to make permissible that which Allah forbade, and to prohibit which Allah has made permissible. With Allah the months are twelve in number. Four of them are holy, three of these are successive and one occurs singly between the months of Jumada and Shaban.</p>
            <p>Beware of Satan, for the safety of your religion. He has lost all hope of that he will be able to lead you astray in big things, so beware of following him in small things.</p>
            <p>O People! it is true that you have certain rights with regard to your women but they also have rights over you. Remember that you have taken them as your wives only under Allah's trust and with His permission. If they abide by your right then to them belongs the right to be fed and clothed in kindness. Do treat your women well and be kind to them for they are your partners and committed helpers. And it is your right that they do not make friends with anyone of whom you do not approve, as well as never to be unchaste.</p>
            <p>All mankind is from Adam and Eve, an Arab has no superiority over a non-Arab nor a non-Arab has any superiority over an Arab; also a white has no superiority over black nor a black has any superiority over white except by piety and good action. Learn that every Muslim is a brother to every Muslim and that the Muslims constitute one brotherhood. Nothing shall be legitimate to a Muslim which belongs to a fellow Muslim unless it was given freely and willingly.</p>
            <p>Do not therefore do injustice to yourselves. Remember one day you will meet Allah and answer your deeds. So beware, do not astray from the path of righteousness after I am gone.</p>
            <p>O People! No Prophet or Apostle Will Come after Me and No New Faith Will Be Born. Reason well, therefore, O People! And understand words which I convey to you. I leave behind me two things, the QUR’AN and my SUNNAH (i.e., sayings, deeds, and approvals) and if you follow these you will never go astray.</p>
            <p>All those who listen to me shall pass on my words to others and those to others again; and may the last ones understand my words better than those who listen to me directly.</p>
            <p>Be my witness O Allah, that I have conveyed your message to your people. As part of this sermon, the Prophet recited them a Revelation from Allah which he had just received and which completed the Qur’an, for it was the last passage to be revealed: “This day the disbelievers despair of prevailing against your religion, so fear them not, but fear Me (Allah)! This day have I perfected for you your religion and fulfilled My favour unto you, and it hath been My good pleasure to choose Islam for you as your religion.” (Surah 5, Ayah 3)</p>
            <p>The sermon was repeated sentence by sentence by Safwan's brother Rabiah (RA), who had a powerful voice, at the request of the Prophet and he faithfully proclaimed to over ten thousand gathered on the occasion. Toward the end of his sermon, the Prophet asked “O people, have I faithfully delivered unto you my message?" A powerful murmur of assent “O Allah, yes!” arose from thousands of pilgrims and the vibrant words “Allahumma na’m” rolled like thunder throughout the valley. The Prophet raised his forefinger and said: “Be my witness O Allah, that I have conveyed your message to your people."”</p>

        </div>
</div>
