@{
    ViewBag.Title = "Travel Item Recommandations";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}


<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }
        table, th, td {
        width:200px;
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: fixed;
    }

        th, td {
    padding: 5px;
    }

    th {
    text-align: center;
    background-color: #303030;
    color: white;
}
    table#t01 {
        width: 100%;
        background-color: #EBEBEB;
        line-height: 25px;
        font-size: 1.1em;
    }

</style>
<ul class="breadcrumb">
    <li calss="breadcrum"><a href="~/Information/Index"><b>Information</b></a><span class="divider" style="color:black"><b>></b></span></li>
    <li class="active" style="color:black"><b>@ViewBag.Title</b></li>
</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Recommended Travel Items</h4>
        <p>Although almost everything is available in Makkah; there is hardly any shopping outlet in Mina, Muzdalifa and Arafat. Therefore, in these places it is very difficult to obtain an item when you are in need of. Also, during hajj you do not want to spend time in searching items. Rather, you should take every opportunity to spend more time in dhikr of Allah. That’s why if you have little extra preparation beforehand, packing some travel items with your luggage; in Sha Allah it will certainly make your journey a bit more comfortable.  </p>
        <p>Below there is a list of items we recommend you to add to your bag to make your travel experience much easier.</p>
        
        <table id="t01">

            <tr><th>Items </th><th>Why you may need this?</th></tr>
            <tr><td>Ear plug</td><td>You may need this in the plane. Some people have problem with taking off and landing sound of the plane.  </td></tr>
            <tr><td>Luggage Id and Security (with built-in lock)  </td><td>You need this throughout the journey. Having an Id tag with your luggage or even with your hand bags are very useful. If they are lost, it is more likely to be found again than a luggage without a tag.  </td></tr>
            <tr><td>Cash 500 -600 Saudi Riyals </td><td>You may need a small amount of cash in case of any emergency or for buying a local mobile sim or a drink.  Due to huge crowd & queues at Hajj terminal money exchange booth, it is very difficult to change money. </td></tr>
            <tr><td>Additional photos (passport size)</td><td>For registration/Identity Cards</td></tr>
            <tr><td>Pocket size Qur’an </td><td>If you have a smart phone, it is better to download Qur’an before travelling. </td></tr>
            <tr><td>Hajj guide and du’a book</td><td>Very useful for recap what you learnt as part of your hajj preparation. </td></tr>
            <tr><td>Pen, pencil, and notebook</td><td>To take note or completing any form if need be.   </td></tr>
            <tr><td>Saudi Mobile SIM </td><td>Having a local SIM is useful. You may inform your arrival in Saudi Arabia to your relatives back home.
You must carry an unlock phone to use a local SIM.
Now-a-days many travel agents provide Saudi mobile SIM as part of their package.
</td></tr>
            <tr><td>Extra pair of ihram attire </td><td>To change when one set gets dirty. </td></tr>
            <tr><td>Money belts (Waist Pouch) or Neck wallets  </td><td>There is always risk of losing money or being pick pocketed.  Unfortunately, there are thieves and pickpockets even inside Masjid Al-Haram. Also men’s ihram clothes do not have any pocket. Keep valuables (documents, money, travellers’ checks, keys, credit cards, and so on) in these belts all the time. </td></tr>
            <tr><td>Medication
                <ul><li>Plasters and bandages</li><li>Diarrhoea tablets</li><li>Cough syrup</li><li>Cough syrupThroat lozenges</li><li>Paracetamol</li></ul></td><td>If you have any medical conditions, you must not forget to pack your daily medicines. Apart from this, as many people from all over the world bring with them all kinds of contagious illness, and the unavoidable closeness of the hundreds of thousands of pilgrims facilitates easy spread of these illnesses.</td></tr>
            <tr><td>Surgical face mask / Dust mask</td><td>Take a few. These are very useful. They help preventing virus attacks. </td></tr>
            <tr><td>Mattress/sleeping bag</td><td>In Mina you need this.</td></tr>
            <tr><td>Prayer mat (for Muzdalifa)</td><td>In Muzdalifa, people usually prayer in open space. There is no formal prayer facility. Everyone uses their own prayer mats in Muzdalifa.  </td></tr>
            <tr><td>Umbrella </td><td>At times the outside temperature could be very high. An umbrella is very useful for heat protection.  </td></tr>
            <tr><td>Carrier bags </td><td>To carry slippers or shoes inside mosques. If you leave them outside, it is very unlikely to find them. </td></tr>
            <tr><td>Small folding seat</td><td>Especially elderly who find difficult to stand for long time or praying in sitting position, a small folding seat is useful. </td></tr>
            <tr><td>Toiletries<ul><li>Toothpaste </li> <li>Toothbrush</li><li>Sanitary Pads</li><li>Scent free soap</li><li>Underarm deodorant (alcohol free)</li><li>Suncreen lotion   </li></ul></td><td>Essential items. <p style="color:red"> However, remember, you must not apply perfume, wear perfumed clothes, nor use any perfumed products such as shampoo, soap, tissue etc while you are in ihram. </p></td></tr>
            <tr><td>Miswak</td><td>Miswak is not only a traditional and natural alternative to the modern toothbrush; more importantly it is sunnah to use. Apart from this, medicinal benefit of miswak use is well-documented. </td></tr>
            <tr><td>International power converter </td><td>All countries don't use the same types of electrical outlets. If you need to plug in electronics while you're abroad – hair dryer, curling iron, cell phone, laptop, digital camera, etc. – then you'll need an international power converter set to make sure your charger fits the wall socket. </td></tr>
            <tr><td>Multi-blade pocketknife, can opener, nail clipper, small scissors</td><td>May need for anything. </td></tr>
            
</table>
        <br />
</div>
</div>