@{
    ViewBag.Title = "Travel Alerts on FCO Website";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="row-fluid">
    <div class="Footercontent">
        <h4>Travel alerts on FCO website</h4>
        @*<h5>1. Introduction</h5>*@
        <p>
            If you want to know whether or not it is safe to travel to a certain place, you should look at the travel advice page for the country you’re travelling to.  The Foreign & Commonwealth Office (FCO) issues information and advice to help individuals make their own decisions about foreign travel. 
        </p>
    </div>
</div>