
@{
    ViewBag.Title = "Umrah in Ramadan";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">
          #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

     .arabicCSS p {
        font-size: 25px;
        font-weight: normal;
        /*text-align: right;*/
        line-height: 40px;
        padding: 25px;
    }

 

      /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>

<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li>Umrah in Ramadan</li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>
<div class="row-fluid">

    <div class="Footercontent">

        <h2>Umrah in Ramadan</h2>

        <br />
        <div class="row" style="background-color:#4d4d4d; margin-left:2px;">

            <div class="arabicCSS">
                <p style="font-size:30px; color:#ffb31a; text-align: right;">
                  

                        حَدَّثَنَا مُسَدَّدٌ، حَدَّثَنَا يَحْيَى، عَنِ ابْنِ جُرَيْجٍ، عَنْ عَطَاءٍ، قَالَ سَمِعْتُ ابْنَ عَبَّاسٍ ـ رضى الله عنهما ـ يُخْبِرُنَا يَقُولُ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم لاِمْرَأَةٍ مِنَ الأَنْصَارِ سَمَّاهَا ابْنُ عَبَّاسٍ، فَنَسِيتُ اسْمَهَا ‏"‏ مَا مَنَعَكِ أَنْ تَحُجِّي مَعَنَا ‏"‏‏.‏ قَالَتْ كَانَ لَنَا نَاضِحٌ فَرَكِبَهُ أَبُو فُلاَنٍ وَابْنُهُ ـ لِزَوْجِهَا وَابْنِهَا ـ وَتَرَكَ نَاضِحًا نَنْضَحُ عَلَيْهِ قَالَ ‏"‏ فَإِذَا كَانَ رَمَضَانُ اعْتَمِرِي فِيهِ فَإِنَّ عُمْرَةً فِي رَمَضَانَ حَجَّةٌ ‏"‏‏.‏ أَوْ نَحْوًا مِمَّا قَالَ‏.‏
                  
                </p>

                <p style="text-align:left; color:white;">
                    Narrated Ata that I heard Ibn `Abbas saying, "Allah's Messenger (pbuh) asked an Ansari woman (Ibn `Abbas named her but `Ata' forgot her name), 'What prevented you from performing Hajj with us?' She replied, 'We have a camel and the father of so-and-so and his son (i.e. her husband and her son) rode it and left one camel for us to use for irrigation.' He said (to her), 'Perform `Umra when Ramadan comes, for `Umra in Ramadan is equal to Hajj (in reward),' or said something similar." (Sahih Al-Bukhaari, 1782) (Sahih Muslim, 1256)
                </p>
            </div>

        </div>
        <br />
            <p>
                It is clearly evident from the above hadith that the best time to perform 'Umrah is during the month of Ramadhan.  However, the scholars also differs concerning the one who attains the virtue mentioned in the hadith.  A few think that this hadith applies only to the woman who was addressed by the Prophet (pbuh), while the view of the scholars of the four madhhabs and others, that the virtue mentioned in this hadith is general in meaning and applies to everyone who does ‘umrah in the month of Ramadan. Nevertheless, what is meant by equivalency between the reward for ‘umrah in Ramadaan and the reward for Hajj is equivalency in terms of amount, not in terms of type. Undoubtedly Hajj is superior to ‘Umrah in terms of the type of action.  
            </p>
            <p>
                The one who does ‘umrah in Ramadaan will attain a reward equal in amount to that of Hajj, but the action of Hajj brings special virtues and status that are not present in ‘Umrah, such as du’a in ‘Arafah, stoning the jamaraat, offering the sacrifice and so on. Although they are equal in terms of the amount – or number – of reward, they are not equal in terms of type or nature. What is meant by the hadith is that they are alike in terms of reward, not in terms of fulfilling the duty. 
            </p>
            <p>
                It is also important to understand that ‘Umrah in Ramadhan does not remove from the one obligation of performing the obligatory Hajj, i.e., the one who does ‘Umrah in Ramadaan has not discharged the duty to perform the obligatory Hajj for the sake of Allah. 
            </p>
        

     
    </div>
</div>