@{
    ViewBag.Title = "Umrah and Talbiyah";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">

          #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        text-align: right;
        line-height: 35px;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;        
    }
            /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>
<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li>Umrah and Talbiyah</li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>
<div class="row-fluid">
    <div class="Footercontent">
        <h2>Umrah and Talbiyah</h2>

        <p>
            The Talbiyah is a prayer invoked by the pilgrims during hajj and ‘umrah. This prayer is constantly repeated by pilgrims throughout the hajj especially when meeting other pilgrims, moving from one place to other. It is the pilgrim’s answer to Allah’s invitation to hajj. ‘Here I am, Lord, responding to Your call.’ Some recite this with great joy, while others are overwhelmed with emotion. Their eyes are full of tears due to over happiness.  Being able to see yourself in the midst of millions of people and feeling that you are important to Your Creator, it is simply beyond description. Millions of pilgrims are unified by reciting the talbiyah in the same language, and also by their simple ihram attire, worn by people from every status, culture, language and background.   
        </p>
        <p>
            The text of the talbiyah is:   
        </p>

        <div class="center">


            <p>
                <font size="4">

                    لَبَّيْكَ الَّهُمَّ لَبَّيْكَ، لَبَّيْكَ لَا شَرِيكَ لَكَ لَبَّيْكَ، إنَّ الحَمدَ وَ النِّعْمَةَ لَكَ وَ الْمُكَ لَا شَرِيكَ لَكَ‏
                </font>
            </p>
            


        </div>
        <p>
            (Labbayka Allāhumma Labbayk. Labbayk Lā Sharīka Laka Labbayk. Inna l-Ḥamda, Wa n-Niʻmata, Laka wal Mulk, Lā Sharīka Lak.)
        </p>
        <p>
            "Here I am at Thy service O Lord, here I am. Here I am at Thy service and Thou hast no partners. Thine alone is All Praise and All Bounty, and Thine alone is The Sovereignty. Thou hast no partners."
        </p>
        <p>
            At the time of reciting Talbiyah men should raise their voices, because the Prophet (pbuh) said: “Jibreel came to me and told me to tell my companions and those who are with me to raise their voices when reciting the Talbiyah.” Classed as saheeh by al-Albaani in Saheeh Abi Dawood, 1599. And he (pbuh) said: “The best of Hajj is that in which voices are raised in the Talbiyah and the blood of the sacrificial animal flows.” Classed as hasan by al-Albaani in Saheeh al-Jaami’, 1112. 
        </p>
        <p>
            A woman should recite in such a manner that those who are beside her can hear it, unless there is a man beside her who is not one of her mahrams, in which case she should recite it silently. 
        </p>
    </div>

</div>