@{
    ViewBag.Title = "What is Umrah Hajj? - Legal Status of 'Umrah, Time for 'Umrah";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<style type="text/css">

        #btninformation {
        background-color: #D95902 !important;
    }
    .Footercontent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .Footercontent p {
            text-align: justify;
            line-height: 25px;
            font-size: 1.1em;
        }

        .Footercontent li {
            text-align: left;
            line-height: 25px;
            font-size: 1.1em;
        }

    .arabicCSS p {
        font-size: 20px;
        font-weight: normal;
        text-align: right;
        line-height: 35px;
    }

    /*//breadcrumb starts here//*/
       ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
    }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//breadcrumb ends//*/
</style>


<ul class="breadcrumb">

    <li><a href="~/Information/Index">Guides</a></li>
    <li><a href="../Footer/UmrahhajjGuide">Umrah Hajj Guide</a></li>
    <li>What is 'Umrah Hajj?</li>
    @*<li class="active" style="color:black">@ViewBag.Title</li>*@

</ul>
<div class="row-fluid">

    <div class="Footercontent">

        <h2>What is 'Umrah Hajj?</h2>


        <p>
            The 'Umrah Haj is sometimes called the 'minor pilgrimage' or 'lesser pilgrimage', the Hajj being the 'major' pilgrimage. The Hajj is compulsory for every able-bodied male and female Muslim who can afford it while  the Umrah is not but highly recommended. The ʿUmrah Hajj can be performed at any time of the year, in contrast to the Hajj.
        </p>

        <p>
            The 'Umrah is derived from al-i'timar which means a visit. Here it means paying a visit to Ka'ba, performing tawaf around it, walking  Safa and Marwah seven times, and then shaving one's head or cutting one's hair short. 
        </p>
        <p>
            Abu Hurairah reported that the Prophet (pbuh) said, "From one 'Umrah to the next is an atonement for any sins committed in between, and the reward for an accepted Hajj is nothing but Paradise." (Sunan an-Nasa'i 2629)
        </p>
        <p>
            Narrated Qatada, I asked Anas how many times the Prophet had performed Umra. He replied, "Four times. 1. Umra of Hudaibiya in Dhi-l-Qaada when the pagans hindered him; 2. Umra in the following year in Dhi-l-Qaada after the peace treaty with them (the pagans); 3. Umra from Al-Jrrana where he distributed the war booty." I think he meant the booty (of the battle) of Hunain. I asked, "How many times did he perform Hajj?" He (Anas) replied, "Once. " (Sahih Bukhari, Chapter no: 27, Book of Minor Pilgrimage (Umra))
        </p>

       <h3>   Legal Status of 'Umrah </h3>
            

        <p>
            The scholars are in agreement that ‘Umrah is not only a prescribed worship in Islam but also an act of virtue; however, they differ as to whether it is obligatory or not.
        </p>
        <p>
            According to the Hanafi and Maliki School, 'Umrah is a sunnah act and mustahabb, but not obligatory. This was also the view favoured by Shaykh al-Islam Ibn Taymiyah. In favour of their evidence they quote a hadith narrated by al-Tirmidhi  (931) from Jaabir who said, "the Prophet (pbuh) was once asked about 'Umrah, and whether it was obligatory (wajib), to which he replied, 'No, it is not, but it is better if you perform it." (Jami` at-Tirmidhi, Vol. 2, Book 4, Hadith 931)
        </p>
        <p>
            However, al-Shaafa’i, Ibn ‘Abd al-Barr, Ibn Hajar,  al-Nawawi,  al-Albaani  and others classed this hadith as Da’eef al-Tirmidhi. Imam Shaafa’i said as this was da’eef, therefore, it could not  be used as evidence. There is nothing proven that says that ‘Umrah is a voluntary act of worship. Ibn ‘Abd al-Barr said, as this hadith was narrated with isnaads that were not valid, therefore, such reports could not be used as evidence. 
        </p>
        <p>
            On the contrary, both the Shafi'i school and Ahmad think 'Umrah is an obligatory (wajib) ritual in Islam, this is because Allah(SWT) says in the Qur'an, "And complete the Hajj and 'Umrah in the service Allah." (Al-Quran: 2:196) As in this verse, 'Umrah is mentioned along with Hajj, which is obligatory, which means - 'Umrah must be obligatory likewise, even though the former is preferable.  According to Shaykh Ibn Baaz ‘Umrah is obligatory once in a lifetime, like Hajj (Fataawa Ibn Baaz, 16/355). Shaykh Ibn ‘Uthaymeen is also in the same opinion that 'umrah is obligatory (Al-Sharh al-Mumti’ 7/9). 
        </p>

      <h3>Time for 'Umrah</h3>
               

        <p>
            With regard to time for 'Umrah, the majority of scholar is of the opinion that 'Umrah may be performed any time during the year. However, Abu Hanifa is on the opinion that it is disliked to perform 'Umrah on five days: the Day of Arafah, the Day of Nahr (i.e. 10th Dhul-hijja), and the three days of Tashriq (11th, 12th, and 13th of Dhul-hijja). 
        </p>

        <p>
            It is also evident in the hadith that 'Umrah can be performed before Hajj or after Hajj. Narrated Ibn Juraij that `Ikrima bin Khalid asked Ibn `Umar about performing `Umra before Hajj. Ibn `Umar replied, "There is no harm in it." `Ikrima said, "Ibn `Umar also said, 'The Prophet (pbuh) had performed `Umra before performing Hajj.'" (Sahih al-Bukhari: Vol. 3, Book 27, Hadith 2)
        </p>
        <p>
            Conversely, when 'Aishah (the mother of the belivers) due to her menstruation could not perform 'Umrah before Hajj, the Prophet (pbuh) commanded her brother Abdur rahman to accompany her to Tan'im (the miqat) in order to perform 'Umrah. So she performed 'Umrah right after Hajj in the month of Dhul-hijja.  (Sahih al-Bukhari 1762)    
        </p>
    </div>
</div>