@{
    ViewBag.Title = "Your Rights";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
@*<link href="~/Content/cssStep.css" rel="stylesheet" />
    <h2>YourRights</h2>

    <nav role='navigation' class="step">

            <ul class="">
                <li>
                    <a class="one" href="#">
                        لَبَّيْكَ الَّهُمَّ حَجّاً
                    </a>
                </li>
                <li><a class="two" href="#">

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book


                    </a></li>
                <li><a class="three" href="#">Step 3</a></li>
                <li><a class="four" href="#">Step 4</a></li>
            </ul>

    </nav>*@
<style type="text/css">
    .step .media-body {
        border: 1px solid #ddd;
        /*padding: 10px;*/
    }

    .step .media {
        padding: 20px;
    }
    
</style>
<div class="step">
    <div class="media">
        <a href="#" class="pull-left">

            <img class="media-object" alt="64x64" style="width: 70px; height: 80px;" src="~/Content/images/Step.jpg" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <div class="media">
        <a href="#" class="pull-left">

            <img class="media-object" alt="64x64" style="width: 70px; height: 80px;" src="~/Content/images/Step.jpg" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
    <div class="media">
        <a href="#" class="pull-left">

            <img class="media-object" alt="64x64" style="width: 70px; height: 80px;" src="~/Content/images/Step.jpg" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
</div>